mini_project.json
[
    {
        "id": "9a3ea223177b17c7",
        "type": "tab",
        "label": "Individual Assignment",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9c238eacdfb8bbfa",
        "type": "ui_svg_graphics",
        "z": "9a3ea223177b17c7",
        "group": "779c2417187d5e0e",
        "order": 7,
        "width": "0",
        "height": "0",
        "svgString": "<svg xmlns:inkscape=\"http://www.inkscape.org/namespaces/inkscape\" xmlns:sodipodi=\"http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" xmlns=\"http://www.w3.org/2000/svg\" width=\"100%\" height=\"100%\" viewBox=\"0 0 400 300\" version=\"1.1\" id=\"svg4\" sodipodi:docname=\"thermostat-dashboard-svg.svg\" xml:space=\"preserve\" inkscape:version=\"1.3.2 (091e20e, 2023-11-25, custom)\" preserveAspectRatio=\"xMidYMid meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"400\" height=\"300\" style=\"fill:none;stroke:none\"/><defs id=\"defs4\"/><sodipodi:namedview id=\"namedview4\" pagecolor=\"#ffffff\" bordercolor=\"#000000\" borderopacity=\"0.25\" inkscape:showpageshadow=\"2\" inkscape:pageopacity=\"0.0\" inkscape:pagecheckerboard=\"0\" inkscape:deskcolor=\"#d1d1d1\" showguides=\"true\" inkscape:zoom=\"2.45\" inkscape:cx=\"196.73469\" inkscape:cy=\"145.5102\" inkscape:window-width=\"1920\" inkscape:window-height=\"991\" inkscape:window-x=\"-9\" inkscape:window-y=\"-9\" inkscape:window-maximized=\"1\" inkscape:current-layer=\"svg4\"/><!-- Background --><rect x=\"0\" y=\"0\" width=\"400\" height=\"300\" fill=\"#f0f0f0\" rx=\"10\" ry=\"10\" id=\"rect1\"/><!-- Title --><text x=\"200\" y=\"30\" font-family=\"Arial, sans-serif\" font-size=\"20\" fill=\"#333\" text-anchor=\"middle\" id=\"text1\">Thermostat Dashboard</text><!-- Temperature Display --><circle cx=\"200\" cy=\"120\" r=\"70\" fill=\"#fff\" stroke=\"#333\" stroke-width=\"2\" id=\"circle1\"/><text x=\"176.06526\" y=\"130.57722\" font-family=\"Arial, sans-serif\" font-size=\"36px\" fill=\"#333333\" text-anchor=\"middle\" id=\"temp\" inkscape:label=\"#temp\">22</text><!-- Thermometer Icon --><!-- Cooling Button --><rect x=\"50\" y=\"220\" width=\"120\" height=\"40\" fill=\"#4dabf7\" rx=\"5\" ry=\"5\" id=\"cold\" style=\"fill:#808080\" inkscape:label=\"#cold\"/><text x=\"118\" y=\"245\" font-family=\"Arial, sans-serif\" font-size=\"14px\" fill=\"#ffffff\" text-anchor=\"middle\" id=\"cool\" inkscape:label=\"#cool\">Cooling:  OFF</text><!-- Snowflake Icon --><!-- Heating Button --><rect x=\"230\" y=\"220\" width=\"120\" height=\"40\" fill=\"#ff6b6b\" rx=\"5\" ry=\"5\" id=\"hot\" style=\"fill:#808080;fill-opacity:1\" inkscape:label=\"#hot\"/><text xml:space=\"preserve\" style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:33.4243px;font-family:Arial, sans-serif;-inkscape-font-specification:'Arial, sans-serif';fill:#000000;fill-opacity:1;stroke-width:0.783382\" x=\"203.90663\" y=\"134.0578\" id=\"text9\" transform=\"scale(1.0464523,0.95560973)\"><tspan sodipodi:role=\"line\" id=\"tspan9\" x=\"203.90663\" y=\"134.0578\" style=\"font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-family:Arial, sans-serif;-inkscape-font-specification:'Arial, sans-serif';stroke-width:0.783382\">°C</tspan></text><text x=\"300\" y=\"245\" font-family=\"Arial, sans-serif\" font-size=\"14px\" fill=\"#ffffff\" text-anchor=\"middle\" id=\"heat\" inkscape:label=\"#heat\">Heating:  OFF</text><!-- Flame Icon --><image width=\"28.734697\" height=\"24.653078\" preserveAspectRatio=\"none\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAgAAAAIACAYAAAD0eNT6AAAABHNCSVQICAgIfAhkiAAAIABJREFU&#10;eJzs3XeYHEed//F39eyuVisHWbKwLZwtaVdykjzGJHPYJqc70nFHMPyOeHeYaEw+bEwOJprgI51J&#10;d4fvgAMDBgyYjI1XwUm7a8kJIwcsW05aaXdn6vdH7SyzE7t7enqqW596Hh6smdlX17eqp781HarM&#10;mjVrBhYuXGhHR0eniVmKxWL/5OSkqfxbnjx58uTJk+e3F+QpGHny5MmTJ09euGLaf6R7G5cnT548&#10;efLk9caLPQDwMRh58uTJkydPXrgSawDgazDy5MmTJ0+evHAl8gDA52DkyZMnT548eeFKpAGA78HI&#10;kydPnjx58sJ5oQcAWQhGnjx58uTJkxfOCzUAyEow8uTJkydPnrxwXtsBQJaCkSdPnjx58uSF81oO&#10;ALIWjDx58uTJkycvnNd0AJDFYOTJkydPnjx54byGA4CsBiNPnjx58uTJC+fVDQCyHIw8efLkyZMn&#10;L5xnonw46Y3LkydPnjx58nrjmSgfTnrj8uTJkydPnrzeeKaXG5cnT548efLk9cYzeQpGnjx58uTJ&#10;kxfOC/IUjDx58uTJkycvnBf0cuPy5MmTJ0+evN54QS83Lk+ePHny5MnrjRfkKRh58uTJkydPXrhi&#10;2n+kexuXJ0+ePHny5PXGiz0A8DEYefLkyZMnT164EmsA4Gsw8uTJkydPnrxwJfIAwOdg5MmTJ0+e&#10;PHnhSqQBgO/ByJMnT548efLCeaEHAFkIRp48efLkyZMXzgs1AMhKMPLkyZMnT568cF7bAUCWgpEn&#10;T548efLkhfNaDgCyFow8efLkyZMnL5zXdACQxWDkyZMnT548eeG8hgOArAYjT548efLkyQvn1Q0A&#10;shyMPHny5MmTJy+cZ6J8OOmNy5MnT548efJ645koH0564/LkyZMnT5683nimlxuXJ0+ePHny5PXG&#10;M3kKRp48efLkyZMXzgvyFIw8efLkyZMnL5wX9HLj8uTJkydPnrzeeEEvNy5Pnjx58uTJ640X5CkY&#10;efLkyZMnT164Ytp/pHsblydPnjx58uT1xos9APAxGHny5MmTJ09euBJrAOBrMPLkyZMnT568cCXy&#10;AMDnYOTJkydPnjx54UqkAYDvwciTJ0+ePHnywnmhBwBZCEaePHny5MmTF84LNQDISjDy5MmTJ0+e&#10;vHBe2wFAloKRJ0+ePHny5IXzWg4AshaMPHny5MmTJy+c13QAkMVg5MmTJ0+ePHnhvIYDgKwGI0+e&#10;PHny5MkL59UNALIcjDx58uTJkycvnGeifDjpjcuTJ0+ePHnyeuOZKB9OeuPy5MmTJ0+evN54ppcb&#10;lydPnjx58uT1xjN5CkaePHny5MmTF84L8hSMPHny5MmTJy+cF/Ry4/LkyZMnT5683nhBLzcuT548&#10;efLkyeuNF+QpGHny5MmTJ09euGLaf6R7G5cnT548efLk9caLPQDwMRh58uTJkydPXrgSawDgazDy&#10;5MmTJ0+evHAl8gDA52DkyZMnT548eeFKpAGA78HIkydPnjx58sJ5oQcAWQhGnjx58uTJkxfOCzUA&#10;yEow8uTJkydPnrxwXtsBQJaCkSdPnjx58uSF81oOALIWjDx58uTJkycvnNd0AJDFYOTJkydPnjx5&#10;4byGA4CsBiNPnjx58uTJC+fVDQCyHIw8efLkyZMnL5xnonw46Y3LkydPnjx58nrjmSgfTnrj8uTJ&#10;kydPnrzeeKaXG5cnT548efLk9cYzeQpGnjx58uTJkxfOC/IUjDx58uTJkycvnBf0cuPy5MmTJ0+e&#10;vN54QS83Lk+ePHny5MnrjRfkKRh58uTJkydPXrhi2n+kexuXJ0+ePHny5PXGiz0A8DEYefLkyZMn&#10;T164EmsA4Gsw8uTJkydPnrxwJfIAwOdg5MmTJ0+ePHnhSqQBgO/ByJMnT548efLCeaEHAFkIRp48&#10;efLkyZMXzgs1AMhKMPLkyZMnT568cF7bAUCWgpEnT548efLkhfNaDgCyFow8efLkyZMnL5zXdACQ&#10;xWDkyZMnT548eeG8hgOArAYjT548efLkyQvn1Q0AshyMPHny5MmTJy+cZ6J8OOmNy5MnT548efJ6&#10;45koH0564/LkyZMnT5683nimlxuXJ0+ePHny5PXGM3kKRp48efLkyZMXzgvyFIw8efLkyZMnL5wX&#10;9HLj8uTJkydPnrzeeEEvNy5Pnjx58uTJ640X5CkYefLkyZMnT164Ytp/pHsblydPnjx58uT1xos9&#10;APAxGHny5MmTJ09euBJrAOBrMPLkyZMnT568cCXyAMDnYOTJkydPnjx54UqkAYDvwciTJ0+ePHny&#10;wnmhBwBZCEaePHny5MmTF84LNQDISjDy5MmTJ0+evHBe2wFAloKRJ0+ePHny5IXzWg4AshaMPHny&#10;5MmTJy+c13QAkMVg5MmTJ0+ePHnhvIYDgKwGI0+ePHny5MkL59UNALIcjDx58uTJkycvnGeifDjp&#10;jcuTJ0+ePHnyeuOZKB9OeuPy5MmTJ0+evN54ppcblydPnjx58uT1xjN5CkaePHny5MmTF84za9as&#10;GejVxuXJk9dTbxHwcuBZwDCwD3BHEAS/M8Z8Y+3atZfmLF558uRVlbkBQB6CkSdPXujyROBC4EAA&#10;02BWcGvtJcCLgO09qJ88efK67AW93Lg8efJ64j0X+AGtkz/Ak4HfA0tTrp88efJS8II8BSNPnry2&#10;ZQXul38ftEz+lbIS+FqK9ZMnT15KXv23P8WNy5MnL3Xvm8DzIVTyry5PAC5NoX7y5MlLyQt6uXF5&#10;8uSl6u2Fu+EvavIHOD2F+smTJy9FL9YAwNdg5MmT15oCBmMkf4CTU6ifPHnyUvQiDwB8DkaePHkt&#10;y0Exkz/A8hTqJ0+evBS9SAMA34ORJ09e81IoFBbWvhYy+QMM1L7ge7zy5Mlr7YUeAGQhGHny5DX3&#10;qLnpN0LyT6V+8uTJS9cLNQDISjDy5Mlr74GSvzx58kJcAshSMPLkyWvtgZK/PHnyXGk5AMhaMPLk&#10;yWvuAVbJX548eRWv6QAgi8HIkyevuVcqlUpxPYCsxStPnrzWXsMBQFaDkSdPXvJe7aODvtVPnjx5&#10;8by6AUCWg5EnT56Svzx58sJ5QZQPJ71xefLk+esp+cuTl28viPLhpDcuT548P71GMwb6VD958uR1&#10;7gW93Lg8efL88xol/06K7/HKk7enekGegpEnT17yyV+PDsqTl08vyFMw8uTJU/KXJ09eOC+I8uGk&#10;Ny5Pnjw/PCV/efL2PC/o5cblyZPXe0/JX568PdML8hSMPHnyohUlf3ny9lwvyFMw8uTJC1+U/OXJ&#10;27O9UMsBd2vj8uTJ642n5C9Pnry+Xm5cnrwcefsCTwcebow5aMOGDQ8AG/v7+39wzDHH3OxB/eZK&#10;DpK/AU4BngAcBljgRuAS4Hez/+5l/eTJy4RXfyRIcePy5OXAC4A3Au8E9q1NrtbaGeBC4O3AnT2o&#10;X3V5sTHmwtoXQyb/MlDocv3CeKcBHwXWNSGuBF4NXNGj+smTlxkv0iUA34ORJy9lrx/4FvARGiT/&#10;2dIHvAzYDPw/Igy6k463UCjUJfAM/fJfAnwFuJTmyR/gROBXwHM93F/kyfPKCz0AyEIw8uSl7H0Q&#10;eA6EOq1eSWA/BVakVL95HjWDjwwl/+cTbQC1APjaVVddVUypfvLkZdILNQDISjDy5KXoHQ28HiJf&#10;U38ccBVwDjDQxfo19drUL7LXxf5YDnwb+CbwkLCeMQZjzODMzMwnulw/efIy7bUdAGQpGHnyUvRe&#10;DwQxb6hbCJyNu079sC7Vr6EXsn6hvS71RxnXvuPAs6J4Nf3x8ImJiYd5sr/Ik+ed13IAkLVg5MlL&#10;0XtiAnfTHw/8Hvg4sFcKyd9mIPmvoapNoniN+mNmZubUhOvny/4nT17HXtMBQBaDkScvJa8AHFz7&#10;YszkWmD21+7GjRufmVD9GsZbKpVKcT2AbvbH7bffPjg6OvoOGpwVCVNaDMYOTaJ+nu1/8uQl4jWc&#10;ByCrwciTl4a3fPnyBdu2bZv3Wie/rGeT1/JyufytsbGxby1YsODMycnJW+N6ScdrjJkXX9L9MTEx&#10;cerMzMz5hLg5sln9aktVfSNPdub7/idPXlJe3Zcjy8HIk5eGt3jx4hnglsprCST/uWKtfd7k5OQm&#10;4J/wYJ6O2vol2R8333zzkrGxsS/MzMz8iO4kf3ATBMWqH/i5/8mTl5QXRPlw0huXJy+rXhAEP4Fk&#10;k3+VtwT4MvBLYCRO/cDv5D8+Pv6cBx98cFO5XH4xMQY6jeoHDfvjh3HqB37vf/LkJeEFUT6c9Mbl&#10;ycuqVygUPm+tjX1NPWTyegywHngbbtKh0PVLOvkDJNF+W7duPWzz5s3/Vy6XIz3aF6Z+DdrvN8CG&#10;KPWr/Nv3/U+evCS8oJcblycvq9709PQG4BNxvIhPDywE3o+b4vaksPVLOvl3UorFYv8dd9zRNzY2&#10;9trdu3dvAJ7cpTMn1WUSeG3Y+mVt/5MnLwkvyFMw8uSl7L0F+K8oXgePDh6HW+jmE1Q9HpdG8u/0&#10;0cGrrrpq7Z//fOuvrbUfMcYsSin5P58Qv/4zvv/Jk9eRF+QpGHnyUvZKwAtwiwHtbOclkFwLwOuA&#10;a4Gn+Z78lyxZss+GDRveNz09/TswxU69kPW7Fng08H/tvBzsf/LkdeQFUT6c9MblycuBZ3GT1hwD&#10;/KSZl3ByPdQYc/H69eu/c8MNNyxvU79QJenk39fXd9rdd999hbX2LGNMX6deiPpNAx8CiuiXvzx5&#10;obyglxuXJy9H3o3Ak4DnAX+pfiPp5FrlPW3Xrl0bxsbGzhgdHe32DYlhy+IgCL4wMzNzqTFmOAEv&#10;TP1+i5tV8a3A7naeJ/uLPHk994I8BSNPngfeRcAw8O/Q1eRf+fficrl8HnAZER4ZbOZBR/X7e2Dc&#10;WvtyUwV3Mfnfi5tF8W9wqwW2LR7uL/Lk9cwL8hSMPHmeePcAr+rr63uCtXai+o0uJsPH4E59n0OT&#10;VQYjelHKQ4HvGGO+ZYyZ92hfF+O9GHfZ5ZNAOYzn8f4iT15PvMjTZCa5cXny8uytWrXqV/vtt99J&#10;xpiPWGtLKdwAN4hbZfBK4BEJeO1KALwS2GyMeWbtm12K9zbgucAzgNDTJWdhf5EnL20v1gDA12Dk&#10;yfPNO+iggybXrVv3DtzNaX+M48VI1sfirotfAOydgNeoHIdbte8CY0zdNrqQ/C3ussoI8L9RvCzt&#10;L/LkpelpoQx58tLxNgGPwl2zfiCs10Gyrvw6HwOenYBXKQtxlxn+CJzU7XscZr3rgdOAVwH3RfEy&#10;vL/Ik9d1r9DLjcuTt4d5ZeBy3ORBq4GjWnkJJde9gX8ATgwC7gdzWkzP4m40/AHwHKDQ7eRvrZ0G&#10;Pop7smJrVC8H+4s8eV316r/BKW5cnryw5eCDD154++23F621RwJTQRDcMD09fSUhbwDrdv1iei8G&#10;zgP2r32jG8nVWms7vDvfMrtwTwrJ/9fAK4DxOJ4n/bsYeBhuzYMdwDXAzR7VT94e7oUaAGQlGHm5&#10;9IaCIHhbuVx+ZfUd5rPJ5g7gU7jpcdvOxNel+nXqLQM+Bryo8kJKp9W99Ky1O2b7+wLcgCNy8aB/&#10;T8BdJnkK0Ffz3h8KhcK5w8PDP+th/eTJcwP5Xm5cnrw25XDgkuoJZaBhsrkaeCZwQ8r1S9J7EvA5&#10;Y8wRtW/4mqy74H17wYIFb9i1a9ctcT0P+vcM3ICu4eqNlXiNMZ889NBD37p06dKSJ/ufvD3QazkA&#10;yFow8nLl7QeM1ibEFsnmBtxNdnekVL/EvcWLFy++77773lUul1+T0vS5XnjW2lsLhcLr1q5d+32f&#10;+iOG9zLgi83ebDCJ00fK5fKbU6yfPHnzvKYDgCwGIy8/XhAEF1prX1z9Wohk81+4VeC6Xr9uetdf&#10;f/0J09PTnwPWxvWykPytteUgCD6/aNGis1etWnWvr/0R0jsENxvhokZvtni08dG4xym7XT958uq8&#10;hgOArAYjLx/eggULjtq9e/dY5VcwREo2w8C82fd8j7eJZ4E34K4lD0XxspD8wV5bKPT9y6pVqy7P&#10;SH+08z4KnNnojRAzGj4jhfrJk1fn1c0DkOVg5OXDm56efnLM5A/uEbWu1i8lbwb4CG5Sn5+G9XxP&#10;/sAuY8y7999/2SNylPyhaq6F6hKi/Z5AhAGeR/HKy4EXRPlw0huXJ6+Jd3TltRjJZk0K9UvTuwF4&#10;Ig1WGawtGUj+vx0YGHj4yMjI+5ctWzaV0f5oVAaBw2pfDNl+C4CVXa6fPHkNvSDKh5PeuDx5Tby9&#10;IHayOSCF+vXCuwg3MPp6ozc9T/47giD4lxUrVjxuxYoVY5CL/qguy6j5MRWx/fbpcv3kyWvoBb3c&#10;uDx5jTxguoNkszBr8Ubw/gKcDpxK1X0Onif/iwcHB08YGRn58sDAgIVc9UelzDuFH6P9prpcP3ny&#10;GnpBnoKRlw+vXC6Hniu/QVmUtXhjeJfhnhD4EO5egXnFk+R/G/DcYrH47COPPPLPlRc9ab+kvbkB&#10;QMz2m+xy/eTJa1iCPAUjLzde6Fn9qosxBmP+ejDOULxxymSxWPy3/v7+R+KW/wW8SP5zq/YVi8Xv&#10;edx+SXoLoaP2a7i/exyvvJx4QZQPJ71xefKaeE1/ETUrf51UhsEU6ueNt3LlyqsOOuigxxpjzrTW&#10;xj5zklDyvwb3XPurisXiZBbaLyFvqMP2qxsAeB6vvJx4QS83Lk9eEy/SAKDm4DuUwXg78g466KDp&#10;crn8MeA44MdRvQSS/zTucsSJwO+z1n6deoVCYe/a1yK237z93fd45eXHC/IUjLzceKEvATRIXkMZ&#10;jDcp70bgyYR4ZLBSEkj+vwGOB94K7M54+8XyqLkJMMaZk7n9PQvxysuPF+QpGHm58UINABolL9z1&#10;2IZvJFg/372LcDMi/jstVtTrMPnfC7weeCxuCtw8tV9Ub2HltRjJvwzs7nL95MlrWOpmAkxz4/Lk&#10;Nfl42wFAi+QV4CZX6Wb9suDdA7yKmkcGK6XD5H8xcAzwSVwC8yHennnW2qHZ/49D7ex2/eTJa1Zi&#10;DQB8DUZebryW9wCESF4L6z6QbP2y5P0S98jgu3HX6jtJ/rcBz8XNXX9rQvWrK1nzgIUdPH2xM2vx&#10;ysuP19f+I93buDx5TcqDzd4ImbyGcL+Au1W/rHmTuEWFthtjPlX7ZsjkVcZdVri/C/XLtFculwfi&#10;esBk1uKVlx8v0hkA34ORlxuv4RmACL9cQ50B8CjeVLxCoVA3sIrwy9Wi5N/Mi7RaY6XMzlsxt69n&#10;KF55OfFCDwCyEIy83Hh19wBEPG3d9oDsWbypeNTcHNnJpEFZiDdFL/IAoGp/3plC/eTJa+iFGgBk&#10;JRh5ufHmnQGIcc265QHZw3hT9UDJP2Ev0j0n8/dnszOD8crLidd2AJClYOTlxps7AxDzhrWmB2RP&#10;403NAyX/LnihzwDU7892MoPxysuJ13IAkLVg5OXG2wkd3a3e8IDscbypeIBV8u+KF2oA0Hh/bn7D&#10;a4L1kyevodd0AJDFYOTlxpvs8Dn1ugOy5/Gm4pVKpVJcDyBr8abotb0E0GJ/jrXwVc7aT16PvIYD&#10;gKwGIy8f3po1a2Zqf6pG/OU674Dse7y+e7XJy7f6eeC1PAPQZjAbeeErD+KVlxOvbh6ALAcjL5x3&#10;8803D957770rgAVBEPxl9+7dW32q3+TkJLgDY9wZ1uYOyFnoD589Jf9QXtMzACHOZEUaAKQUrwWO&#10;BQaAO4E/eVY/eQl5fVE+nPTG5aXr9fX1nbx+/fqzrLVPNsYMwNzB6E+4eePPB3b0qn413k5gKOY1&#10;66EU6pd7T8k/tNfwDEDIy1ihLwF0O97rr7/++Onp6TcBT2d+TH8Gvgp8mBbHB4/6Q15IL4jy4aQ3&#10;Li81zwRB8OGZmZlfAn9bk/wBDgHeA1wPvBIPng4BdnZww9qQ5/3hvdcoeflUP8+8ugFAhHtYQg0A&#10;uhnvjTfeeMDY2Ni/T09P/wG3kmRtPA8F3oZb9OlRaddPXve8oJcbl5eOFwTBx621Zxnz13kfmhyM&#10;9gcuAK4ETk6rfo08YlwbrZQgCBb53B++e01WWYxdfI83AW/eJYCIN7C23c+7Fe/27dv7x8bGXj85&#10;OXlNuVx+Ce0H/gcCPwVOTKN+8rrvBXkKRl59KRQKTy2Xy6+tfi3EL+t1wK+Ab+BG/12rXwsv1t3R&#10;swffuV8wvvWH716HT1/UFd/jTcib299itF/L/bxb8Y6Pjz/xjjvuGLXWfgjYJwIxBHyT2RU3Pe0P&#10;eSG9IE/ByKv3yuXyv5mqo1KEg7kBXoBbSvYcYDDleCOfAagKc2EK9cudp+Qf2xuC2O3XdADQjXiv&#10;vvrqFZs3b/5muVz+vjFmOGb/rgRe6HF/yAvpBVE+nPTG5XXXu+aaaw4FHlF5rYMb6s4GJjZu3Hh6&#10;kvVrE2+kMwA1B9+FPvaHz56Sf2xvAOjroP0a7udJx7vffvvtu2HDhndNTU2tB54ToX4NizH8o6f9&#10;IS+C19fLjcvrrjczM3NC5bXOvuwG4JByufylzZs3/2N/f/+ZU1NTV3dav8q/m8QbegBQe/C11g75&#10;2B++ekr+HXkLO2y/ujNdSd8AXCgUXnzPPfe83xizvFLXTo8H1tq5Y4tn/SEvghfkKRh5dd4+kEjy&#10;ry5PmJqaGgU+BuzbYf1axRtqANDk4DsYtV4x6pcLT8m/M29wcLDuOxCx/ebt5wnXrwj8tlwu/4cx&#10;ZnnM+s0rVfvL3gnUz/v+zbsX5CkYefM9YHvCyb9y8OgH3gBsBV4HFOLUr028be8BaFG/SKuzxaxf&#10;5j0l/0TusZn3yFyM9psbACRYvyXAJ4HLjTGP7LB+c6Vmf9nuY3/Ii+aFWg64WxuX112vVCpdAZTj&#10;eCGTw1LgE8AfgEfW/UGb+rWJt+UZgDb1W9TqbxOqX6Y9Jf9kPGvt3GAzZvtNJli/fuD1wFZjzGuN&#10;MfMG5kn+GDDGrPexP+RFK7EGAL4GI6/O2wb8IqoXIzmcCPwWN1vYQRHq16o0HQCEqF+kMwAZ7t9Y&#10;Rck/Oa8yAOig/XYmVL8nABuBjxtjFte+2YUzgV+P62Wpf/PuRR4A+ByMvIbeW4lwFqCD5GCA03Gz&#10;CZ5D588JN7wEELJ+oQcAOejfSEXJP/HLbHGnqwZgwYIF0x3W7xDcwPsnwJqk+7eJNwpcFMfLWv/m&#10;3Ys0APA9GHkNvStxg4C2JaGDxyLcY4NXFwqFv+sg3rozABHqF+oSQE76N3QpFAp192oo+XfmzczM&#10;9Mf1jDEUCoW5gW7E+i0C3oubp+P0ildbupD8/4KbHyTy0tJZ7N+8e6EHAFkIRl5T7yPAq4Fdzbwu&#10;HDxWlsvl727evPm7W7ZsWRkj3nkDgIj1a3sGIGf9G8rDnaWZK0r+iXixbjit7M/9/f2TEetngH8E&#10;xoB3AIPVXnXpQvK/FjgFN+iIVDLcv7n2Qg0AshKMvJbls8Ba4JLaN7p88HjK1NTU+tHR0fcRbcrR&#10;uV9GMerXcn12T/qjZx4o+SfotdzXGpXq/Xm//fabjFC/tcAvgf8EDm7kVUqSyd9au9NaezbwMOC6&#10;qF7G+zfXXs9XfZOXqjcOPAV3w9BmSOeXA262tLNmtx9qtUFmBwAx6zdAk0cTPeuP1D1Q8k/YizQA&#10;qN6frbW7li5dWgpRv8pjfVcCj2nmVblRqtS0frPlB8DRwLnEmJ47B/2ba6/lgThrwcgLXS4Fjg+C&#10;4Exr7X3Vb3Rp3oBKORC32uAVNFlWtKrs7PDgVndq1uP+SMUDrJJ/4l7oAUCD/Xlnm/oFwItxA+fX&#10;UjOo7W7yt+NBEDzdWvt04KY4Xk76N9de0wFAFoORF8ljZGTk/MHBwWONMV+01pa7nPznbR74De7u&#10;5QMbfaBQKExF8BqVeQfmDPRH171SqRT5xq3qkrV4U/JCDQCanBlrNdfFKcAG4ELcMt1tvSS+v9ba&#10;e4wxZz70oQevK5VKP4jr5ah/c+01HABkNRh50b0jjzzy9nXr1v0rbtGgP8TxYh6MDO7u5S1UPTZY&#10;qZ8xZt7BMcbBbe7AnKX+8NGr7V/f6tdjr+1NgC2+H41OqR+MGxj/AjguoherzM7tXzbGfGNoaOiY&#10;devWffrWW2+NfLq/UnLWv7n26gYAWQ5GXkfeH3Gn5V8C3BHWS+BgNPfYIPC0qvrNPbEQ8+C2EDLd&#10;H154Sv5tvZYDgDbfj+pB7kLgLbh7c06v/ZuQXuQy6/2qv7//4SMjIy9dvXr1XzLeH/IieH293Lg8&#10;7zyL+/XxPdzcAW/A3VDXsCR8MFppjLl4/fr1P+vv739j5QxAB95QDvqjp56Sfyiv6SWAEN+PygDg&#10;GcCngMNbbSjp5A/8OQiCdx1xxBHfGBgYsDnpD3kRvL4oH0564/K89XbgBgBfxd19/PjaD3TxBqTH&#10;TU1NXREEwX934vX19e2To/5I3WvUvz7VzyOv4QAg5PdjP9yp/lPabSTh79uuIAjO22effT66fPny&#10;nZCr/pAXwevr5cblee9dh3tk8Bm4RX+OhO4/emSMWVAul1/ciVe9SEuO+iMVr8kNa7GL7/F26NVd&#10;Aojw/RiZ/V/LkvD37eIFCxacedRRR91UeSFn/SEvghfkKRh5XfO+D6zGrTR2f+2bKT49EMUbAm/a&#10;LzOe1gqI7M07A5DSjHxxqHHgqcVi8dlK/vIqJchTMPK66k0Vi8XPzj42+I3KA+WeHNwaeUOetZ/3&#10;npJ/LG9uAOBp8q9czjuuWCxe6mH7yeuhF0T5cNIbl5c978gjj7xtZGTkpX19fSdba6+I66Uwfemg&#10;j+3nq6fkH9sbAi+Tfxn4GjAMfKhYLFpP209eD72glxuXl11vZmbmd8AjcY8N3hnFS+NgWS6XFzT4&#10;aKiSxf5Q8u+Zt9DD5P9H4NG4WQTv9Lz95PXQC/IUjLzUvTLuSYER3GNMM+28FA+WkRdpgcz3R+Si&#10;5N+ZR4P9rIfJfxtuQP5wZif18r395PXWC/IUjLyeefcArwOOBX7czEvXFnzsAAAgAElEQVT5l1Lk&#10;ZVpz1B+hipJ/5x41A4AeJf9p3AB8BDcgt5X6+d5+8nrrhVoOuFsbl5c7bwx4MvC3wI3Vb/TgNGmk&#10;AYAn7Zeap+SfmDe3n/Uo+V8KHI8bgM89oZOh9pPXQy/WAMDXYOR5430ft4Tou4HJHl0j3Ses52H7&#10;ddVT8k/G27lzZ8DsGYAeJP/KYHtuae/a+lX+7Wv7yeu9F3kA4HMw8rzyJoFzBgcH11Q/NgipHSxf&#10;iTsd+pBWnsft1xVPyT8Zb2Ji4sSbb775MmPMYMrJ/0HcwHotDS63ZaX95Pnh1e99KW5c3p7jTUxM&#10;PGZmZubjuPsEYpWYyese3AHzM9TcpJil9kvCKxQKLy2Xy1+qfi1C8iqhtUP6r7322oOmpqbeXy6X&#10;X2CMMSkmfwt8HXgzcHuz+vnefvL88kKfAchCMPL89Y4//vhf4X61vAT4S1Svg1+u++GmMb4aeFKz&#10;+vnefgndsDavEfXLP3xZvnz50IYNG16za9euq621L0w5+V/JXx/rU/KXl5gXagCQlWDkee9VHhtc&#10;DXx+9t9tS0KnrUeAS4BvLViwYEVG2y8RD5T8o5RCofDMbdu2bbLWnmeM2QdSu4x1O/D/gJOA3zfz&#10;fG8/ef56bQcAWQpGXma8hwJLCbH/deEGwr/fvXv3VWNjY++99dZb98po+8X2QMk/QllpjPlBuVz+&#10;jjFmReXFFH/5740bLC9u9gHP20+e517LA3DWgpHnvXc08C1gI/D37bxuPT1gjFlorT3rvvvu2zQ6&#10;Ovp8It4LUylZ6w/AKvmHKouAc3CXjZ5a/UbKN/wtAt4C3AJ8kJqBgMftJy8jXtMBQBaDkeettxp3&#10;6n8TLvG3TbhpPDoIHAxcCPwcOC6Kl8X+KJVKpbgeQNbijeEZ3HX2LcaYs40x86aT7uEMf3vhBgJb&#10;cQOTfTxtP3kZ8xoOALIajDzvvMOBC3C/pE4HCmG8HswbcAqwATdIWdbOy3B/xCq17edb/RLyisBv&#10;gAuNMQfWvunBqn4AS4Czga0bNmw467bbblsI3rSfvAx6dXtmloOR5413IPAm4FVApEV5PFhY5W7g&#10;XOB83KNv80pG+6PivQT4jyhepf2staU1a9bkcYnlA3GPib4cCDzY/0J71tpbgyD4eLlc/gywO47n&#10;YX/IS9ELonw46Y3Ly5d300037T86OvoeYAJ4LdlL/uB+ZX0C9+jV31S/kbX+0C//lqUfN33uOG7S&#10;qEwl/9l/H1wul8/Dfd9eSc08De2KZ/0hrweeifLhpDcuLx/eTTfdtHTXrl1vKJfLZ0D0RXjAm+Tf&#10;qFwMnFEsFrdlpT9aeKHPANS2n7W2biKgLtQvLe/xuEHe0ZUXPN7/ong34m4W/BINzl5VF8/6Q16P&#10;PNPLjcvLtvenP/1p7wcffPBV5XL5LUSYe7+2+H7wBXYGQfCxxYsXf+TAAw/c5Wt/hPBCDQCatF/s&#10;AYBH+/MK4P3UPIHi+/4Xw7sOd7Pg/zC7MmB18ag/5PXYM3kKRl463vXXX7/3Aw888M/lcvksY8zi&#10;jB8sQ3vW2j8VCoWzS6XSV+J6Pe7ftgOAFu0XawDgyf68CDgLeCs1l6WytP/F8K4G3kPVQMCT/pDn&#10;iRfkKRh53fUWL168eMOGDWfdd999E9ba9/Uw+V+N+xX3AapufkrhmushpVLpy8BPgDVRPd/7N4cL&#10;BRnc0ycTuLvnU0v+1totQRA831r7AeCBTr2Y9TsWN+/Gb4HHedAf8jzzgigfTnrj8jLjDQRB8C87&#10;duy4bjbxL4We/LK5EfdkwTrcr5q3467jXpTyL68n4OY0uAA3o2Hb4nn/5jH5nwD8Gvdo5/LaN7u1&#10;v1hrdxpj3rv//vufUCqV/gu3jx4BfAi3QmYkL6H6PdIYc+n69esvm5iYeCz4t//J640X9HLj8rz3&#10;+nF3F99grf2sMeagyhspJ/+bcYl/FfDvzL/BaWuxWHxhoVB4EthrU6xfH65tJnB3kzed48Dj/gVy&#10;l/yXAp8ErsAtoFNXupH8Z6dY/N8FCxYct27dunPvuuuu+6s+chfu8sPhuIHArnZe0vWbLY8qlUo/&#10;2bz5uh+Ojo6ui+v5vj/LC+8FeQpGXmJegDvFfp0x5gJjzEOr30wx+d8KvB4YxiX+mdoPVOJdtWrV&#10;ZQ95yAEPN8acaa29N6X6wV8fG7wCOLlZ/Sr/9qR/50qOkn8fbiC2FfcIasMBWXeSq93Y19d32urV&#10;q19wzDHH3NIi3jtxA4HKQLZuf07nTBaPAy4Hfoo7UxK6+L4/y4vm1e8dKW5cnndeADwHd+PQcA9v&#10;aPoLcB7wKVqcNm0R71LgXcCrCTn7YMT6NSsWd2niTcAtHvbvvJsAI8bb9ibAHsZ7Gu5X/zGtvC48&#10;HXJ3EATvW758+ef22WefUox4DwfeBrwMKPTo+2aBHwDvxF3Walo83J/ldeiFWg64WxuX541ngGcA&#10;o7ibhnqV/LfjZmU7ijbXTNvEux33a/Ak3A1QSdWvLYM7c7I5CIJzb7zxxrk5EXzbX3Lyy/8Q3DX+&#10;n5Fu8p8JguCLQ0NDx4yMjJwfM/kD3IS7tHVsEATfsNbOWx47pcG2AZ4OrMd991c2+pBnxyt5CXmx&#10;zgD4Goy8WN7jcXfTn1h5oQfJ/37gs7P1aHv6PmK8Bngu7ozCITHrF6lU3RC2pVAovGvt2rX/48n+&#10;8hLgP2LG2/QMQA/25yHgzbgFcgbbeQn37y/6+/vPXLly5dz9JknFe/311x89MzPzDmvts+ng7GyH&#10;8U4D/4UbiG+trl/lAzk7/u3RXuSdzOdg5EXyTgbeCzy2+sWUk/+DuDn3PwTcE8brIN6Gz4KnFO/P&#10;cGckrq17s01JeH95iTHmPxrUL8zfNhwA9GB/fgbwaeCwMF6C/Xsr8I5isfifKcS7GndKvu2S2bUl&#10;wXinga8MDg5+4Mgjj9xWU788HP/kEXEA4Hsw8kJ5j8Ql/tNq30gx+e/GLcN7NnB7WC+h9lsBfBx4&#10;esqDnWngc7h7E0LdpJj0/lIoFF5aLpe/1KR+7UrdACDl/Xkt7p6Qx4T1EurfncBHgA8Wi8VSyt/f&#10;R+Lux3lcGK9LTzdMBUHw1QULFpy7Zs2a23Nw/JNX5YW+ByALwchr6R0J/BD4Hb1L/rtxv96OwF37&#10;TDv5A2wBnlEoFJ5prb2+pn4xOFdCtF8/7u70MeD/0Wbw3Y39pXabGbnmvz/wedziTGkmfwv8NzAC&#10;nNOD5A/we9wluicAf2jldev7a4wZsNa+fHJy8rrR0dGzcPtx5OLB8U9eAy/UACArwchrWp4IXAU8&#10;pdGb3U7+1tppa+0XcI8/vRa4LYrXjfYbHh7+0bJly04wxrzdWnt/io82Hgh8BXdwP6lZ/bq5v7Sp&#10;X2SvS/uzBc7AzbPwKtJ9mmMTcArwj8CfPPj+Xoo7G1C5WW9eSWPwDuwFvA+4DNg3iudB+8lr4rUd&#10;AGQpGHkNy/HA/+GugdeVLk+HWjLGfB1YjZs055aoXjfbb9myZVPr1q37KG6ega/SYOGUdqWD9ns4&#10;bhDwFdygoK5+sMcm/8cAG3Bni/aL4nW4P28H/hUoAr9qUb9eHQ9+gLtZ9znM3k/Sgxt2HwV8h5BP&#10;kHnWfvJqvJadmLVg5NUVA3yZJndKd/Hu97Ix5qKBgYG15XL5dGbvJo5aUmy/23B3yD8Kd6o5VEmg&#10;/QLc5YBx4E3Lly8f6nLytz4n/61btx46Ojr6TUI81teodNAfM8BncGeoPsfsTJMefH8bFQt8Gziu&#10;UCi82Fo7Me/NdM5knQq8op3nafvJq/KaDgCyGIy8uvJYmsz01cXpUL/X399/0rp16144NTV1TVyv&#10;R+33B9wv85cDd7TyEm6/fYwxH9m2bdv68fHxJ7aoX+jSKN5SqdRyjfh2pVv9sW3btqGxsbF37t69&#10;+yrcI5uRSwf9cRnuO3IGcHej+oGXx4PC8PDwfy9fvnxdEASvsNbelPL03G+kxX0sGWg/eaOj0w07&#10;MKvByKsrH8Y9+javdOmX/88KhcK7Vq1adWVO2q+HS8jan1nLa4DNcbwW8bZdDrhZ/ay1pTVr1gzV&#10;eLFKdf3Gx8efViqVPoabFS9Widkff8Yt1PM1ai79eLL/RfUAng+cg7vJNnTpYH9eQYOzexltvz3S&#10;qzsDkOVg5NWVkdoXkk9eXFYoFE5ZvXr1U3OU/MHNUXAObuXBn1ReTHGu9g24iZH2iuIl3X619Uuq&#10;P66//vpjNm/e/JNyufxt0k3+k7hJblbR4L4Pj/a/qN40Lp41uPUzWp7BqpQO9+fVEeoXq8jrrhdE&#10;+XDSG5fXdW/eIzsJJ6/f9fX1PWn16jVPWrVq1e9j1m9e8bD9wP0KfxLwTBr82uniadcFuLMP48CL&#10;CDFnRxaS/9jY2JKxsbFPTE9PXw48NuXT1v+DS1rn4J7vr6ufh/tfVG8Xbl2Eo3D7z/ZmXgLHg3nH&#10;l5y03x7lBVE+nPTG5XXdu7nyHwkm/6uB5xWLxVNWrVp1WYf1myuetl+198MDDjjg+NnVBu+H1G64&#10;Wo47TX058IgW9etq8gfoxFuxYsWCjRs3nv7ggw9eba39F2NMX4rJfwx4Mm5mvZsbfSAD+19U70Hc&#10;DJuH4wYCO6rfTOh4cFMH9WtZ5KXjBb3cuLyue7+CxL7sVwPPBo4vFovf9TTernpLly6dHhkZOX9w&#10;cPA4a+03ifHYIMTuj4fhFjb6ArCsUf0q/+5G8u+k9PX1nbZ165YryuXyl4wxyyC1wdM9wGuAY4Ef&#10;N/Oysv/F9B7ADQSOBN4PPJDQ8eBuZh9F9CxeeRG8IE/ByKsr38atQT6vRPyyj+NuLloLfKdYLPZ5&#10;HG8q3q5du24CXgj8De5afejS4cE3wD2hMIFbW6A/jeTfQbI+JAiC/56ZmbkUzHEJeGHrVwIuwF3n&#10;Px/3mF/DksX9L6Z3D/COoaGhYWPMx621cyttxuyPC4Epj+OVF8IL8hSMvDqvVCgU3lb9WoQv+424&#10;Z9SPxq0OVs5AvGl7v8FNzPIq4K52XoLJdTHwCWDjpk2b5uaJ9yj5D+IWsxmz1j7PVMEpJP9f4/rk&#10;n2nTJznY/yJ7hx9++F0jIyNvHRwcXG2M+ay1dioGdRvw3izEK6+1F0T5cNIbl9d9b3h4+OvGmA9Y&#10;V8L86Z9wB89h3Cjf50lRfPDKwL/jfm1+mia/Nrvx9IAxZk2pVPrR5s2bv7V169bDPEn+zwKuM8a8&#10;xxgzlIAHhKrfrcALcHNfbGzn5Wj/i+UdffTR28rl8quBlcAXcU8RhCl3An9bLBbvz1K88hqXoJcb&#10;l5eOt27durNxB8dWv4hux51WXok7fTq3/azF2yPvHtw6B+uAn1e/kcKjg383O4nOe2gy5XNEL079&#10;1gA/Bb5tjDkiAW+utKnfLtwc9SPAfxLivgxP9hdfvFtws/qtxt1s2mqyqF8BJxaLxU0ZjldeVTHF&#10;YrE/L8HIa+sN4hY4ORX3mJDFPdr2Pdw847t7XL88ec8BPmqMObz2jS7/Ev4T8GbcSna1G6qbCChC&#10;8q9bDni2LMY9VvdqoC/luem/C5wJ3BDW83h/8cU7GHd/y6OAg3CPEY4D3wSu8KB+8hL06r9dKW5c&#10;nrw8e0uWLNlnx44dZ5TL5bcZY/aC1O5+B7gCdwf8FVWvzRsARPRqBwABbn6CDwMHxPDalhbeBPAG&#10;3PLWoYvv+4s8eWl7oVZ06tbG5cnLs3fggQfuGhkZ+ejg4OCxxphvdLIST4zkehJutcGvAg9JwKsu&#10;lUcSLyTd5L8D90z7sSj5y5PXsRdrAOBrMPLk+egdffTRfy6Xyy/CXXrZFNXrILkGwOm4iXBeBxQ6&#10;9JbjBhTzJiXqdvKfvYH1a7jr/B8CIt25nrX9RZ68tLzIlwB8DkaevAx4Bdxjg+8BlrTzEk6uD1Qu&#10;RcTwLG52uXl/n0Ly/z3uUsZoHC8H+4s8eV3zCr3cuDx5e6BngT/iZvRbCBRpciauC8l1oAPPAPP+&#10;vpvJ31p7WxAEb7HWvhrYFsfLyf4iT17XvNBnALIQjDx5GfRGcIu3PLH6xZTvpvfGs9ZOB0FwwaJF&#10;i865//77my5k06541L/y5HnrhboHICvByJOXQW8Mt9rg3zK7uEpWknUXvJ8NDAycuG7dujcq+cuT&#10;132v7RmALAUjT17GvYVBELytXC6/yRizsPKip8k6Mc9ae32hUDhreHj4R571hzx5ufZa3gOQtWDk&#10;ycu4ZxYvXvzr+++//2vlcnl/4DjfknWSHvBgEAQfXrp06UsOO+ywMQ/7Q568XHtNzwBkMRh58nLm&#10;nYy7P+DYqJ7nyd8GQfDNBQsWvO2II464AzLTH/Lk5cprOADIajDy5OXQ6wNeipvvfv8wnufJf7Sv&#10;r++Nq1at+kPlhYz1hzx5ufHqvtlZDkaevBx7S4CzcXPuN71053Hy3w68Z8WKFZ8fGBiYAzLcH/Lk&#10;Zd4rRPlw0huXJ09eaG8SuAT4Pm7lvcNqP+Bp8p8GPgM8q1gs/q767zPeH/LkZd4zUT6c9MblyZMX&#10;23sG8GlmBwKeJv+f4aYgvtbD9pMnb4/3gl5uXJ48ebG9ypmAdwO7at/scfLfAjwPeDxK/vLkeesV&#10;8hSMPHl7mDddLBZ/u3379m+Vy+WDcAOCXib/ncD7cevJXwXet588eXu0Z9asWTMQ9sNJb1yePHnJ&#10;eePj4y8slUpfIsYiX9Bx8r8BeCxwa7P6+d5+8uTtaV4Q5cNJb1yePHmde9u3b+8fGxs7o1QqfZze&#10;JH+AI4H/A06urR/43X7y5O2pXtDLjcuTJ68zb2Ji4tQ77rjj8nK5fB6wbxwvwRsITwB+ZYy56Jpr&#10;rjm08qLP7SdP3p7smWKx2J+XYOTJ21O8LVu2HDU9Pf0e4Dke3O1f51lrHwyC4ONLliz58F133XV/&#10;XC8r/SFPXha9WKcLk9q4PHnyonlbt25ddN999505u2DQoI/Jv8bbArwduCiql4X+kCcvy17sAYCP&#10;wciTl1dvzZo1A+Pj488plUofNMYcCj1/1C+qNzcnQBjP9/6QJy8PXqwBgK/ByJOXR6+/v/+kmZmZ&#10;jwGPrryWseRfKdPA54B3Afc283zvD3ny8uK1XA642xuXJ09ey7IkCIIPl0qlzxtj5qb+zWjyB3e8&#10;eTjwCmA38Edg3oc97w958nLlRToD4Hsw8uTlxKusAPh+Y8zS6jcynPwblVHgtcDvwOv+kCcvl17Q&#10;/mPd27g8efLqymnABmPMBTlP/gBF4DfAVxcuXHiIp/0hT15uvVCXALISjDx5GfYOAc4HzjPGPKT2&#10;TQ+Sdbc8Y4w5fnp6+pXbt28fKJfLl++///4zHvSHPHm599peAshSMPLkZdAbAt4MvAUY9DxZd92z&#10;1l4PvAH4QRzPw/6VJ89br+UAIGvByJOXMS8LS/r2yrsUd3/A5rCeh/0rT57XXtN7ALIYjDx5GfHW&#10;Ar8CvoeSfzPv8cAm4JPAPu08z/pXnrxMeA0HAFkNRp48z70luIR2JfCYyospJdeLgXPjetba6UKh&#10;8BSwY12qX6OP9uPOAowBr6Rq8bLq4lH/ypOXKa/uC5XlYOTJ89QLgBcD47iENnfzbQrX1MestU/G&#10;XW64qRNv1apVPz/ooOVFa+3rgVjz+8eM9yDgAuAPwCOq3/Ckf+XJy6QXRPlw0huXJ28P8E4BNgAX&#10;AvtXv9HN5G+tvccYcyZwLPDjTj1w8W7btm0n7izGCPA1aibyieLN1jNKlR6GmzPgq8ABnvSvPHmZ&#10;9UyUDye9cXnpe1u2bBmZmZk5BTi4XC7PADfgEsSffKhfjrzDgI8Cz230ZhdX4SsFQfDFhQsXnvPg&#10;gw/eXvOxfwK+HMWrqts0MNDgoyfjBgQnRPFmzTBVaVZ2BEHwnmXLll2wdOnS6RzsL754Bnd56hG4&#10;S1bTwEbgp8B9HtRPXoKe6eXG5aXnXXXVVcfMzMx8HHgs1B18S8DFwLtxv1ZTr1+OvMpjfW8GFjb6&#10;QBd/+f+qr6/vzOOOO25Tk/qFGgA0qV+zAQC4M4kvB94LLAvptatGyPrZzYVC3xtnZmYuievlbP+L&#10;61ncZaq3Aisb/Nn9uHkqzgV29aB+8rrgmTwFI6+xt3Hjxr8rlUpfN8YsgJYHXwt8GzibJqu2ZSHe&#10;Hnp/D3yE2Tv7G5VuJENr7Z8KhcLbhoeHL2pTv7YDgBb1azUAqJT9gHOAf8VNZ5zm0wPfAc4Ebozi&#10;5Wz/i+xNTU2ZLVu2PBf3nW+U+GvLeuCJwPY06ievu16Qp2Dk1XubNm06qVQqfSNE8gd3Rug5wFXA&#10;N4BV3a5fTrxjgZ8D3yLF5A9MGmPev3jx4uNCJP+2JYH63YNb8nct8LOUHx18FnAd8B5gURgvR/tf&#10;ZG9qasqMj48/c8uWLaPA1wmX/MFd6vkeUMhSvPIalyDKh5PeuLzuevfee29QKs181hgzAJEOvgHw&#10;AtxZgC8Dh2ch3h54S3CnRdcDp7byupAMv7NgwYLjR0ZG3r18+fKdHiT/6nJtsVh8ShAE/2CtvSkB&#10;L2z9BoF34iYP+kdaTHSWk/0vljc+Pv7ULVu2/KFUKv03cHQM7lFBEJyRlXjlNS9mzZo1A3kJRt58&#10;b2Ji4tRSqXQJdPxLczoIgm/19/efe9RRR93ka7wpegHwItxNfnXXvGtLwsl1vFAovGl4ePgnLerX&#10;rDS8BBCyfmEuAQDz2+8vf/nLwPbt219ZLpfPAfYO8/cx69eoXAG8Zvb/G9YPMrn/xfImJiYeVSqV&#10;zgUek8BlpxtWrFixZmBgwPoar7z2JchTMPLme+Vy+SnQ+S8vY0y/tfaFu3fvvnpsbOwzo6Oj+7f/&#10;y/b1A7/br4n3N7hf/BeSbvLfAbz1gAMOKMZM/t2uH1Dffoceeujucrn8MWA1ER8bTKB+JwG/xz02&#10;+JBG9cvg/hfZ27Rp0yM3b958SalU+gUJJP/Z/z/ylltuWeljvPLCe0GegpE337PWrkzytKsxZqBc&#10;Lr8cuB74ILC00d+FrZ/v7VfjHQL8F3AZcHwYL6HkWgb+HVhVLBY/tnTp0rn4fE/+NfX7M+4u81Nx&#10;U/ymVb8AOB3YHATB62677bb+JvWLXHzfn/v6+h69fv36H5RKpV8ye4kqyeNBqVRa6VO88qJ7TdcC&#10;SGPj8rrrdfGa6yLc6nU34QYCi+PUz/f2m/UGcDe2XQv8AyFW0ITEktcfgUcBryoWizuSjDfl5F9d&#10;fom7kewlwF/Sqp8xZom19hO33bZt/fj4+BMytP/FKccYYy6amZn5NfCEyotJHw9KpVIprud5++0x&#10;XqwBgK/ByKvzbo7jRTj47oUbCNyCGwg0XLQlw+33DNwNZZ8gwvXrBJLXNlyCfDhwedLx9jD5V0oZ&#10;d1p+GPgUMNPN+s33zHC5XL54dHT028ARcTyP9+fVuHbdBDzXVAXepR8DsY4vHrffHudFHgD4HIy8&#10;Ou+yqF7Mg+/euIHA9cAb4a8T4GS0/VbiZj77HnBkFK/D5LUb+AAuMX4VsDlM/tWl8thgkdl9NcVH&#10;B5+OO6tzNjSesKlR8XR/Xom7v+IaY8zpxph5x/Uutd9dNJkrpFXxtP32WC/SAMD3YOTVed/F/ZoM&#10;VRI4+D4EOA/YArz6gAMOWJSl9rvlllv2HR0d/QjuF9Tjo3odtt/3cI9kvR14oFH9Oo23UCgUal/r&#10;YfKvLlcBpxYKhRdYa29Jqn4h+mMhbuKizTSZsrm6eHg8OAz4Im7+gxfVJn7oavtdQM2Zm3bFw/bb&#10;473QA4AsBCOvzpvCzcrWtiT8y2u5Meb8O+64Y/PY2NgZd9555wKf22/nzp3B+Pj4Cx944IGrcb9I&#10;+6J6HbTfBPA04O+ArY3qB8nEG7N+Tb2k6zc8PPy/++2333HGmHdYax9IaclhcIn0ItxZiOOa1c+j&#10;48FDcJfcxoCXAX0pT7p0I/ChKJ5n7Sdv1gt1Q1NWgpHXtJwFfLjZmyksSXsT7tT2l3DrDkQq3Wy/&#10;iYmJE2dmZj6Gu94eq8Rsvwdx8wh8AHfqv2H9ILl4x8fHX1wul78Qsn61pXJDZFr78wHA+3F38Ecq&#10;He7PZdwsmGcye5OiB9/fStkfeBNuSem5yxYpJ/87cWfHrg7redR+8mq8tmcAshSMvKblI7h56mtX&#10;h0vl4AEcjjtleNVsPUINPKF77XfDDTcsHxsb+4+ZmZnfkG7yL+Mm4zkKd/o5leQfoX6RvC7uz7fi&#10;Hht8HHBNWC+B/XnusUHgnw8//PBBD76/S3CDoRtx99r0KvlfgluSWck/J17LAUDWgpHXsvwPsAK3&#10;2tc9kPrBA2ANbr78qwkxEOhG+916660DY2NjZ+zatWuTtfb57erQqsRovytxy+e+DLijUf2U/Ou8&#10;nwPrgFfhbjxrWhLen5caYz538803/WFiYuLkFvULXWK0X+Upm63A22b/PVdS/P5eBTwPeAruiZ9Q&#10;xbPjn7wGXtODXxaDkRe67B0EvKZc5s3GmH0rL6Z4zbVSrsItIXtR7RvdaL9NmzY9rlSa+TiYkZD1&#10;a1oixnsb7tf+F3FnABrWL4X95UWEWA64SZles2bNXALq4S/hs4FXA/NuaEwhGf7AWvtq0nn0bRFu&#10;eeW3MzuDYYj6dWN/vha3RPj/EHEGR8+Pf/JmvYZnALIajLzQ3q6RkTUfXbRo0Ygx5r3W2vt7kPzB&#10;3XD1LeB3uFO9lfolGu/AwMDq9evXf7dUKv0o5eQ/jXvOfQQ3m18vk39ijw72sH53427SPBH4dbP6&#10;QVf692m4u+3PwS06FLpEiHcAeCXucdpP0KPkb60ds9a+BDfj5UUo+efWqxsAZDkYedG8ww477O51&#10;69adi7se/SFgMqqX0MHokcClwG/6+voel2C8i4IgOHdqamoD8NQO6jdXIsR7KW5Z3NcB9zXzfN9f&#10;PEr+1WUjbk2Gv6XBL/Iu9u8Q7gzEBO7+hLYlZLz9uMR/A+5emYNi1i9yqfastTcbY/4Vt7z1V/Hs&#10;hl15yXtBlA8nvXF53nh/wd0bsAr3i3V3E2Je6cLB6NGlUunSzTOsCEEAACAASURBVJs3/3BiYqLY&#10;QbwGd4DeYq39N2PMgoTqV/daA28LbgbBJ+B+MTYtvu8vnib/au+SxYsXr509i7ULUhvcHYJbDOrn&#10;uGTZrH7t4g1w98JsxiX+hyZUv1Cl4llr/2SMOXPZsmXHlMvlzxHx+f5K8X1/llfvmSgfTnrj8rz1&#10;DsNdf3wpTZ6JT+m066W4Rxg3RqBOBD5ljHlkCvWr/mfTx/oalR717z8R8h6ABqeF5x4D7GL9Yns3&#10;3HDDwbt27TqHGI8NQkf78wyuTd9B1U2KbeINgOfg7n9Z1eX6NfWstX8JguATixcvPv+II46YzPDx&#10;Sl5ML+jlxuV5692Mu+t6Fe7a9bxTgSneffx4YBR3n8BwG+Yg3K+oy1NO/hZ3nXQ1DR7ra1Q86N+W&#10;pcmjnLFLGvHu2rXrBmI8Nggd7899uNP347jLPYUW8Rrc2aHKPt2T5A/cZYx5x3777bdyZGTko0r+&#10;e65n8hSMvK55a3DJbd4CI5WS0mnXMvC/uDMTW6pe78fNdngusE/Kjzaux03K8tuwXo/7t+0ZgBbx&#10;xjoD0KN4+3BPCrwb2JcWpQvJdWNfX98bVq1a9bua+j0eN3tfMQqWcP3uD4Lg84sWLfrwIYcccl9N&#10;/WIVT49X8kJ6Zs2aNQNhP5z0xuVly+vv7183MzPzDmvtsysDgR48PTANfAWX8FcDn8QNUNI8M7Ed&#10;eA9wPhFulPKgf1sOANq0X+QBgAfxLgXeRYPHBqGr19StMebbAwMDb9m9e/dBwPtwNy3G8hKo3wPA&#10;Z/baa6/zDj300HsrL/p2fJGXvjc3AMhDMPLS8SYmJh5RKs2cYy2nxvUSOLjNUHV/QkrJfxr4NG7w&#10;cW/dB1oUT/q36QAgRPtFGgB4Em+lnIi7uXXu0lCK+0vdGgwdeFGZB4HPAB8uFov3edQf8jzxgl5u&#10;XF42veOPP/731nIabla7X0T1Ejq4pZ38fw6cgJsjPovJv2nxbIngbnhXAo/GzWZ3S4pninqV/Kdw&#10;9+6sBN6i5C+vWQnyFIy81L3fAqfhHnn7YxivB9MPd+RZa7daa59HjJvLwP/+3QOSf6VY4KLFixcf&#10;P/vY4NzNmj7vfxG9aeBruImnXgXc5nF/yPPAq9/bUty4vNx5j8dNKHRCozc9O1i29Ky1O4MgOK9c&#10;Lr8f2BXH86A/asu8SwAR26/tJQAP423qbdmy5ajp6elzrbXPjet5tD83vEE2S/0hrzde29UAu7lx&#10;ebnzLsVdb/1bYFP1Gx4dLMN4P1iwYMHx5XL5XeQn+c8re9Av/4bescceu8Va+/e4s1fXRvU82Z/L&#10;uEdQ1+Aubyj5y4tUYg0AfA1GnheeBb6POwvwPOB6Tw6WITy7sVAonHbCCSc8a/fu3Vta/lGL4ll/&#10;1JU9PfnXeJfiVht8PS2mbK4unuzPl+IeKXwebg6CuZLx/pCXohd5AOBzMPK88srARcuXL18bBMHL&#10;rLU3VN7wLflba+82xpz50Ice/Kjjjz/+N560X1c8Jf+G3jTucdJhWizaBF4k/0uBh+HOXNTNkJmT&#10;/pCXkhdpAOB7MPL88xYvXjwzPDz89WXLlh1vjPlXa+22uF4XJm2ZMcZ8cWho6JiRkZHzDzjggBnf&#10;2i9Jr1Ao1D0Lr+Q/r9yOu3nuJNwKlfNKj5P/b4FTcIn/ykYf8KD95GXMCz0AyEIw8vz1Dj300N2z&#10;C40ciTvI3h7FS/7gy2X9/f0PHxkZefXhhx++3ff2S8KrfU3Jv2kZxT3i+hJm99MeJv/f426uPRn4&#10;ZTPPs/aTlxGv4UIvaW1c3h7p7Qa+gDvNegEhzkIlfPC9qVAovGV4ePi7TeoXuWStP0DJP0SxuCVx&#10;/y8IgrPL5fIZxpi5QVRKyf963CDk+laep+0nLwNe24NvloKRlwlvLXAZbhCQZvKfBN69ZMmS45X8&#10;lfwjeDtHRkbeOjAwsBb4IaR62n8l7gmFTwL7NKmf7+0nz2Ov5QE4a8HI89pbgjuQXUnIedETTP4X&#10;A2uKxeL7DjzwwLnH+jLWfh17oOQf11uxYsWWE0444ZnW2icAm+N4MffnftyCU2O4VQfnjtlZaj95&#10;fnpNBwBZDEael16AW6Z1DHcgq7sRrVFJKPmPAU8CnlEsFv+c0fZLzCuVSqEXLmpUshZvl7xLgeOJ&#10;8NggJLI/zy13DTwyw+0nzyOv4QAgq8HI8847Ffeo0oXAsrBeQsn/O8AxwE8y3H5eeLX94Vv9euBN&#10;89dVKNtuJ+F7WE4EfrNhw4YLbrzxxoc0qV+kkoP+kBfTqxsAZDkYed54B+BuoPoZcGwUL8GD5Vag&#10;lNH288ZT8m/p/Rl3b0nT0o2nB4wxgbX2nyYnJ8fGxsbeOTo6qhld5cXygigfTnrj8vLl3X777YOj&#10;o6NvxF0jPZ2Ia00kfLDcmbX2881T8g/l7Wz2RrcfHTTGLCqXy/8GXAU8NarnSfvJ66GnG0rkJeKN&#10;j48/9e67794IfBDYK6qX9MEyCJjKUvv55jXqD5/q55HXcACQ8rwBq4AfAD8FVofxPGo/eT30+nq5&#10;cXnZ97Zs2TI8PT31UWt5YlyvOwdLM3dg9rn9fPQa9Ucnxfd4O/TqLgH0cNKgx+MW4foc8E7g/kYf&#10;8qz95PXQC/IUjLz0vFtuuWXx2NjYeVNTU+v9S/7A7IHZ1/bz1dNaAZG9eWcAPFgroPqxwRdTcxnO&#10;w/aT10MvyFMw8rrvbd++vTA+Pv6iBx544Gpr7RnMnkWKU7p5sDTGTPrYfj57Sv6xvLkBgAfJv7os&#10;xz19cznwCPC2/eT10AuifDjpjcvLlrdp06aTbr755l+Vy+UvGWMe4tuqfjXlQd/az2dPyT+2Nwne&#10;Jf/q8jDgt0EQfP266657SOVFj9pPXg+9oJcbl5cNb3Bw8PANGzZ8ZWZm5te4A4ovB7emXqlUeiCu&#10;53t/KPl75e30OPlXvMBa+8LJyclrxsbG3rR9+/Z+j9pPXg+9IE/ByEvcGwwC3rVr165rrLUvNLNH&#10;ppQObtd26DV9PKtV8bw/lPw984Ig2FX7WoT2uw3YXv1Cly+LLbbWvu+OO+64HHhcHM/3/pAXzQvy&#10;FIy8RL1nANdaa95tjFlUeTGF5L8NtwLaP3ToRR4AeN4fSv4eetQ8BRCx/bbiFvz5FDCT4pmEo3FT&#10;Gn8fOCKsl4X+kBfN0wxS8mrLMPBDY8z3jDFHVr/R5eQ/jTsQjuBmERzs0Gs5Q1tt8bg/uuIp+Sfm&#10;zQ00Y7TfEHAP8LqBgYF1wE+q30xhsP103NMCn6TN3B0Z6g95EUqsAYCvwcjryFuMm8TnKmPMU2rf&#10;7PLB6GLcBCav46/PLg914EGEMwCe9kfXPCX/RL1JiN1+CyveihUrJlavXv2MIAieba29KcV7CAZo&#10;8dhgpX4Z6g95EUrkAYDPwciL5VWv1vcWY8xA7Qe6eDCaAJ6Gu9ywteZjDQcAEQ5uoQYAHvZHVz0l&#10;/2Q9KO/soP2Gar21a9dejFtk6K1A5BtZO+jfh+IeG/wFbrVDIHv9IS9aiTQA8D0YeZG9hwG/xX3x&#10;D0jxGuQDwLuB44AfNvnzhRG8RqXtJQAP+6OrXqFQqFuKWcm/M69c5sG4HjDUpH6TwIdwZ8W+FhZL&#10;6Pv7WGA98NWhoaHlWesPedG80AOALAQjL7R3EO46+9wkISklf4s7oK0AzgF2tyDmnQGIUb+WZwA8&#10;649UvNrXlPwT8WI9bTK7P88NcpvU71bc2blTcQv+tPPmlQ76NzDGnL5z585rxsbGztixY0dfhvpD&#10;XgQv1AAgK8HIa1v6cdfZx6harS+l5H8l8GjcAe2OEMzcACBG/aaBmWZvetQfPfFAyT9BL/IAoGp/&#10;HpqamjIh6ncZsA73dMxdLby5ksT31xizn7X2vG3bto2Ojo6eFtfLeP/m2ms7AMhSMPJalhOBq4FP&#10;APtUXux28rfW3matfQlwEvD7CNTCDurX9KDsUX/0xAMl/4S9SAOAmufygx07dgyErF8Zd9ZuNXAB&#10;UKr1KiXpwTvuyZxLgC8RcaXPHPRvrr2WA4CsBSOvaXk88BvcI35zpZsHD2vtlDHmo7Pb/CoQFV7Y&#10;Qf0aXv/3qD964oGSfxe80AOARvvzXXfdVXdppk25C/hn3P07v6l9s8tPD7wUd5Pg3mG8nPRvrr2m&#10;A4AsBiOvYTkY+F9gQfWLXf7l8MOBgYG15XL5LJosSdquBEFQ90sjQv3qDsoe9UfPvFKpVIrrAWQt&#10;3pS8UPNNtPi+1d3sGrJ+16xYseLxQRC82Fp7a5UXq0Q4HpwIfCFE/fLSv7n2Gg4AshqMvIbl/VSd&#10;8ofuJX9r7UQQBH93wgknPHNqampzXG/2hrV5NwFGrN+8g7Jn/ZE5r3Z/8a1+PfbangFo831rOt9F&#10;u/oNDAzY4eHh/168ePGx1tr3AXXTEocpMY4H/wCc3K5+lX9nvH9z7dUNALIcjLy6sg/w3OoXupH8&#10;rbX3G2PetmzZsuLatWt/lFC8c7+MYtRv7qDsWX9kzlPyb+u1HACE+L5FGgA0qt+OHTt2AO/ETfH7&#10;3SheB8eDl4etX8b7N9deEOXDSW9cXte9E6lKpEknf9x1/f8dHBxcOzIy8rFDDz10d4LxDnVQv50N&#10;PB/6I1Oekn8or+klgJDft9CXAELU7wbgWbiFfq5p53V4PHh0jPpFKvK67/X1cuPyuu4dUvmPLiT/&#10;K/v6+t6watWqKzqo31xpcMPawg7qN+lpf2TGa7S/+FQ/j7yGZwAifN9CnQGIWL+fAycAZwDvwk3z&#10;Hbd+zcoh1f/wqD/kRfCCXm5cXte9XZB48r+jUCi84vDDD39Mt5L/woULbblcbrkYUKtijJn0tD8y&#10;4TV5FCx28T3eDr26MwARv29tBwAx6zcNfBz3FM4XcY8RxqlfszI3iZdn/SEvghfkKRh5deWaBJP/&#10;NPCpvffe+5jh4eGvDg0NlROoX6t4I98cBe7gZoyZOyh71h/ee1orILI37wxAjPZreQkggfrdCbyC&#10;2ccGE+zfqxOq37wiL10vyFMw8uaXFStWbLHW3lD9Wswv+4+B44rF4psOOeSQ+5KqX5t4Iw8Aqg5u&#10;kynUL3eekn8sbxezv65jtl/T/TzheNevWbPmcUEQvNRauy1C/ZqVH3raH/IieEGUDye9cXnd9QYG&#10;BmwQBB+rvBbjy74F+DvgycVicWvK8UZ6Prrm4LvTx/7w2VPyj+1ZYFcH7ddwANCNeAGGh4e/sc8+&#10;+xxrjPmItbbVWhytyr2LFi36sqf9IS+CF/Ry4/K67x155JFfBL4T8WC+E7da37HA93oUb+gzAA0O&#10;vjt97Q8fPSX/zjwa3AcQof3qBrrdjnflypX3l8vlNwPHABdF5GyhUHjFYYcddne36icvPS/IUzDy&#10;6r199923bK19KfCTEH9ugW8Aq3Cr9e3qYbyhBgCNkle5XI69RGvW+lfJv/ceNfcBRGy/eft5yvFu&#10;AZ4HPBUYD8HtDoLgNcPDw/+XUv3kddkL8hSMvKbeDuApwBuAmxv8aRm4GDe714uAP6dcv0al7SWA&#10;Fskr1hKtGe7fWEXJPzFvbn+L0X5zA4Aexvsj4DjcSqFbGrxfBn7c399/ysjIyBd6UD95XfL62n+k&#10;exuXl6pXxq0E+CngUcAKYD/gJmAUuKXH9astLc8AtEleoeZn77B+mfaU/JPzjHH7W8z2W9jt+oX0&#10;pnDHhvNxTwysApbifjCsLxaL27LSH/LCl1gDAF+DkRfKK+NWEatbScyT+gEYWpwBCJG8Ip0B8CDe&#10;VD0l/2Q9a5mMvtjlXFnoWbxl4PLZ/yXhJV0/eQl6LZcD7vbG5clrUgZpsm+GTF6hBwCexJuap+Sf&#10;vAfEvuckCIK9shavvPx4kQYAvgcjLzdew1//EZJXqAGAR/Gm4hUKhULta0r+iXiRLznB3EJac5e6&#10;MhSvvJx4oQcAWQhGXm68uuv/EX+5tj0gexZvKl7ta0r+iXmRbzqt2p8HU6ifPHkNvVADgKwEIy83&#10;3rwBQIzT1i0PyB7Gm6oHSv4Je5EGADX781AG45WXE6/tACBLwcjLjdfpEsZND8iexpuaB0r+XfBC&#10;XwKo3Z+ttUMZjFdeTryWA4CsBSMvN94QdHTDWsMDssfxpuKBkn+XvFBnAJqsshh71csctZ+8HnlN&#10;BwBZDEZebryhDu9Wrzsgex5vKl6pVCrF9QCyFm+KXtsBQIv9OdaqlzlrP3k98hoOALIajLx8eIVC&#10;Ye/a12KsZdC1+mXUezJufYfIZXaJ5f7Nmzd/d+vWrYdkJN40vZaXANoMZiMPADyIV15OvLoBQJaD&#10;kZcPj5qDYozT1nMH5CzE203vxhtvPGB0dPRLwPeAQ6J6NcnrKbt3775qdHT0jUDdI4Vx6ud7+4X0&#10;mg4AQpzJijQA8CReeTnxgigfTnrj8uQ18eZuAoyR/C1ujfYsxZu4NzU1ZcbHx184OTm5ETg9jtfk&#10;mvUQ8EHgj8AJcesHfrdfRK/hJYCQl7FCL3vtUbzycuIFUT6c9MblyWvkVSZHiXnD2iRgsxRv0t6W&#10;LVtWbN265ZJSqfRlYEkcL0TyWoebLvaTwKIo9QO/2y+GVzcAiHAPywAhpmT3LF55OfGCXm5cnrxG&#10;HrCwg7vVd2Yt3qS87du394+Njb1pampqvbWcEteLkLz6gNcCm4DHt6tf5d++tl8H3rxLADFuYG15&#10;FsDDeOXlxAvyFIy8fHjlcnlBXA/YmbV4k/AmJiYeceedd/zRWvs+IHb7xXz64ijgJ8BXcSvI1dWv&#10;8m9f269Db+4MQMz2a3ofgKfxysuJF+QpGHm58UJfF60uswffuV9jGYo3tjc+Pr54bGzsvJmZmV+A&#10;Wd3Jc/4dPnppcPcaXAu8uFI/39svIW8ndNR+DQcAHscrLydeEOXDSW9cnrwmXuRHoyoH38ra7BmL&#10;N5a3cePGpz/wwAOj1tozjDFBD5N/dTkAuNAYfnjNNdccVnnRx/ZL0JvssP3qBryexysvJ17Qy43L&#10;k9fEi3QGYP7B10xmMN5IZeHChYesX7/+P8vl8reNMYdAZzP8Jb1EsPPMU3bv3r1pbGzsTTt37gx8&#10;ar+kvf7+/qna1yK237wBr+/xysuPF+QpGHm58UJPj1qfvOzODMYbtgRBEJwxOTl5NfCcyov+Jf+5&#10;/x6y1r7vpptuugw4No7neX9QLBb7gyCYdxNgjPabG/BmIV55+fFyPTKXl1kv1OIqjZMXd6dQv154&#10;a4BfW2s/bYzZt/Kir8m/xns4MAq8jwiDO8/7Y87r7++/p/JazPZ7sJv1kyevWQm1HHC3Ni5PXpOP&#10;39TOa5FstqRQvzS9BcA5wAZjzKOq38hI8q+UfuDtwFXQ/hFFj/ujzjv00EPvtdZuj9l+ZeDmLMUr&#10;Lz9erAGAr8HIy43341Zem2TzwxTql5Z3Mi7xn22MGah+I2PJv7qsBH4OfBHYr9EHPO6Pph5wSUzu&#10;ymKxeF/W4pWXDy/yAMDnYOTlxtsAXNbojTbJ5krgtynUr9vevsDngF8ZY1bXvpnh5D/3Z8DLgOuA&#10;f6h+w9P+CON9GjcNdaRSKBQ+mdF45eXAizQA8D0YebnyXg08UP1Cm2SzC/gXIhyEPYu3Up6NS4z/&#10;bBoEnIPkX10OBP4L+D5wqKf9Eda7HPhsFM8Y88Mj/n979xojV1nHcfz3PHNpt2wRNmuLqe22um2n&#10;21i6GXhDFTAQiRjQNyZeXiCXqCQY3hhBSURFUQJGRV9wiSReoiGARI2gxmDAxgQNiKiIFkwRgxSx&#10;Bmu2wHbn+OLslOnuzJnnnD1zzvOcfv9Jk3b29PP8/zln8//PzLls2XJPQfnh4S3znJ/oFUIxeJXy&#10;/iXpUUnvkdQc0mwOS/qg4o+Wi8ovb2+D4jvpXStprYfNepTeNkmXHThwYG7NmjWPNBqNyIP9kcX7&#10;uaQdknY6kHvHx8ffPzEx8XKB+eHhHeMt/y0ucHE8PIfYaYy+IZmze1/saTYP6bX70ZeR30o9K+kj&#10;kr6o+KN/35v1qL3f1Ov1j87Pz/8uq1fy/jWKP736tKTX9/n5nLX2yyeddNJNp5xyCs0fr1Rv6AAQ&#10;UjF41fX27du3Y2Fh4TxJmzudTkfS3xW/43rMh/wyejOSbpO0p/tCYM16VN68pBslXafFRzu7hkf7&#10;d43iBySdLmmdpP9Ienzt2rU/27hx4yEP8sPDSx4AQisGDy8Qb5WkTy7+OXp2/yibaxRFf7XW7u10&#10;Opdk5I5Ya6/vdDpXGWOOPmxoxMPEPkkf1oATQpeGR/sXDy8Ib+BJgCEWg4cXgLdH8bkN16qA5h9F&#10;0RFjzI2Tk5OndTqdvZlBKWq1Wl9oNpuzWmzIBXyS0L1k8NuSJpM8j/YvHl4wXt8BINRi8PA89l4n&#10;6WuKz1mY6f3B6N75R481Go23zs7OXvPiiy8eSvxPTp40PT399I4dO86LougiKdtdF1PWaxQ/ZfCP&#10;WnzK4NLwZP/i4QXnLRsAQi4GD89T7wJJf1B8suIxv3OjaP5RFM0ZY67ZsOGNZ+zatevRldS7NL+x&#10;sbHoiSeeeFXxu/Kdkr6zEk9yrne9pG9J+omko08Z9GT/4uEF6dk0G+e9OB5exb03SLpL0o8kbVz6&#10;wxG9879/1apVu1qt1k3r168/knfzX+I9r/hd+YWSnk3rSZnqPV/xfRKu2rx58+qKHS94eIV6Js3G&#10;eS+Oh1dRr/ux9VckTfTdIOfmL+lArVb71Pbt27+bkN/Fku5wwZbmt3hmfrP/1pLirzg+J+kK9flk&#10;cTTDTvRYvd64fOvWrY8Gfrzg4ZXimTIXx8OroLdV0q2S3j7Iy7kZRtba742NjX18amrq4JD8nAaA&#10;hEvzkgaAbpwh6Xb1nOcw4qsbjlhrb+l0Oldr8al6aaNixx8enrNnq1QMHl6JXkPSVYq/6y+q+T9d&#10;r9fPb7Valzg0f6fIIb9fS9ot6WpJr4z6vgHGmHqn07lC8Y2gzk3rVej4w8NL7dkqFYOHV5K3R3ED&#10;+pLia/z7Ro7NcF7S9ZOTk7Pbtm07evtjD5p/b343NJvN0xUPBCv1JA3N782Kbwz1TS3eUXFYVOj4&#10;w8PL5Nk0G+e9OB5eBbwrFV8Xv+ypfb2RY3N9OE6v/Zl169a94pCfU+T9Tr3dbjemp6f/MjU1dY4x&#10;5mNRFL1UwH0DjKRLJP1WQ/ZHhY4/PLzMni1zcTy8wL2LJX1VUj3Jy6m5HlI8bJzRbrefzLPeUTT/&#10;bn5r1qzpzM7O3qr4nIB7C8pvq6SfKr50MDE/KejjDw9vRZ6tUjF4eAV66xXf2Ccxcmqu90l6i6Sb&#10;2+12LZTmLx2T33OKH3XsdMlgDvltknRTivwyBR5eyJ6tUjF4eAV6V0pam+Tl0FwPSHqfpHdJeibv&#10;egts/r3xY8XDzC2SOiPO7wPipkF4eANj4LMAilgcDy9g78Ikb4XNK1J8MtsOSXdmzC8xSmr+3XhJ&#10;0uWSzpL05xHmZyW9O0N+QwMPrwpepgHA12Lw8AryapK2DfrhCpvX05LeIekyxY+QrVrz7429kk7V&#10;4iWDI8pvuwfHCx6el17qAcDnYvDwCvJqiq/7XxYraF5HJN2suCH+YoX5DQyPmn835iXdoPhrgV/m&#10;nZ+1dsyD4wUPz0sv1QDgezF4eAV5r6rPk/BW0LweltRWfF7B0bvZ5V1vrVarZcyvb+Sc377p6el3&#10;di8ZzCO/xf3xQk75+XT84eHl4jkPACEUg4dXoPdQ7z8yNv85xR9/75H0eM75HRPtdnvZJxYeNX+1&#10;2+1Gs9mMWq3WbatXr94l6e487htgjPlVXvl5dvzh4a3YcxoAQikGD69A7/buXzI2//sUXxt/g6SF&#10;EeQ30HPMz9nLO7+dO3f+M4qi9yrlJYPd6O6PKIqemZiYeNCT4wUPzztv6AAQUjF4eAV690m6P0Pz&#10;P+bSvhHm19dzyC+VN+L90XvJoFPSPc0/qtVqn9i0adMrnhwveHjeeYkDQGjF4OEV6Y2Pj18kRU/2&#10;vpbQXCPFT+I7emnfqPMLvPl3o3vJ4JkacMlgN3qHMWvt53fv3n2vT8cLHp5v3sABIMRi8PCK9DZt&#10;2vTSCSeMn2mMuUtKbK5PSjpH0qVavLSviPyWegsLCwtJ/2dYlLw/9kqalfRZSYeX/rDnnf9/rbWX&#10;zs7OXufb8YKH55u3/PPLAhfHw6uQd6qkiyS1Fd997n+KT+y7W9I9ii/zKzO/ecXPLrgjrWeMURRF&#10;8zMzM+Mjzs81Nigeps6VtEXSYWPMfmPM/WNjY99vtVr/DuB4wcMr3Vs2AIRcDB4eXqKXegDoeWc9&#10;PzMzMx5YvXh4eAmeTbNx3ovj4eH56y09wdG3/PDw8Fbm2TQb5704Hh6en16/qxt8yg8PD2/lni1z&#10;cTw8PP+8fs1/JeF7vXh4x6tnq1QMHh5e/s0/wEsH8fDwHDxbpWLw8PBo/nh4eG6eTbNx3ovj4eH5&#10;4dH88fCOP8+WuTgeHl75Hs0fD+/49GyVisHDw0sXNH88vOPXs1UqBg8Pzz1o/nh4x7fn9DjgUS2O&#10;h4dXjkfzx8PDyzQA+FoMHh7e8KD54+HhSRkGAJ+LwcPDSw6aPx4eXjdSDQC+F4OHhzc4arVabelr&#10;NH88vOPXcx4AQigGDw9vsLf0NZo/Ht7x7TkNAKEUg4eHN9yTaP54eHgOXwGEVAweHl6yJ9H88fDw&#10;4kgcAEIrBg8Pb7An0fzx8PBe8wYOACEWg4eHN9hbWFh4NasnaSG0evHw8JK9vgNAqMXg4eElei9k&#10;8RYvHTxQQH54eHgFessGgJCLwcPDS/Qel5TqO4DufQOMMb8vID88PLwCPZtm47wXx8PDK9R7TtJe&#10;V6/3pkHW2h8EWC8eHl6CZ9JsnPfieHh4hXtnS3pAPb/7/eLYOwZGf5qa2nza/v37Xy4gPzw8vIK8&#10;WpmL4+HhFe7tl7RK0tsGeb3NP4qiQ41G44KDBw/+o6D88PDwCvJqVSoGDw/PyXtAUkfSWVryScCS&#10;5v9so9G4YH5+/pGC88PDwyvAq5188sn1shbHw8MrzXtQAVyTygAABCVJREFU0g8lTUjaLKnZbf5R&#10;FD1lrf36iSee+KG5ubmnSsoPDw9vxJ6ZmZlplrU4Hh6eF16z2Wy+KYqitfV6/fktW7Yc8Cw/PDy8&#10;EXj1MhfHw8PzwosOHz78N4/zw8PDG4Fnq1QMHh4eHh4enluY4ZuMbnE8PDw8PDy8crzMA4CPxeDh&#10;4eHh4eG5RaYBwNdi8PDw8PDw8Nwi9QDgczF4eHh4eHh4bpFqAPC9GDw8PDw8PDw3z3kACKEYPDw8&#10;PDw8PDfPaQAIpRg8PDw8PDw8N2/oABBSMXh4eHh4eHhuXuIAEFoxeHh4eHh4eG7ewAEgxGLw8PDw&#10;8PDw3Ly+A0CoxeDh4eHh4eG5ecsGgJCLwcPDw8PDw3PzTJqN814cDw8PDw8PrxzPpNk478Xx8PDw&#10;8PDwyvFMmYvj4eHh4eHhleOZKhWDh4eHh4eH5+bZKhWDh4eHh4eH5+bZMhfHw8PDw8PDK8ezZS6O&#10;h4eHh4eHV45nq1QMHh4eHh4enluY4ZuMbnE8PDw8PDy8crzMA4CPxeDh4eHh4eG5RaYBwNdi8PDw&#10;8PDw8Nwi9QDgczF4eHh4eHh4bpFqAPC9GDw8PDw8PDw3z3kACKEYPDw8PDw8PDfPaQAIpRg8PDw8&#10;PDw8N2/oABBSMXh4eHh4eHhuXuIAEFoxeHh4eHh4eG7ewAEgxGLw8PDw8PDw3Ly+A0CoxeDh4eHh&#10;4eG5ecsGgJCLwcPDw8PDw3PzTJqN814cDw8PDw8PrxzPpNk478Xx8PDw8PDwyvFMmYvj4eHh4eHh&#10;leOZKhWDh4eHh4eH5+bZKhWDh4eHh4eH5+bZMhfHw8PDw8PDK8ezZS6Oh4eHh4eHV45nq1QMHh4e&#10;Hh4enluY4ZuMbnE8PDw8PDy8crzMA4CPxeDh4eHh4eG5RaYBwNdi8PDw8PDw8Nwi9QDgczF4eHh4&#10;eHh4bpFqAPC9GDw8PDw8PDw3z3kACKEYPDw8PDw8PDfPaQAIpRg8PDw8PDw8N2/oABBSMXh4eHh4&#10;eHhuXuIAEFoxeHh4eHh4eG7ewAEgxGLw8PDw8PDw3Ly+A0CoxeDh4eHh4eG5ecsGgJCLwcPDw8PD&#10;w3PzTJqN814cDw8PDw8PrxzPpNk478Xx8PDw8PDwyvFMmYvj4eHh4eHhleOZKhWDh4eHh4eH5+bZ&#10;KhWDh4eHh4eH5+bZMhfHw8PDw8PDK8ezZS6Oh4eHh4eHV45nq1QMHh4eHh4enluY4ZuMbnE8PDw8&#10;PDy8crzMA4CPxeDh4eHh4eG5RaYBwNdi8PDw8PDw8Nwi9QDgczF4eHh4eHh4bpFqAPC9GDw8PDw8&#10;PDw3z3kACKEYPDw8PDw8PDfPaQAIpRg8PDw8PDw8N2/oABBSMXh4eHh4eHhuXuIAEFoxeHh4eHh4&#10;eG7ewAEgxGLw8PDw8PDw3Lz/AwuZe6d6BkMcAAAAAElFTkSuQmCC&#10;\" id=\"image1-0\" x=\"49.755093\" y=\"225.63264\"/><image width=\"16.26531\" height=\"14.469385\" preserveAspectRatio=\"none\" xlink:href=\"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA0EAAAPVCAYAAACgCuGMAAAABGdBTUEAALGPC/xhBQAAAAFzUkdC&#10;AK7OHOkAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAZiS0dE&#10;AP8A/wD/oL2nkwAAAAlwSFlzAAAASAAAAEgARslrPgAAgABJREFUeNrs3XegjvX/x/H3dZ9lc8xj&#10;z2yZGZkpOzJKGiQ7KQqFqKRBSWaFCCWrqKzIiMgolOz9tbdjHM68r98flR9lnHHf9/saz8dfleO+&#10;X9etc1yv6/25PpdhmqYAwK0kJCSYQUFBhnYOAAAAX/JoBwBgXdOmTZOmTZuac+bMMePj47liAgAA&#10;HMFgEgTgdmJiYszChQvLsWPHJGfOnPLYY4/Js88+K+XKlWM6BAAAbIsSBOCORowYYfbu3fum/1ay&#10;ZElp166ddOjQQbJly0YhAgAAtkIJAnBHV69eNfPlyyfnzp37z6+FhoZK/fr1pV27dtK8eXMJCQmh&#10;EAEAAMvjniAAd5QmTRqjc+fOt/y12NhYWbBggbRu3VoiIiKka9eu5qZNm7iyAgAALI1JEIC7On78&#10;uFmwYEGJjY1N1Nf/s1yuffv2kiNHDqZDAADAUihBABKlbdu25pdffpmk3xMSEiJNmjSRzp07S4MG&#10;DYTttgEAgBVQggAkytatW81y5cpJcn9m5MqVS9q2bStdu3aVggULUoYAAIAaShCARKtbt665cuXK&#10;FL2Gx+ORunXrSpcuXdhMAQAAqKAEAUi0BQsWmE2bNvXZ60VERMgzzzwjnTp1kiJFilCGAABAQFCC&#10;ACSaaZpmqVKlZOfOnT5/7YoVK0qXLl2kbdu2kjp1agoRAADwG7bIBpBohmEYPXv29Mtrb9q0Sbp2&#10;7Sr58uWT3r17mzt37uQKDQAA8AsmQQCS5OrVq2aePHnkwoULfn+vGjVqSJcuXaR169YSFhbGdAgA&#10;APgEkyAASZImTRqjffv2AXmvNWvWSLt27SQiIkJ69uxpHjx4kKs2AAAgxZgEAUiy/fv3m0WLFhWv&#10;1xvQ971xZ7mWLVvy3CEAAJAslCAAydKgQQNz6dKlau9fpEgR6dSpk3Tq1EmyZMlCGQIAAIlGCQKQ&#10;LN9//735yCOPaMeQVKlSyWOPPSYvv/yylCtXjjIEAADuihIEIFm8Xq9ZuHBhOXTokHaU69hmGwAA&#10;JAYbIwBIFo/HY3Tu3Fk7xk3+2Wa7YMGCMnDgQPPo0aNc5QEAAP/BJAhAsp04ccLMly+fxMfHa0e5&#10;peDgYGnevLn06tVLqlevzmQIAACICJMgACmQM2dOo0mTJtoxbis+Pl6+/vprqVGjhlSsWNGcNm2a&#10;GRcXx5UfAABcjkkQgBRZuHCh+fDDD2vHSLSIiAjp2rWrvPDCC+wqBwCAS1GCAKSI1+s1CxYsKIcP&#10;H9aOkiT/7CrXv39/KVGiBGUIAAAXYTkcgBTxeDxG+/bttWMkWXR0tHzxxRdSunRpqVevnjl//nzT&#10;5KoQAACuwCQIQIodOXLELFiwoCQkJGhHSZGyZctK9+7d2WIbAACHowQB8InGjRubixcv1o7hExER&#10;EdK9e3fp1q2bZMuWjTIEAIDDsBwOgE907NhRO4LPnDx5Ul5//XXJnz+/PP/88+aBAwe4WgQAgIMw&#10;CQLgE7GxsWauXLnk3Llz2lF8zuPxSOPGjeX111+X++67j8kQAAA2xyQIgE+EhoYarVu31o7hF16v&#10;VxYsWCCVK1eWGjVqmPPnz+fqEQAANsYkCIDPbNiwwaxatap2jIAoX7689OrVS5566ikJCgpiOgQA&#10;gI1QggD4VIkSJcxdu3ZpxwiYQoUKyYsvvihdunRhRzkAAGyC5XAAfKpdu3baEQLqwIED0qtXLylQ&#10;oIC8+eab5oULF7iyBACAxTEJAuBTR48eNfPnzy9er1c7ioqMGTNKt27dpFevXhIREcFkCAAAC2IS&#10;BMCn8uTJY9StW1c7hpqLFy/KsGHDJH/+/NK1a1fz6NGjXGkCAMBiKEEAfO6ZZ57RjqAuNjZWJkyY&#10;IIULF5Z27dqZ+/btowwBAGARLIcD4HNRUVFmjhw5JCoqSjuKZYSGhkq7du2kf//+UqhQIZbJAQCg&#10;iEkQAJ9Lmzat0axZM+0YlhIbGyufffaZ3HPPPdK6dWtz9+7dXIECAEAJJQiAX7Rp00Y7giV5vV6Z&#10;M2eOlCxZUlq3bm3u3LmTMgQAQICxHA6AX8TGxpo5c+aU8+fPa0exNI/HI40bN5bBgwdLhQoVWCYH&#10;AEAAMAkC4BehoaFGixYttGNYntfrlQULFkilSpWkZcuW5pYtW7gyBQCAn1GCAPjNE088oR3BNkzT&#10;lHnz5kmFChWkXr16lCEAAPyI5XAA/Mbr9Zp58+aV48ePa0exHY/HI61atZK3335bihYtyjI5AAB8&#10;iEkQAL/xeDxGq1attGPY0j8bKJQoUUJat25t7t+/nytWAAD4CCUIgF+xJC5lbixDXbt2NY8dO0YZ&#10;AgAghVgOB8CvTNM0CxcuLAcPHtSO4gihoaHSvn17GTx4sERERLBMDgCAZGASBMCvDMMwHn30Ue0Y&#10;jhEbGysTJkyQe+65RwYNGmRGRkZyJQsAgCRiEgTA79avX29Wq1ZNO4YjpU+fXrp37y79+/eXjBkz&#10;MhkCACARKEEA/M40TTNv3rxy7Ngx7SiOlS1bNhk4cKB069ZNQkNDKUMAANwBy+EA+J1hGEbz5s21&#10;YzjamTNnpGfPnnLPPffIhAkTTK/XyxUuAABugxIEICBatGihHcEVDh8+LF27dpUqVarIihUrKEIA&#10;ANwCy+EABERCQoIZEREhZ8+e1Y7iKg899JB88MEHUq5cOZbIAQDwNyZBAAIiKCjIaNq0qXYM11m2&#10;bJlUrFhRWrdubR48eJCrXgAACCUIQACxJE7HPw9cLV68uHTt2tU8c+YMZQgA4GoshwMQMDExMWb2&#10;7Nnl0qVL2lFcLTw8XF599VV58cUXJXXq1CyTAwC4DpMgAAETFhZmNGrUSDuG6124cEH69esnxYsX&#10;ly+//NI0uRoGAHAZShCAgGJJnHUcPnxY2rZtK5UrV5Y1a9ZQhAAArsFyOAABdfnyZTNbtmwSExOj&#10;HQU3MAxD2rRpI0OHDpV8+fKxRA4A4GhMggAEVPr06Y2aNWtqx8C/mKYpM2bMkOLFi0u/fv3My5cv&#10;c4UMAOBYlCAAAdekSRPtCLiNa9euybBhw6R48eIyYcIEMyEhgTIEAHAclsMBCLj9+/ebRYoU0Y6B&#10;RKhYsaJ89NFHUrNmTZbIAQAcg0kQgIArXLiwUbRoUe0YSIRNmzZJrVq1pGnTpjxsFQDgGJQgACpY&#10;EmcvCxYskOLFi0vPnj3NS5cuUYYAALZGCQKgghJkP7GxsTJ69GgpXry4TJs2jecLAQBsi3uCAKiI&#10;i4szs2XLJhcvXtSOgmSqXbu2jB07VkqXLs39QgAAW2ESBEBFSEiI8dBDD2nHQAqsWrVKypcvzxI5&#10;AIDtUIIAqGFJnP3Fx8ezRA4AYDsshwOg5vTp02bOnDnF6/VqR4GP1KpVS8aOHStlypRhiRwAwLKY&#10;BAFQkz17dqNChQraMeBDq1evlgoVKkjPnj3NixcvcpUNAGBJlCAAqlgS5zz/LJErUaKEfPnllyyR&#10;AwBYDiUIgCo2R3CuEydOSNu2baV27dqybds2ihAAwDK4JwiAqvj4eDNLlixy6dIl7Sjwo+DgYOne&#10;vbu8++67kjZtWu4XAgCoYhIEQFVwcLBRs2ZN7Rjws3+WyN17772yZMkSrr4BAFRRggCoe/DBB7Uj&#10;IEAOHDggDRs2lNatW5unT5+mDAEAVFCCAKjjviD3mTNnjhQrVkxGjRpler1eyhAAIKC4JwiAOtM0&#10;zVy5csnJkye1o0BBjRo1ZPz48VKyZEnuFQIABASTIADqDMMw6tatqx0DStasWSPlypWTfv36mdHR&#10;0VyZAwD4HSUIgCVwX5C7xcXFybBhw6RMmTKybNkyihAAwK9YDgfAEo4cOWLmy5dPOwYswDAM6dCh&#10;g3z44YeSMWNGlsgBAHyOSRAAS8ibN69RtGhR7RiwANM0ZdKkSVK8eHGZN28eV+oAAD5HCQJgGewS&#10;hxudPHlSWrZsKa1btzbPnj1LGQIA+AwlCIBlcF8QbmXOnDlSqlQpmTNnDkUIAOAT3BMEwDIuXLhg&#10;Zs2aVbxer3YUWNRjjz0mY8eOlezZs3OvEAAg2ZgEAbCM8PBwo0yZMtoxYGH/PGR1woQJXMEDACQb&#10;JQiApdSoUUM7AiwuMjJSunbtKk2aNDGPHj1KGQIAJBklCIClVK9eXTsCbGLRokVSunRpmTBhgmmy&#10;thsAkATcEwTAUo4dO2bmyZNHOwZspkGDBjJp0iTJnTs39woBAO6KSRAAS8mdO7dRoEAB7RiwmSVL&#10;lkjp0qXlyy+/5MoeAOCuKEEALIf7gpAckZGR0rZtW2ndurV57tw5yhAA4LYoQQAsh/uCkBJz5syR&#10;0qVLy4IFCyhCAIBbogQBsBwmQUipkydPSrNmzaRr167mlStXKEMAgJuwMQIAyzFN08yWLZucO3dO&#10;OwocoGDBgjJ16lSpWbMmmyYAAESESRAACzIMw7j//vu1Y8AhDh48KA888ID069fPjI2N5cofAIAS&#10;BMCaWBIHX0pISJBhw4ZJ1apVZfv27RQhAHA5ShAAS2JzBPjDli1bpFKlSjJq1CgesAoALsY9QQAs&#10;KSYmxsyUKZNER0drR4FD1a9fX6ZOnSoRERHcKwQALsMkCIAlhYWFGffdd592DDjY0qVLpWLFirJ8&#10;+XKuBgKAy1CCAFhWlSpVtCPA4Y4fPy716tWTnj17smkCALgIJQiAZVWsWFE7AlzANE0ZPXq03H//&#10;/bJnzx6KEAC4ACUIgGVVqlRJOwJcZNOmTVKuXDkZNWoURQgAHI6NEQBYlmmaZtasWeX8+fPaUeAy&#10;rVq1kokTJ0p4eDibJgCAAzEJAmBZhmEYFSpU0I4BF/rmm2+kQoUK8ssvv3ClEAAciBIEwNJYEgct&#10;hw4dktq1a8ubb75per1eyhAAOAglCIClUYKgKT4+XgYPHiyPPPKInDt3jiIEAA5BCQJgaZQgWMGC&#10;BQukfPnysnbtWooQADgAJQiApeXPn9/Inj27dgxAjhw5InXq1GF5HAA4ACUIgOXxvCBYxT/L45o3&#10;by7nz5+nCAGATVGCAFgeS+JgNfPnz5dy5crJunXrKEIAYEOUIACWxyQIVnTkyBGpVauWDBs2zDR5&#10;6B4A2AoPSwVgeceOHTPz5MmjHQO4rRYtWsjnn38uGTNm5OGqAGADlCAAtpArVy7zxIkT2jGA2ypS&#10;pIjMnTtXypQpQxECAItjORwAW2BJHKxu3759Uq1aNZk1axZXFwHA4ihBAGyhTJky2hGAu4qKipI2&#10;bdpI165dzbi4OMoQAFgUJQiALZQqVUo7ApBoEyZMkAcffFBOnjxJEQIAC6IEAbCF0qVLa0cAkuTn&#10;n3+WSpUqsY02AFgQJQiALRQvXlyCg4O1YwBJcuzYMXnggQdk1KhRFCEAsBBKEABbCAsLMwoXLqwd&#10;A0iymJgY6dWrl7Rt29a8evUqZQgALIASBMA2WBIHO/vyyy+lVq1acvjwYYoQACijBAGwDUoQ7G7T&#10;pk1SoUIF+emnnyhCAKCIEgTANtghDk5w7tw5qVevnowbN44iBABKKEEAbIMSBKeIj4+XHj168Dwh&#10;AFBimCY/ewHYQ3x8vJkuXTqJiYnRjgL4TK1ateTrr7+WbNmyGdpZAMAtmAQBsI3g4GCjaNGi2jEA&#10;n1q9erVUq1ZNduzYwVVJAAgQShAAW2FzBDjR/v37pWrVqvLdd99RhAAgAChBAGyF+4LgVJcvX5YW&#10;LVrIm2++SRECAD+jBAGwFSZBcDLTNGXw4MHSrl07Mzo6mjIEAH5CCQJgK0yC4AZffPGFPPDAA3L6&#10;9GmKEAD4AbvDAbAVr9drpkmThh3i4AqFCxeWhQsXSrFixdg5DgB8iEkQAFvxeDxGgQIFtGMAAbF/&#10;/36pVq2arFy5kiuWAOBDlCAAtlO4cGHtCEDAXLhwQRo2bCjTpk2jCAGAj1CCANhOoUKFtCMAARUb&#10;GyvPPPOM9OzZ0/R6vZQhAEghShAA26EEwa1Gjx4tbdq0kWvXrlGEACAFKEEAbIflcHCzOXPmyIMP&#10;PihnzpyhCAFAMlGCANgOJQhut27dOqlWrZrs2rWLIgQAycAW2QBs5+rVq2a6dOmEn19wu6xZs8r8&#10;+fOlatWqbKENAEnAJAiA7aRJk8aIiIjQjgGoO3v2rDz44IOyYMECrggAQBJQggDYEkvigL9cvXpV&#10;mjdvLuPHj6cIAUAiUYIA2BIlCPh/CQkJ0q1bN+nXrx9FCAASgRIEwJbYJhv4r2HDhkmHDh3M+Ph4&#10;yhAA3AElCIAtUYKAW/v888/l0Ucf5VlCAHAHlCAAtsRyOOD2vvvuO3nggQfk7NmzFCEAuAVKEABb&#10;ogQBd7ZhwwapVauWHD58mCIEAP/Cc4IA2FaGDBnMy5cva8cALC1PnjyydOlSKVGiBM8SAoC/MQkC&#10;YFsFCxbUjgBY3tGjR6V27dqyadMmrnoCwN8oQQBsK2/evNoRAFs4c+aM1KlTR5YvX04RAgChBAGw&#10;sTx58mhHAGzjypUr0qRJE/n2228pQgBcjxIEwLZy586tHQGwlZiYGHnsscdk6tSpFCEArkYJAmBb&#10;TIKApIuPj5dnn31WRo8eTREC4FqUIAC2xSQISB7TNKVXr14ybNgwihAAV6IEAbAtJkFA8pmmKf36&#10;9ZN+/fqZJs/LAOAyPCcIgG1dvHjRzJQpk3YMwPaee+45GTdunBiGwbOEALgCJQiArfHAVMA3OnTo&#10;IBMnThSPx0MRAuB4LIcDYGs5c+bUjgA4wuTJk+Wpp56S+Ph4ro4CcDxKEABby5Ejh3YEwDFmzpwp&#10;Tz31lMTFxVGEADgaJQiArVGCAN+aPXu2tGrVSmJiYihCAByLEgTA1rJnz64dAXCc+fPnS6tWrSQ6&#10;OpoiBMCRKEEAbI1JEOAfCxculBYtWsi1a9coQgAchxIEwNYoQYD//PDDD9K4cWO5cuUKRQiAo1CC&#10;ANgaJQjwr59++kkeeeQRuXr1KkUIgGNQggDYGiUI8L8VK1ZIw4YNJSoqiiIEwBEoQQBsjY0RgMD4&#10;+eefpWXLlmyWAMARKEEAbC1z5szaEQDXWLp0qTRv3pwiBMD2DNPk5xgA+/J6vWZoaKgkJCRoRwFc&#10;o2HDhvLtt99KWFiYoZ0FAJKDSRAAW/N4PEbGjBm1YwCu8sMPP8gTTzwhcXFxXEkFYEuUIAC2x5I4&#10;IPDmzZsnbdq0kfj4eIoQANuhBAGwvfDwcO0IgCvNnTtXnnjiCYoQANuhBAGwPSZBgJ6vv/5aOnTo&#10;IF6vlyIEwDYoQQBsj0kQoOuLL76Qjh07isluSwBsghIEwPaYBAH6pkyZIi+99JJ2DABIFEoQANvL&#10;lCmTdgQAIjJq1Ch5++23mQYBsDxKEADbS5cunXYEAH8bNGiQjBgxgiIEwNIoQQBsjxIEWEufPn1k&#10;0qRJFCEAlkUJAmB76dOn144A4AamaUrXrl1l9uzZFCEAlkQJAmB7lCDAehISEqRt27ayaNEiihAA&#10;y6EEAbA9lsMB1hQbGyuPPvqorF69miIEwFIoQQBsj0kQYF3Xrl2Tpk2byu+//04RAmAZlCAAtsck&#10;CLC2S5cuSZMmTeTQoUMUIQCWQAkCYHtMggDrO378uNSrV09Onz5NEQKgjhIEwPbSpk2rHQFAIuzb&#10;t0+aNWsmUVFRFCEAqihBAGwvLCxMOwKARNqwYYM0b95cYmNjKUIA1FCCANgeJQiwl2XLlkmHDh3E&#10;NE2KEAAVlCAAtkcJAuxn+vTp0r9/f+0YAFyKEgTA9gzDMEJCQrRjAEiiYcOGyYgRI5gGAQg4g0k0&#10;ACfIkCGDefnyZe0YAJLI4/HIjBkzpHXr1oZ2FgDuwSQIgCOEhoZqRwCQDF6vV5555hlZu3YtV2UB&#10;BAwlCIAjcF8QYF/R0dHyyCOPyJ49eyhCAAKCEgTAEVKlSqUdAUAKnDt3Tho1aiRnzpyhCAHwO0oQ&#10;AEdgYwTA/g4cOCAtW7aU6OhoihAAv6IEAXAEj4cfZ4ATrFmzRtq1ayder5ciBMBvOGsA4AiUIMA5&#10;5syZIwMHDtSOAcDBOGsA4AiUIMBZ3nvvPfnkk0+YBgHwC84aADgCJQhwnhdffFF+/PFHihAAn+Os&#10;AYAjGAbPWQScJj4+Xh599FHZvn07RQiAT1GCADgCkyDAmS5duiTNmjWTs2fPUoQA+AxnDQAcgRIE&#10;ONeBAwfkiSeekPj4eIoQAJ/grAGAI1CCAGdbtmyZvPTSS9oxADgEZw0AHIF7ggDnGzt2rHz66adM&#10;gwCkGCUIgCPExcVpRwAQAC+88IIsX76cIgQgRShBABwhPj5eOwKAAIiPj5fWrVvL3r17KUIAko0S&#10;BMAREhIStCMACJDz58/LI488IpcuXaIIAUgWShAAR2A5HOAuO3fulLZt24rX66UIAUgyShAAR2A5&#10;HOA+33//vbz99tvaMQDYECUIgCNQggB3Gjx4sCxYsIBpEIAkoQQBcARKEOBOXq9XnnzySdm5cydF&#10;CECiUYIAOAIlCHCvy5cvS4sWLdgoAUCiUYIAOAIlCHC33bt3S4cOHcQ0TYoQgLuiBAFwhKtXr2pH&#10;AKDsm2++kaFDh2rHAGADBhdMANid1+s1g4ODhZ9nAIKCgmThwoXSoEEDQzsLAOuiBAGwvaioKDNd&#10;unTaMQBYRObMmWXTpk1SoEABihCAW2I5HADbYykcgBudP39eHn/8cYmNjeVKL4BbogQBsD1KEIB/&#10;27hxo7zyyivaMQBYFCUIgO1du3ZNOwIACxo1apRMnz6daRCA/6AEAbA9JkEAbqdbt248SBXAf1CC&#10;ANgeJQjA7Vy5ckVat24tV69epQgBuI4SBMD2WA4H4E62bdsmzz//vHYMABZCCQJge5cuXdKOAMDi&#10;pkyZIpMnT2YaBEBEKEEAHODChQvaEQDYwPPPPy9bt26lCAGgBAGwv4sXL2pHAGAD0dHR8uSTT8q1&#10;a9coQoDLUYIA2B4lCEBibd++XXr37q0dA4AyShAA24uMjNSOAMBGPvnkE5k5cybTIMDFKEEAbI8S&#10;BCCpnnvuOTl06BBFCHApShAA26MEAUiqyMhIefzxxyUuLo4iBLgQJQiA7XFPEIDk2Lhxo7z55pva&#10;MQAooAQBsD1KEIDkGjp0qCxfvpxpEOAylCAAtsdzggAkl9frlWeeeUbOnz9PEQJchBIEwPZOnz6t&#10;HQGAjR07dkw6deqkHQNAAFGCANjaxYsXzejoaO0YAGxu3rx5MnXqVKZBgEtQggDYGlMgAL7So0cP&#10;2bdvH0UIcAFKEABbowQB8JUrV65I+/btJSEhgSIEOBwlCICtnTlzRjsCAAdZu3atDB06VDsGAD+j&#10;BAGwNSZBAHztzTfflA0bNjANAhyMEgTA1pgEAfC1+Ph4eeaZZ+Tq1asUIcChKEEAbI1JEAB/2L17&#10;twwYMEA7BgA/oQQBsDUmQQD8ZcyYMbJq1SqmQYADUYIA2NrRo0e1IwBwKK/XK+3bt5fLly9ThACH&#10;oQQBsLUjR45oRwDgYIcOHZJXX31VOwYAHzNMk4sbAOzJ6/WaqVOnltjYWO0oABzMMAxZtGiRNGzY&#10;0NDOAsA3KEEAbOvkyZNmzpw5tWMAcIHcuXPLtm3bJFOmTBQhwAFYDgfAtlgKByBQjh07Jn369NGO&#10;AcBHKEEAbOvYsWPaEQC4yKRJk+SHH35gCQ3gAJQgALZ1+PBh7QgAXKZr167sFgc4ACUIgG2xPTaA&#10;QDt8+LC89tpr2jEApBAlCIBtcU8QAA3jxo2TNWvWMA0CbIwSBMC2mAQB0OD1eqVLly4SExNDEQJs&#10;ihIEwLb27dunHQGAS+3cuVPefvtt7RgAkonnBAGwpatXr5rp0qUTfoYB0BIcHCwbNmyQChUq8Owg&#10;wGaYBAGwpf3791OAAKiKj4+Xjh07SlxcHD+MAJuhBAGwpf3792tHAAD5/fffZezYsdoxACQRJQiA&#10;LVGCAFjFwIED5dChQ0yDABuhBAGwJUoQAKu4evWqvPzyy9oxACQBJQiALVGCAFjJvHnz5Pvvv2ca&#10;BNgEJQiALVGCAFjNCy+8IFeuXKEIATZACQJgO/Hx8ebhw4e1YwDATQ4fPixvvfWWdgwAicBzggDY&#10;zp49e8xixYppxwCA/wgODpZff/1VypUrx7ODAAtjEgTAdnbu3KkdAQBuKT4+Xrp37y5er5erzICF&#10;UYIA2M727du1IwDAba1bt06mTp2qHQPAHVCCANgOkyAAVtevXz+JjIxkGgRYFCUIgO3s2LFDOwIA&#10;3NHp06fljTfe0I4B4DbYGAGArXi9XjNDhgwSFRWlHQUA7igoKEg2bdokZcuWZZMEwGKYBAGwlf/9&#10;738UIAC2kJCQID169BCTK86A5VCCANgKS+EA2MmaNWvkq6++0o4B4F8oQQBshRIEwG769OkjFy9e&#10;ZBoEWAglCICtsDMcALs5efKkvPvuu9oxANyAjREA2EqFChXMLVu2aMcAgCQJDQ2Vbdu2yT333MMm&#10;CYAFMAkCYBuxsbEmy+EA2FFsbKz069dPOwaAv1GCANjGjh07JCYmRjsGACTL3LlzZdmyZSzBASyA&#10;EgTANlgGB8Du+vbtKwkJCRQhQBklCIBtUIIA2N3vv/8uU6ZM0Y4BuB4lCIBtUIIAOMGAAQPk0qVL&#10;TIMARZQgALZgmqa5detW7RgAkGKnT5+WoUOHascAXI0tsgHYwr59+8x77rlHOwYA+ESqVKlk9+7d&#10;ki9fPrbMBhQwCQJgCyyFA+Ak0dHR8uabb2rHAFyLEgTAFihBAJxm2rRp8ueff7IkB1BACQJgC+vX&#10;r9eOAAA+lZCQIK+++qp2DMCVuCcIgOUlJCSYmTNnlkuXLmlHAQCf+/HHH+Whhx7i3iAggJgEAbC8&#10;bdu2UYAAOFbfvn3F6/VyVRoIIEoQAMtjKRwAJ/v9999l5syZ2jEAV6EEAbC8devWaUcAAL96/fXX&#10;JS4ujmkQECCUIACWxyQIgNPt379fpk2bph0DcA02RgBgaRcuXDCzZMki/KwC4HT58uWTPXv2SFhY&#10;GJskAH7GJAiApa1bt44CBMAVDh8+LJMnT9aOAbgCJQiApbEUDoCbDBkyRK5du8aVH8DPKEEALI0S&#10;BMBNTpw4IRMmTNCOATge9wQBsKy4uDgzPDxcoqKitKMAQMBERETI/v37JU2aNNwbBPgJkyAAlrVx&#10;40YKEADXOXnypIwbN047BuBolCAAlrVq1SrtCACgYtiwYXL58mWW6wB+QgkCYFmUIABude7cORk9&#10;erR2DMCxuCcIgCVxPxAAt8uUKZMcOHBAwsPDuTcI8DEmQQAs6ddff6UAAXC1yMhIGTlypHYMwJEo&#10;QQAsiaVwACAycuRIOXfuHMt2/oVnKSGlKEEALOmnn37SjgAA6i5duiTDhw/XjmE5X375paxZs4Yi&#10;hGSjBAGwnLi4OPOXX37RjgEAljB27Fg5f/48J/w3OHDggHTt2lViYmL4XJAslCAAlrNx40a5cuWK&#10;dgwAsIQrV67ImDFjtGNYyqFDh2THjh3yzjvvaEeBTVGCAFjOkiVLtCMAgKWMHTtWoqKimHr87cCB&#10;AyIiMnToUPnzzz/5XJBklCAAlvPDDz9oRwAASzl79qxMmjRJO4Zl7N27V0RE4uLipGPHjpKQkEAR&#10;QpLwnCAAlnL27FkzR44c4vV6taMAgKXkzZtX9u3bJ6Ghoa5+btCZM2fM7Nmz3/Tfhg8fLr1793b1&#10;54KkYRIEwFKWLFlCAQKAWzhy5IjMnDlTO4a6f6ZAN3r99ddl3759XNlHolGCAFgK9wMBwO0NHTpU&#10;vF6vq0/29+zZ85//dvXqVencubOYLHFCIlGCAFiGaZrmsmXLtGMAgGXt3LlTFixYoB1D1a0mQSJ/&#10;PV9u8uTJ2vFgE5QgAJaxZcsWOXHihHYMALC0d999VzuCqtuVIBGR3r17y7Fjx5gG4a4oQQAsg13h&#10;AODuNmzYIKtXr3btif6tlsP94+LFi/Lcc89pR4QNUIIAWAb3AwFA4gwdOlQ7ggrTNM39+/ff8Wvm&#10;z58v33zzjWtLIhKHLbIBWEJkZKSZPXt2iYuL044CAJZnGIZs2bJFypYt66ptoY8ePWrmzZv3rl8X&#10;EREhO3bskPDwcFd9Pkg8JkEALGHBggUUIABIJNM0ZdiwYdoxAm7btm2J+rqTJ0/KK6+8oh0XFkYJ&#10;AmAJ33//vXYEALCV2bNny4EDB1y1pOfPP/9M9NdOmjTJ1fdO4c4oQQDUxcTEmGyKAABJk5CQIGPH&#10;jtWOEVBJKUGmaUrnzp0lOjqaIoT/oAQBUPfjjz/K5cuXtWMAgO189tlncunSJdec5CelBIn8tZOc&#10;WzeRwJ1RggCo++6777QjAIAtXb58Wb788kvtGAERHx9v7tq1K8m/77333pMdO3a4pigicdgdDoAq&#10;r9dr5s6dW06ePKkdBQBsqWjRorJr1y4xDMPRO6Ht3LnTLFmyZLJ+b82aNWXVqlWO/4yQeEyCAKha&#10;t24dBQgAUmDPnj3y448/asfwu6QuhbvRzz//LJ999pn2IcBCKEEAVLEUDgBSbsyYMdoR/C4lJUhE&#10;pG/fvnL8+HGWQEFEKEEAlFGCACDlFi5cKHv27HH0CX5KS9DFixfl5Zdf1j4MWAQlCICabdu2mXv2&#10;7NGOAQC2Z5qmfPrpp9ox/CqxD0q9k1mzZsnChQsdXRaROJQgAGpmzJihHQEAHGPSpEmO3S47KirK&#10;PHjwoE9eq3v37nLlyhVHfk5IPEoQADWzZ8/WjgAAjnHp0iXHbpe9bds28Xq9Pnmtw4cPyxtvvKF9&#10;SFBGCQKgYuPGjea+ffu0YwCAo4wdO1ZMBz7/xBdL4W40atQo2bRpk+M+JyQeJQiACpbCAYDv7dy5&#10;U5YtW6Ydw+e2bNni09dLSEiQrl27SkJCAkXIpShBAALO6/WaLIUDAP9w4nbZmzZt8strfvLJJ9qH&#10;BiWGAyemACxu5cqVZt26dbVjAIAjBQUFycGDByVv3ryGdhZfiIuLMzNmzCjXrl3z+WtnyJBBdu7c&#10;Kbly5XLEZ4XEYxIEIOBYCgcA/pOQkCBTp07VjuEz27Zt80sBEvlrM4k+ffpoHyIUUIIABFRcXJw5&#10;d+5c7RgA4GiTJ08Wr9friOU+v/32m19ff8aMGbJo0SJHfFZIPEoQgIBaunSpnDt3TjsGADjawYMH&#10;ZcWKFdoxfMIf9wP9W8+ePSU6Opoi5CKUIAABNX36dO0IAOAKn332mXYEnwhECdq3b58MHTpU+1AR&#10;QGyMACBgIiMjzVy5cvltbTcA4P+FhYXJ0aNHJWvWrLa96T8mJsbMkCGDxMbG+v29wsLCZOvWrVK0&#10;aFHbfl5IPCZBAAJmxowZFCAACJCYmBj58ssvtWOkyJYtWwJSgET++ry6dOniyIfN4r8oQQAC5vPP&#10;P9eOAACuMmnSJO0IKfLLL78E9P1WrVolM2fO1D5sBAAlCEBAbN++3fz111+1YwCAq2zbtk3Wr19v&#10;28nGunXrAv6eL730kkRGRtr2M0PiUIIABARTIADQYedpkEYJOnXqlAwcOFD70OFnbIwAwO/i4uLM&#10;vHnzyqlTp7SjAIDrpEuXTo4fPy7p06e31Q3/hw8fNvPnz6/y3h6PR9avXy/33XefrT4zJB6TIAB+&#10;t2jRIgoQACi5cuWKzJo1SztGkmlMgf7h9Xrl+eefd8wDZ/FflCAAfsdSOADQ9cUXX2hHSLK1a9eq&#10;vv+vv/7qmGct4b9YDgfAr06fPm3myZNH4uLitKMAgGsZhiEHDhyQAgUK2GZ513333Wf+9ttvqhky&#10;Z84su3fvtvWzlnBrTIIA+NXUqVMpQACgzDRNW239HBUVZf7xxx/aMeT8+fMyYMAA7RjwAyZBAPzG&#10;6/WaRYoUkYMHD2pHAQDXK1mypGzfvt0WE40lS5aYDRs21I4hIn9tkrB27VqpWrWqLT47JA6TIAB+&#10;s2jRIgoQAFjEjh075M8//7TF1e+VK1dqR7jO6/VKjx49JCEhwRafHRKHEgTAbz7++GPtCACAG0yf&#10;Pl07QqJYqQSJiGzatEkmTpyoHQM+xHI4AH6xf/9+s2jRouL1erWjAAD+ljdvXjl06JB4PB7LLu26&#10;fPmymTlzZomPj9eOcpPw8HDZvXu3ZMuWzbKfHRKPSRAAv/j0008pQABgMUeOHJE1a9Zox7ij1atX&#10;W64AiYhcuHCBTRIchBIEwOeuXbtm8mwgALAmqy+Js9pSuBtNnjxZ1q9fzzIqB6AEAfC5mTNnyrlz&#10;57RjAABuYc6cORITE2PZE3krlyCv1yvPP/88myQ4ACUIgM+xIQIAWNeFCxdkyZIl2jFuKTIy0hLP&#10;B7qTzZs3y4QJE7RjIIUoQQB86tdff1V/wjcA4M5mzJihHeGWVqxYIQkJCdox7mrgwIFy9uxZpkE2&#10;RgkC4FOjR4/WjgAAuItFixZZcknc4sWLtSMkyvnz52XQoEHaMZACbJENwGeOHTtmFipUSGJjY7Wj&#10;AADuYv78+fLwww9barvn/Pnzm4cPH9aOkSgej0c2bNgglSpVstRniMRhEgTAZ0aOHEkBAgCbmDt3&#10;rnaEm2zdutU2BUjkr00SevbsKSYTBVuiBAHwicuXL5s8TRsA7OP777+X+Ph4y5zA22Up3I1++eUX&#10;y95fhTujBAHwifHjx8vFixe1YwAAEuncuXOyatUq7RjX2bEEiYi88sorcuXKFcuUSSQOJQhAisXF&#10;xZljxozRjgEASCKrLIm7dOmS+csvv2jHSJZjx47Je++9px0DSUQJApBis2fPFjut4wYA/GXu3Lni&#10;9XrVpxjLli2TuLg47RjJNnz4cNmzZ4/654jEowQBSLERI0ZoRwAAJMPJkydl3bp12jFsuxTuH7Gx&#10;sdK3b1/tGEgCShCAFFm+fLm5efNm7RgAgGSaN2+e6vt7vV5z4cKF2h9Din3//feyePFipkE2QQkC&#10;kCJMgQDA3rTvC1qzZo2cOHFC+2PwiZdeekliY2MpQjZACQKQbFu3bjXtvoQBANzu4MGDsn37drUT&#10;92+++Ub7I/CZ3bt3y+jRo7VjIBEoQQCSbciQIcIz4gDA/rQuaJmmaWpPonxtyJAhcurUKf5ytDhK&#10;EIBk2bFjh+P+4gIAt1q0aJHK+65fv16OHj2qffg+denSJRk4cKB2DNwFJQhAsgwZMkS8Xq92DACA&#10;D6xZs0YuXrwY8OmFk5bC3Wjy5MmyadMmpkEWRglyoWvXrvFNiRTZtWuXOWfOHO0YAAAfiYuLk2XL&#10;lgX0PZ24FO4fXq9X+vTpox0Dd0AJcqEVK1bI3LlzKUJItrffflsSEhK0YwAAfCjQ9wVt2rRJDh48&#10;qH3YfvPTTz9xvmVhlCAXOnr0qPTo0UMuXLjANyaSbO/evebMmTO1YwAAfGzRokViBnC3G6cuhbvR&#10;K6+8IjExMZxvWRAlyIUOHz4sJ06ckN69e2tHgQ298847TIEAwIFOnDghW7ZsCch7eb1e86uvvtI+&#10;ZL/bv3+/jBo1SjsGboES5EJHjhwREZHPP/9clixZwtUJJNqBAwfM6dOna8cAAPhJoHaJW758uRw+&#10;fFj7cAPi7bfflpMnT3K+ZTGUIBc6duzY9X/u1q2bREVF8Y2JRHn33XclPj5eOwYAwE+WLFkSkPeZ&#10;OnWq9qEGzOXLl+WNN97QjoF/MXjQofsUKVLE3L9///V/f/HFF2XUqFGGdi5Y2759+8ySJUtKXFyc&#10;dhQAgJ+EhITI+fPnJV26dH47L7h48aKZM2dOuXbtmvbhBkxQUJBs3rxZ7r33Xs63LIJJkMvEx8eb&#10;/x4/jx07VtasWUMbxh0NGjSIAgQADhcXFydr1qzx63vMmjXLVQVIRCQhIUF69eqlHQM3oAS5zKFD&#10;h/5zIuv1eqVTp04SHR1NEcItbd261Zw9e7Z2DABAACxfvtyvrz9lyhTtQ1SxcuVK+e677zjXsghK&#10;kMvcuAzuRrt375Z33nlHOx4s6tVXXxWv16sdAwAQAP4sQbt37zbXrVunfYhq+vbtK7GxsRQhC6AE&#10;ucztSpCIyLBhw2Tr1q18Y+Imq1atMn/44QftGACAAPnjjz/k3LlzfjkfcNOGCLeyd+9e+fjjj7Vj&#10;QChBrrNv377b/lpcXJx069ZNvF4vRQgiImKaptmvXz/tGACAAPJ6vbJy5Uqfv25sbKzp1qVwNxoy&#10;ZAgPrLcASpDL3GkSJCKybt06mThxonZMWMR3330n69ev144BAAiwFStW+Pw1Z82aJSdOnNA+NHXn&#10;z5/nFgQLYItslylWrJi5Z8+eO35NeHi47Ny5U3LkyME2ji6WkJBg3nvvvbJjxw7tKACAACtWrJjs&#10;2rXLp+cBFSpUMLds2aJ9aJYQFhYmO3fulIIFC3KupYRJkIvExMSYBw4cuOvXXbhwQfr06aMdF8qm&#10;Tp1KAQIAl9q9e7ecPHnSZ1fKV65cSQG6QUxMjPTv3187hqtRglxkz549Eh8fn6iv/fLLL2XZsmWM&#10;CV0qOjraHDx4sHYMAIAiXy6H/uijj7QPx3Jmz54tv/zyC+daSihBLrJz584kff3zzz8vMTExfHO6&#10;0JgxY+TfD9UFALjL2rVrffI6e/fuNRcuXKh9OJZjmqa8+uqr2jFcixLkIkld2rRnzx4ZOnSodmwE&#10;2OnTp01u2AQArFmzxievM3LkSJ41dxtr1qyRuXPncsFZASXIRZI6CRIRee+992TXrl18c7rIgAED&#10;5OLFi9oxAADKNm3aJFevXk3ROcCFCxdMtz8b6G54gKoOSpCLJKcExcTESI8ePbSjI0C2bNlifv75&#10;59oxAAAWEBcXJ7/99luKXmPcuHESFRWlfSiWduDAAfn000+1Y7gOJcglEhIS7ro19u0sX75cvvrq&#10;K65QuECvXr1YsgAAuC4l9wVdvHjRHDFihPYh2MKQIUMkMjKSc60AogS5xP79+yUmJibZv79v375y&#10;+fJlvjkdbM6cOebq1au1YwAALCQlO8R99NFHcuHCBe1DsIWzZ8/Ku+++qx3DVShBLvH777+n6Pcf&#10;P35chgwZon0Y8JPo6GjzlVde0Y4BALCY5C6Hu3Dhgjly5Ejt+Lby986sXHAOEEqQS/jiAWWjRo1i&#10;kwSHGj58uBw6dEg7BgDAYo4fPy7Hjx9P8t/97733HpvsJFF0dLS88cYb2jFcgxLkEr4oQbGxsfLC&#10;Cy9oHwp87NixY+awYcO0YwAALOrXX39N0tcfOnTIHDNmjHZsW5o2bZr8/vvvXHAOAEqQS6R0Odw/&#10;li1bJvPmzeOb00H69+8vV65c0Y4BALCopC6J69+/v0RHR2vHtiWv1yuDBg3SjuEKhmlyPut0J06c&#10;MHPlyuWz1ytQoIDs2LFDUqdObWgfG1Jm7dq1Zs2aNYWfAwCA22nQoIH88MMPifo7f/369eb999/P&#10;3ysptGrVKqlVqxbnWX7EJMgFfDUF+sehQ4eE5VP2FxcXZz733HP8RQUAuKPELqmPj483u3fvzt8r&#10;PvDqq6+KyQfpV5QgF9i8ebPPX/P999+XgwcP8s1pYyNGjJA///xTOwYAwOJOnz4tZ86cuevf+aNG&#10;jfLJPcj4a2vyefPmacdwNEqQC/h6EiQicu3aNendu7f2oSGZDh8+bL799tvaMQAANrF9+/Y7/vqR&#10;I0fMN998Uzumo/Tv31/i4+O54OwnlCAX+OOPP/zyuvPmzZOlS5fyzWlDPXr0YDMEAECibdu27ba/&#10;Zpqm2alTJ/5e8bE9e/bI5MmTtWM4FiXI4S5fvmzu37/fb6//0ksvcZXCZubNm2fOnz9fOwYAwEbu&#10;VILGjh0rS5cu1Y7oSIMHD5arV69ynuUHlCCH+/XXX8Xr9frt9Xfs2CHjx4/XPkwk0tWrV82XX35Z&#10;OwYAwGZutxxu586d5quvvqodz7GOHz8uI0eO1I7hSJQgh9u4caPf3+PNN9+UyMhIrlLYwKBBg+TQ&#10;oUPaMQAANnOrEnT16lXziSeekGvXrmnHc7T3339fzp07x3mWj1GCHG79+vV+f4+zZ8/KW2+9pX2o&#10;uIs//vjDHD16tHYMAIANXbhwQY4dO3bTiXjnzp39dt8x/t/Fixdl6NCh2jEchxLkcIEoQSIi48aN&#10;k71793KVwqK8Xq/ZrVs3iY+P144CALCpG6dBH330kfnVV19pR3KNcePG/aeEImUoQQ528OBB89Sp&#10;UwF5r9jYWOnTp4/2IeM2xo4dG7BCDABwpn379omIyPz5881XXnlFO46rXLt2TXi0hW9Rghxs3bp1&#10;AX2/77//ni2zLejgwYPma6+9ph0DAGBzhw4dkvXr15tPPPEEKwsUTJo0Sfbv3895lo9QghwsEJsi&#10;/Fvfvn0lISGBb1CL8Hq9Zvv27Xl2AwAgxZYtWyaNGjWSqKgo7SiuFBcXJ4MHD9aO4RiUIAcL9CRI&#10;RGTr1q0yadIk7UPH38aOHSurV6/WjgEAcIAtW7ZIZGSkdgxXmz59umzdupWLzT5gmCafoxNFR0eb&#10;GTNmlNjY2IC/d/bs2WXfvn2SPn16Q/tzcLP9+/ebZcuW5YodAAAO0qJFC5k7dy7nWCnEJMihNm/e&#10;rFKAREROnz4t77//vvZH4Gper9fs2LEjBQgAAIeZN2+ebNiwgSlGClGCHEp7J7APP/xQjhw5wjeo&#10;knHjxsmqVau0YwAAAD944403tCPYHiXIoTZs2KD6/teuXeMBqkoOHjxoDhgwQDsGAADwkyVLlsjK&#10;lSu52JwC3BPkUHny5DGPHTummiEoKEh+//13KV26NOtWA8Tr9Zp169ZlCgQAgMNVr15d1qxZwzlW&#10;MjEJcqDdu3erFyARkYSEBOnXr592DFf5+OOPKUAAALjA2rVrZeHChUwzkokS5EArV67UjnDdwoUL&#10;Zfny5XyDBsDOnTvNV199VTsGAAAIkNdff11MlnUlCyXIgaxUgkRE+vTpI16vl29QP4qLizOfeeYZ&#10;uXr1qnYUAAAQIJs3b5bvvvtOO4YtUYIcxjRN02rLoX7//XeZNWuWdgxHGzBggPz666/aMQAAQIAN&#10;GjSIi83JwMYIDrNjxw6zVKlS2jH+o0CBArJr1y4JCwvjBj4fW7VqlVm3bl3xer3aUQAAgIKvv/5a&#10;WrVqxTlWEjAJchirLYX7x6FDh+STTz7RjuE4Fy5cMNu1a0cBAgDAxd544w2mQUlECXIYq5YgEZF3&#10;3nlHLl26xDeoD3Xr1k0OHz6sHQMAACjavn27zJkzRzuGrVCCHMSK9wPd6OzZs/LRRx9px3CMiRMn&#10;mrNnz9aOAQAALOD111+XhIQELjYnEvcEOcjWrVvNsmXLase4o3Tp0sn+/fsle/bsrFtNgX379pkV&#10;KlSQy5cva0cBAAAWMX36dHnyySc5x0oEJkEOYuWlcP+4cuWKDB06VDuGrcXHx5tPP/00BQgAANzk&#10;zTfflPj4eCYciUAJcpCffvpJO0KifPLJJ3L48GG+QZNp4MCBsmHDBu0YAADAYvbu3StfffWVdgxb&#10;YDmcQ3i9XjNr1qxy4cIF7SiJ0qFDB5k0aRLj2iRauHCh2axZM3aDA/ygUaNGsnfvXtm3b592FABI&#10;tiJFisjOnTslODiY86w7YBLkEJs3b7ZNARIRmTp1quzatYsGngT/+9//2A4b8KPcuXPLli1b5Nln&#10;n9WOAgDJtm/fPpk2bZp2DMujBDnE4sWLtSMkSUJCggwcOFA7hm3ExMSYrVu3lvPnz2tHARzrzJkz&#10;ki5dOmPy5MnGnDlzJGPGjNqRACBZ3n33Xe4NugtKkEMsWrRIO0KSzZ07V3777Te+QROhT58+snHj&#10;Ru0YgKOdOXPm+j8/+uijxqZNm6R8+fLasQAgyfbv3y8zZszQjmFplCAHOHPmjGnHE2TTNOXNN9/U&#10;jmF5s2fPNseOHasdA3C806dP3/TvhQsXNtatWycvvviidjQASLIhQ4bw3KA7oAQ5wOLFi217n8jC&#10;hQtlw4YNfIPexp49e8zOnTtrxwBc4cZJ0D/CwsKMUaNGGV988YWkTZtWOyIAJNrevXtlzpw52jEs&#10;ixLkAHZcCncjpkG3du3aNbN169Zy6dIl7SiAK1y8eFFiYmJueVHm6aefNn777TcpXbq0dkwASLQh&#10;Q4aI1+vlYvMtUIJsLiEhwfzxxx+1Y6TIDz/8ID///DPfoP/y3HPPyR9//KEdA3CVs2fP3vbXihcv&#10;bqxbt06eeOIJ7ZgAkCg7duyQefPmacewJEqQza1du9YRO4YNGTJEO4KlTJgwwZw6dap2DMB1brUk&#10;7kbp0qUzvvrqK2Pq1KmSOnVq7bgAcFdDhgwRkweD/gclyObsvhTuHz/++CPToL/99ttvZs+ePbVj&#10;AK50txL0j3bt2hmrVq2SfPnyaUcGgDv6448/ZP78+doxLIcSZHMLFy7UjuAz3BskcurUKbNly5YS&#10;HR2tHQVwpX/vEHcn9913n7Fp0yapW7eudmwAuKPBgwczDfoXSpCNHTlyxNy2bZt2DJ9ZsWKF/PTT&#10;T679Bo2LizNbt24tR44c0Y4CuFZiJ0H/yJo1q7FkyRJ59dVXtaMDwG1t3rxZfvjhB+0YlkIJsrEF&#10;CxZoR/C5gQMHakdQ8/zzz8vq1au1YwCultQSJCISHBxsDB061JgwYYKEhoZqHwIA3NJbb72lHcFS&#10;KEE2tnjxYu0IPrd27VpZvny566ZBY8aMMSdOnKgdA3C95JSgf3Tu3NlYsWKF5MiRQ/swAOA/1q9f&#10;78pzrNuhBNlUdHS0uXz5cu0YfvHGG29oRwioFStWmC+//LJ2DACSshIkIlK9enXjt99+k0qVKmkf&#10;CgD8x3vvvacdwTIoQTa1cuVKuXr1qnYMv1i7dq0sXbrUFVcqDhw4YLZu3Vri4+O1owCQlJcgEZE8&#10;efIYq1atkkcffVT7cADgJsuXL5eNGze64hzrbihBNvXdd99pR/ArN0yDrly5YjZv3lzOnTunHQXA&#10;33z1/ZgmTRpj9uzZ0r9/f+1DAoCbMA36CyXIhrxer+n0ErR+/XpZvHixY69UmKZpduzYUf7880/t&#10;KABucPnyZZ+9lmEYxrvvvmvMmDFDUqVKpX1oACAif11I37Ztm2PPsRKLEmRDq1evlpMnT2rH8LtB&#10;gwY5dk/7N998U2bPnq0dA8C/+LIE/aNNmzbGsmXLJFu2bNqHBwBimqa8//772jHUUYJsaO7cudoR&#10;AmLTpk2O3AZ85syZ5pAhQ7RjALiFK1eu+OXiS/Xq1Y21a9dK0aJFtQ8RAGTGjBly6NAhR15oTixK&#10;kM2YpmnOmzdPO0bAOO0Jx6tXrzbbt28vDjokwFG8Xq/fNp255557jHXr1skDDzygfZgAXC4+Pl4+&#10;+OAD7RiqKEE2s379ejl69Kh2jIDZtGmTY55wvGvXLrNFixYSExOjHQXAHfhjSdw/MmfObPzwww/S&#10;rl077cME4HKTJ0+WkydPuvaqLCXIZr7++mvtCAHnhKVjZ8+eNZs2bSrnz5/XjgLgLqKiovz6+qGh&#10;ocaUKVNcsQsmAOuKjo6WUaNGacdQQwmyEdM0TbfcD3SjdevWyerVq217peLq1atmkyZNZN++fdpR&#10;ACTCpUuX/P4ehmEYb775pjFu3DgJCgrSPmQALvXxxx9LZGSkbc+xUoISZCPr16+XQ4cOacdQ8c47&#10;72hHSJaEhATzySeflI0bN2pHAZBIV65cCdh7de/e3ZgzZ46kTp1a+7ABuNClS5dk3Lhx2jFUUIJs&#10;5KuvvtKOoGbp0qXy66+/2u5Kxcsvv+z4B9sCThPIEiQi0qJFC2PlypVsoQ1AxejRo+XatWu2O8dK&#10;KUqQTSQkJJhz5szRjqHKbk84HjFihDl69GjtGACSyJ8bI9xOlSpVjHXr1kmRIkW0Dx+Ay5w+fVq+&#10;+OIL7RgBRwmyieXLl8upU6e0Y6j69ttvbfOE4/nz55uvvPKKdgwAyaBRgkREChcubPz8889SoUIF&#10;7Y8AgMt8+OGH4vV6bXGO5SuUIJuYOXOmdgR1pmnKsGHDtGPc1S+//GI+/vjjkpCQoB0FQDIEejnc&#10;jSIiIoyVK1fKQw89pP0xAHCRPXv2yPfff68dI6AoQTYQHR3tqgek3smMGTNk7969lr1SsW3bNrNp&#10;06Zy7do17SgAkklrEvSPDBkyGAsXLpRHH31U+6MA4CJ2u+0gpShBNrBo0SKJjIzUjmEJCQkJ8uGH&#10;H2rHuKUDBw6Y9evX51lAgM1pToL+ERoaasycOVM6duyoHQWAS2zcuFF++eUXy15o9jVKkA24eVe4&#10;W5kyZYocO3bMUt+kJ06cMOvVqycnTpzQjgIghbQnQf8ICgoyJk6cKD179tSOAsAlPvjgA+0IAUMJ&#10;srjz58+bCxYs0I5hKTExMZaaBl28eNFs3LixHDhwQDsKAB+Ii4vTjnCdYRjGyJEjjaFDh2pHAeAC&#10;3333nezcudNSF5r9hRJkcdOnT5eYmBjtGJYzfvx4OXPmjPo36dWrV82HH35Yfv/9d+0oAHwkPj5e&#10;O8J/vPrqq8bYsWPF4+GvbQD+Y5qmjBw5UjtGQPDT1OKmTp2qHcGSrl69KtrP4ImNjTVbtWola9as&#10;0f44APiQFUuQiMjzzz9vTJ06VYKDg7WjAHCwqVOnyokTJ9QvNPsbJcjC/vzzT3PTpk3aMSxr7Nix&#10;cunSJZVv0oSEBPOpp56SH374QftjAOBjVi1BIiJPP/20MWvWLAkLC9OOAsChYmJiZNy4cdox/I4S&#10;ZGFTpkzRjmBpkZGRMnHixIC/r2ma5nPPPSdff/219kcAwA+s/oyvli1bGosXL5b06dNrRwHgUJ98&#10;8olERUU5ehpECbKo+Ph4c/r06doxLG/UqFESFxcX0G/Sfv36qZQvAIFh5UnQPx544AFjyZIlkjFj&#10;Ru0oABzo/Pnz8uWXX2rH8CtKkEUtXrxYTp06pR3D8o4cOSIzZ84M2Pu9/fbb5vvvv6992AD8yA4l&#10;SESkWrVqxtKlSyVTpkzaUQA40KhRo8Q0TcdOgyhBFjVp0iTtCLYxfPjwgHyTvvfee+agQYO0DxeA&#10;n1l9OdyNKleubPz4448SHh6uHQWAw+zcudPR9z5TgizoxIkT5qJFi7Rj2MbWrVtl6dKlfn2PESNG&#10;mAMGDNA+VAABYKcSJCJSqVIlY8WKFZI1a1btKAAcxsnbZVOCLGjixImWelifHfjzCccfffSR2bt3&#10;b+1DBBAgdlkOd6Ny5coZy5YtowgB8KmlS5fK1q1bHbkkjhJkMV6v15w8ebJ2DNtZvny5bN682eff&#10;pCNHjjRffvll7cMDEEB2LEEiImXLljVWr14tERER2lEAOMiYMWO0I/gFJchiFi1aJP/73/+0Y9jS&#10;8OHDffp6o0aNMl966SXtwwIQYHZbDnejEiVKGCtXrpScOXNqRwHgEF988YWcOnXKcdMgSpDFjB8/&#10;XjuCbc2ePVsOHDjgk2/SCRMmUIAAl7LrJOgfxYsXN1auXCm5cuXSjgLAAWJiYmTChAnaMXyOEmQh&#10;R48eNRcvXqwdw7YSEhJk9OjRKX6diRMnmt26dRMH7woJ4A7sXoJERIoVK2asXLlScufOrR0FgAOM&#10;HTtWoqOjHXViRAmykM8++8zWyzCsYNKkSXL+/Plkf5N++umnZteuXSlAgIs55edw0aJFjRUrVlCE&#10;AKTY6dOnZfbs2doxfIoSZBGxsbHmxIkTtWPY3pUrVyS5n+P48ePN7t27U4AAlwsKCtKO4DNFixbl&#10;HiEAPuGL1TZWQgmyiDlz5sjx48e1YzjCmDFjJC4uLklNZty4ceZzzz1HAQIgoaGh2hF86p577jFW&#10;rlwpOXLk0I4CwMY2bdok69atc8yJEiXIIpzWrjUdO3ZM5s2bl+ivHzZsmNmjRw8KEAAREQkJCdGO&#10;4HPFihUzlixZIuHh4dpRANiYk7bLpgRZwC+//GJu3LhRO4ajjBo16q5fY5qm2bdvX7Nfv37acQFY&#10;iNMmQf8oW7assWjRIkmfPr12FAA29fXXX8uxY8cccdWYEmQBiTlhR9L88ssvsnHjxtt+k5qmafbq&#10;1cvnzxYCYH9OnAT9o2rVqsaiRYskbdq02lEA2FBcXJx89tln2jF8ghKk7NixY2ZSlm4h8W63xDAh&#10;IcHs0KEDSxAB3JKTS5CISI0aNYy5c+dKWFiYdhQANjR+/HiJjY21/TSIEqRs7NixEhcXpx3DkWbP&#10;ni1Hjx696Zs0NjbWfPzxx2XKlCna8QBYlNNLkIhI/fr1jZkzZ0pwcLB2FAA2c+LECZk7d652jBSj&#10;BCm6du0a22L7UVxcnIwfP/76v1+9etVs1qyZfPPNN9rRAFiYU+8J+rfmzZsbn3/+uXg8nAoASJqx&#10;Y8dqR0gxfvIpmjp1qpw7d047hqONHz9eoqOjzUuXLpkNGzaUJUuWaEcCYHFumo48/fTTxieffCKG&#10;YWhHAWAja9eulS1btth6SRwlSElCQoLJTfn+d+bMGRkzZow8+OCD8vPPP2vHAWADbpkE/aNLly7G&#10;iBEjtGMAsBm7b5dNCVLyzTffyP79+7VjuMIrr7wiv/32m3YMADbhhnuC/q1Xr17G22+/rR0DgI3M&#10;nDlTzp07Z9tpECVIybBhw7QjAABuwY0lSETktddeM3r37q0dA4BNXLt2TSZPnqwdI9koQQqWLl1q&#10;bt68WTsGAOAW3LYc7kYffPCBtG/fXjsGAJsYP368eL1eW06DKEEKPvjgA+0IAIDbcOskSETEMAxj&#10;woQJUr9+fe0oAGxg//79snz5cu0YyUIJCrDffvvNXLZsmXYMAMBtpE2bVjuCqpCQEGPevHlSrVo1&#10;7SgAbODTTz/VjpAslKAA414gALC2jBkzakdQlyZNGuP777+XYsWKaUcBYHHff/+9HDt2zHZL4ihB&#10;AbRr1y5z3rx52jEAAHeQIUMG7QiWkDVrVmPhwoWSI0cO7SgALCw+Pl4mTZqkHSPJKEEB9NZbb0lC&#10;QoJ2DADAHTAJ+n+FCxc2fvzxR8mUKZN2FAAWNnHiRImPj7fVNIgSFCA7d+40Z82apR0DAHAXTIJu&#10;VqZMGWPu3LkSFhamHQWARR09elQWLlyoHSNJKEEB8tZbb4nX69WOAQC4CyZB//XAAw8YU6ZMEY+H&#10;0wYAtzZ+/HjtCEnCT7MA2LFjhzl79mztGACARGASdGtt2rQxxowZox0DgEX98MMPsm/fPtssiaME&#10;BQBTIACwD0rQ7XXv3t3o27evdgwAFmSapnz22WfaMRLNME3bFDZb2r59u3nvvfdSggDAJmJiYiQ0&#10;NNTQzmFVpmmaHTp0kClTpmhHAWAxOXLkkCNHjkhISIjlf4YyCfKzwYMHU4AAwCZSpUpFAboLwzCM&#10;CRMmSN26dbWjALCYU6dOyYIFC7RjJAolyI9+//1385tvvtGOAQBIJDZFSJyQkBDj66+/lqJFi2pH&#10;AWAxdnlmECXIj1555RWmQABgI9wPlHjh4eHG4sWLJVu2bNpRAFjI4sWL5ciRI5a/34YS5Cc//fST&#10;+eOPP2rHAAAkAZOgpClUqJDxzTff8AwhANd5vV6ZOnWqdoy7ogT5gWmaZp8+fbRjAACSiBKUdDVr&#10;1jTGjRunHQOAhUyePFm8Xq+lp0GUID+YMWOGbNq0STsGACCJIiIitCPYUseOHdk6G8B1Bw8elBUr&#10;VmjHuCNKkI/Fxsaar7/+unYMAEAy5MiRQzuCbQ0dOlSaN2+uHQOARVh9gwRKkI99/PHHsn//fu0Y&#10;AIBkoAQln8fjMb766iu57777tKMAsIC5c+fKmTNnLLskjhLkQ5cvXzbfe+897RgAgGRiOVzKpE6d&#10;2vj2228lT5482lEAKIuNjZWvvvpKO8ZtUYJ86J133pHTp09rxwAAJBOToJTLlSuXMW/ePEmTJo12&#10;FADKrLwkjhLkI/v37zdHjhypHQMAkAI5c+bUjuAIlSpVMr744gvxeDjNANzszz//lM2bN1tySRw/&#10;nXykZ8+eEhMTox0DAJACTIJ8p2XLlsZbb72lHQOAMqs+M8gwTUuWM1tZsGCB2bRpU+0YAIAUCAoK&#10;kpiYGAkKCjK0szhJu3btzC+++EI7BgAlWbJkkWPHjklYWJilfrYyCUqhmJgY8+WXX9aOAQBIoaxZ&#10;s1KA/GDixIlSrVo17RgAlJw7d04WLVqkHeM/KEEpNGLECNm7d692DABACnE/kH+EhYUZc+fOldy5&#10;c2tHAaBk2rRp2hH+gxKUAidPnjSHDh2qHQMA4ANsj+0/ERERxtdffy1hYWHaUQAoWLhwoeWeGUQJ&#10;SoHevXvLpUuXtGMAAHyATRH8q2rVqsb48eO1YwBQEBcXJzNmzNCOcRNKUDKtXLnStNofJgAg+ZgE&#10;+d8zzzxjdOvWTTsGAAVTpkzRjnATSlAyxMTEmN27dxd21gMA5yhQoIB2BFcYPXq01KpVSzsGgADb&#10;smWLbN261TInz5SgZBg8eLDs2rVLOwYAwIcoQYEREhJizJo1i40SABey0jODeE5QEm3dutWsVKmS&#10;xMXFaUcBAPjQrl27pFixYmyRHSDr1683a9euLbGxsdpRAARIzpw55ciRI5Z4HAGToCTwer1mt27d&#10;KEAA4DCGYUj+/Pm1Y7hK1apVjQ8//FA7BoAAOnHihKxcuVI7hohQgpJk7Nixsm7dOu0YAAAfy507&#10;t6RKlUr9yqTb9OjRw2jXrp12DAABNH36dO0IIsJyuEQ7fPiwWbp0abl8+bJ2FACAj9WsWVNWr15N&#10;CVIQFRVlVqlSRbZv364dBUAAZMiQQU6ePCmpU6dW/ZnLJCiRnn/+eQoQADgUmyLoSZs2rfH1119L&#10;+vTptaMACIBLly7J/PnztWNQghJj6tSp5oIFC7RjAAD8pFChQtoRXK148eLGF198IYbBMA5wg6++&#10;+ko7AiXobo4ePWq+9NJL2jEAAH5UsGBB7Qiu98gjjxg9e/bUjgEgABYtWiTnzp1TvSeHEnQHXq/X&#10;fOaZZ+TChQvaUQAAfkQJsob3339f7r//fu0YAPwsLi5Ovv76a9UMlKA7GDVqlKxYsUI7BgDAzyhB&#10;1vDPg1SzZs2qHQWAn2nvEsfucLexc+dOs2LFinLt2jXtKAAAPwoNDZWrV69a4uF9+MuiRYvMhx9+&#10;WDhHAZzLMAw5cOCAFChQQOVnL5OgW4iLizPbtm1LAQIAFyhcuDAFyGIaN25s9OrVSzsGAD8yTVNm&#10;zZql9v6UoFt46623ZNOmTdoxAAABUKpUKe0IuIVhw4ZJtWrVtGMA8KPZs2ervTcl6F/Wr19vDh06&#10;VDsGACBASpYsqR0BtxASEmJMnz5dMmXKpB0FgJ9s3rxZ9u7dq7LulRJ0g8jISPPJJ5+U+Ph47SgA&#10;gABhEmRdBQsWNKZNm8bzgwAH05oGUYL+Zpqm2aFDBzl48KB2FABAAFGCrK1p06ZG9+7dtWMA8BOt&#10;EsTucH/76KOPzJdfflk7BgAggIKDgyUqKkpCQ0MZNVhYTEyMWblyZdm6dat2FAB+sHPnTilevHhA&#10;fw4zCRKRX3/91ezXr592DABAgN1zzz0UIBsICwszZsyYIalTp9aOAsAPNKZBri9BkZGR5uOPPy6x&#10;sbHaUQAAAcZSOPsoWbKk8cEHH2jHAOAHM2bMCPh7uroEcR8QALgbO8PZS/fu3aVZs2baMQD42K5d&#10;u2T79u0BvUfH1SVoxIgRMm/ePO0YAAAllCB7MQzDmDRpkuTMmVM7CgAfC/SSONeWoJ9//tns37+/&#10;dgwAgCJKkP1kzZrVmDJlCttmAw5DCQqAQ4cOma1atZK4uDjtKAAAJcHBwVKsWDHtGEiG+vXrG716&#10;9dKOAcCHdu3aJTt27AjYkjjXlaArV66YjzzyiJw5c0Y7CgBAUcmSJdkZzsbee+89KVeunHYMAD40&#10;d+7cgL2Xq0qQaZpmx44dec4AAEAqV66sHQEpEBYWZkyfPl1SpUqlHQWAjwTyXn1XlaA333xT7am0&#10;AABrqVSpknYEpFDJkiWNt956SzsGAB/ZvHmzHDhwICBL4lxTgubOnWsOGTJEOwYAwCIoQc7Qu3dv&#10;qV27tnYMAD7y7bffBuR9DNMM6JbcKv744w+zevXqEhUVpR0FAGABYWFhcvHiRQkLC+OeIAc4ePCg&#10;WbZsWbl8+bJ2FAApVKNGDfn555/9/rPZ8ZOgEydOmM2aNaMAAQCuu/feeylADlKwYEHjww8/1I4B&#10;wAd++eUXOXnypN+nNI4uQZcuXTKbNGkihw8f1o4CALCQ++67TzsCfKxz585GkyZNtGMASCGv1yvf&#10;ffed39/HsSUoNjbWfPTRR2XLli3aUQAAFkMJcqbJkydL9uzZtWMASKFA7BLnyBLk9XrNdu3ayY8/&#10;/qgdBQBgQRUrVtSOAD/Inj27MWbMGO0YAFJoxYoVEhkZ6dclcY4sQb1795ZZs2ZpxwAAWFCaNGmk&#10;RIkS2jHgJ61btzYee+wx7RgAUiAuLk4WL17s1/dwXAkaOnSoOXLkSO0YAACLqlixogQHB7MpgoN9&#10;/PHHLIsDbG7+/Pl+fX1HlaBp06aZAwYM0I4BALCwypUra0eAn2XNmtX46KOPtGMASIHFixdLXFyc&#10;35bEOaYELVq0yOzUqZO44blHAIDkq1WrlnYEBMCTTz5pNGvWTDsGgGSKjIyUNWvW+O31HVGCfvzx&#10;R7NVq1YSFxenHQUAYGGGYUj16tW1YyBAPv30UwkPD9eOASCZ/LkkzvYlaNmyZeYjjzwi0dHR2lEA&#10;ABZXpkwZyZIlC/cDuUTOnDl5iCpgY/58XpCtS9DPP/9sNm/eXK5du6YdBQBgAyyFc59nn33WaNiw&#10;oXYMAMlw4MAB2bFjh1/udbFtCVqzZo3ZuHFjiYqK0o4CALAJSpA7ffbZZ5IpUybtGACSwV9L4mxZ&#10;glatWmU2bNhQrly5oh0FAGAjNWvW1I4ABblz5zbeeecd7RgAksFfJciw225qP//8s9moUSMmQACA&#10;JClatKjs3r2b+4Fcyuv1mjVq1JB169ZpRwGQBEFBQXLixAnJli2bT39+22oStHLlSpbAAQCShaVw&#10;7ubxeIzx48dLSEiIdhQASZCQkCBLly71+evapgR99913ZpMmTVgCBwBIFkoQypQpY/Tu3Vs7BoAk&#10;+uGHH3z+mrZYDjdhwgSze/fukpCQoB0FAGBThw4dkvz587MczuWuXbtmlilTRvbv368dBUAiZcuW&#10;TU6ePCkej8dnP8MtPwkaNmyY2a1bNwoQACDZ7rnnHgoQREQkderUxsSJE8Uw+N8BsIszZ87Ipk2b&#10;fPqali1Bpmmaffr0Mfv16yd2mFYBAKyrUaNG2hFgIQ888IDx1FNPaccAkASLFy/26etZsgTFx8eb&#10;HTt2FJ7yDADwhQYNGmhHgMWMHDlSsmXLph0DQCL5+r4gy90TFBUVZT766KN+uQEKAOA+qVKlknPn&#10;zkmaNGlY/4SbfP7552aHDh20YwBIhKCgIDl16pRkyZLFJz/LLTUJunjxotmgQQMKEADAZ2rXrk0B&#10;wi21b99eateurR0DQCIkJCTIjz/+6LPXs0wJunDhgtmgQQNZu3atdhQAgIM0bNhQOwIsyjAMY+zY&#10;sRIcHKwdBUAi+HJQYokSdOXKFbN+/fqyYcMG7SgAAIfhfiDcSenSpY3u3btrxwCQCEuWLBHTR/fy&#10;qN8TlJCQYLZq1Uq+++471RwAAOcpUKCAHDx4kKVwuKNLly6ZxYsXlxMnTmhHAXAXW7dulTJlyqT4&#10;57r6JOjFF1+kAAEA/IKlcEiMDBkyGEOHDtWOASARfHVfkGoJmjFjhvnxxx9rRgAAOBglCInVtm1b&#10;NkkAbGD58uU+eR215XA7duwwK1euLFFRUSrvDwBwtlSpUsmZM2ckXbp0LIdDovzxxx9mpUqVJD4+&#10;XjsKgNtImzatnD9/XkJDQ1P0s11lEnTt2jWzdevWFCAAgN/Ur1+fAoQkKVu2rPHcc89pxwBwB1FR&#10;UbJu3boUv45KCXr99ddl+/btGm8NAHCJli1bakeADb311luSI0cO7RgA7sAXS+ICXoI2bNhgfvTR&#10;R4F+WwCAi4SEhEjTpk21Y8CGMmXKZAwZMkQ7BoA7WLZsWYpfI6D3BMXExJgVK1ZkCgQA8Kv69evL&#10;kiVLWAqHZPF6vWblypVl06ZN2lEA3EJQUJCcPXtWMmXKlOyf8wGdBL3//vsUIACA37EUDinh8XiM&#10;4cOHa8cAcBsJCQmyatWqFL1GwErQ4cOHTfbgBwD4m8fjkUceeUQ7BmyuTp06RosWLbRjALiNlN4X&#10;FLAS1KdPH7l69Wqg3g4A4FLVq1eXiIgIlsIhxYYPHy5hYWHaMQDcwurVq1P0+wNSglauXGnOmTMn&#10;IB8IAMDduHoPXylUqJDxwgsvaMcAcAt//vmnnD9/PtmbG/i9BJmmab766quB/VQAAK5kGAYlCD41&#10;cOBAyZ49u3YMAP/i9Xrl559/Tvbv93sJmjt3rvz6668B/VAAAO50//33S4ECBVgKB5/JmDGj8dZb&#10;b2nHAHALKdkcwa8lKCEhwXz99dcD/oEAANzp6aef1o4AB+rUqZPce++92jEA/ItlS9CXX34pO3bs&#10;CPgHAgBwn9DQUGndurV2DDhQUFCQ8f7772vHAPAvf/zxh0RGRibrviC/laCEhATznXfe0ftUAACu&#10;0qRJE8mcOTNL4eAXDRo0MB566CHtGABukJCQIGvXrk3W7/VbCZozZ47s3btX7UMBALhL27ZttSPA&#10;4T744APxeAL6nHkAd5HcJXF++U42TdMcNmyY6gcCAHCP8PBwady4sXYMOFy5cuUMllwC1vLTTz8l&#10;6/f5pQQtWrRIfv/9d8WPAwDgJq1bt5awsDCWwsHv3n33XR6gCljIli1b5MqVK0m+L8gvJYibBwEA&#10;gcSucAiUggULGl26dNGOAeBv8fHxyXocj89L0O+//26uXr1a+/MAAJ9o2LChcMJjbYUKFZLq1atr&#10;x4CLDBo0SDJkyKAdA8DffvnllyT/Hp+XoNGjR2t/DgDgE+Hh4TJx4kT59NNP5bnnntOOg9vo0KGD&#10;GIbBUjgETLZs2Yw+ffpoxwDwt+TsEGeYZrK21r6ls2fPmnnz5pXo6GjtzwIAUmzWrFnSunVrQ+Sv&#10;DV86deokkydP1o6FGwQHB8v//vc/yZUrFyUIAXXt2jWzaNGicvToUe0ogOtlypRJzp07Jx6PJ9F/&#10;F/h0EjRx4kQKEABHaNeu3fUCJCJiGIYxfvx4ad68uXY03KBZs2YUIKhInTq1MWDAAO0YAEQkMjJS&#10;du7cmaTf47MS5PV6zU8//VT7MwCAFMufP/8tl/YGBwcbM2fOlHr16mlHxN+6du2qHQEu1rFjRylQ&#10;oIB2DACS9CVxPitBS5YskcOHD2sfPwCkiMfjkSlTpkjGjBlvOV0ICwszvv32W6lVq5Z2VNcrVKiQ&#10;PPTQQ9ox4GKhoaHGwIEDtWMAkKRvjuCzEvTZZ59pHzsApFjfvn2lTp06d1xelSZNGmP+/PlSqVIl&#10;7biu1qVLlySt/wb8oX379lKsWDHtGIDrJXUS5JONEU6dOmXmzZtX4uLitI8fAJKtbNmysmHDhkQ/&#10;dPPMmTNmzZo1Zffu3drRXSc0NFQOHz4sOXLkoARB3Zdffmm2bdtWOwbgeqdPn5Zs2bIl6u8Fn0yC&#10;pk6dSgECYGthYWEybdq0RBcgkb+2yV28eLFERERox3ed5s2bU4BgGU888YSUKFFCOwbgekl5aKpP&#10;StDnn3+ufcwAkCLvvvuu3HvvvUk+qS5YsKCxcOFCSZcunfYhuEq3bt20IwDXBQUFGW+88YZ2DMD1&#10;AlqCNm3aZO7atUv7mAEg2WrWrCm9evVK9u+vUKGC8d1330loaKj2objCvffeK3Xq1NGOAdykdevW&#10;UrZsWe0YgKsFtARNnz5d+3gBINkyZswoX375ZYpvsK9bt67x+eefi2GwQsvf+vTpIwYfNCzGMAym&#10;QYCyjRs3JvprU7QxgtfrNfPlyyfHjh3TPmYASJbp06fLk08+6bMT6rffftscNGiQ9mE5Vq5cueTg&#10;wYMSGhpKCYLlmKZpVqlSJUlXowH41oEDB6RgwYJ3/TsiRZOglStXUoAA2FarVq18WoBERAYOHGjw&#10;AE//ef755ylAsCzDMHhuEKAssRchUlSCvvrqK+3jBIBkyZYtm3z88cd+ee1x48ZJ06ZNtQ/RcdKk&#10;SSMUTFhd06ZN5d5779WOAbhWYpfEJbsExcXFmd9++632cQJAsowdO1ayZ8/ul4lCUFCQMXPmTKlc&#10;ubL2YTrKM888I1myZGEKBEszDMMYMGCAdgzAtRI7CUr2PUE//vijWb9+fe3jBIAke+yxx2T27Nl+&#10;P5k+efKkWaVKFTl8+LD2Iduex+ORnTt3StGiRSlBsLyEhASzVKlSPEgZUJAuXTq5ePHiXTc8SvYk&#10;aO7cudrHCABJlj17dhk3blxA3isiIsL4/vvveYaQDzRt2pQCBNsICgoy+vXrpx0DcKUrV67Inj17&#10;7vp1ySpBXq/X/O6777SPEQCSbNy4cZItW7aAnUyXLVvWmD17tgQFBWkfuq299tpr2hGAJHnqqaek&#10;QIEC2jEAV9qyZctdvyZZJWjt2rVy4sQJ7eMDgCRp06aNPProowGfJjRq1Mh49913tQ/ftho0aCD3&#10;3XcfUyDYSkhIiNG3b1/tGIAr/f7773f9mmSVoHnz5mkfGwAkSfbs2WXMmDFq7//KK68Y7du31/4Y&#10;bIkpEOyqQ4cOkitXLu0YgOv4bRK0YMEC7WMDgCT5+OOPJWvWrKrThAkTJkiNGjW0PwpbqVOnjtSs&#10;WZMpEGwpVapURu/evbVjAK6zefPmu35NkneHO3DggFm4cGHtYwOARHvyySdl+vTpljiRPnHihFmp&#10;UiU5fvy4dhRbWLZsmTz44IOW+LMDkiMqKsosWLCgnDlzRjsK4CpHjhyRPHny3PbvjyRPgubPn699&#10;TACQaNmyZZORI0dqx7guZ86cxtdffy2hoaHaUSyvSpUqFCDYXtq0aY3nn39eOwbgOndbEpfkErRo&#10;0SLtYwKARPv0008DuhtcYlSrVs346KOPtGNY3uuvv64dAfCJF154QdKmTasdA3AVn5agqKgoc9Wq&#10;VdrHBACJ8uSTT0rLli0tVYD+0b17d6NDhw7aMSyratWq0qhRI+0YgE9kzpzZaNeunXYMwFXuVoKS&#10;dE/Q/PnzzWbNmmkfEwDcVbZs2WTHjh3qmyHcSUxMjFm9enXZtGmTdhTLWblypdSpU8eyf3ZAUu3d&#10;u9csXry4eL1e7SiAKxQpUkT27t3rm3uCfvzxR+3jAYBEGTlypKULkIhIWFiY8c0330jmzJm1o1hK&#10;o0aNKEBwnHvuucd45JFHtGMArnHgwAGJioq67bQnSSVo2bJl2scDAHfVqFEjefLJJ21xEp0/f35j&#10;6tSpYhi2iOt3hmHI22+/rR0D8Au2ywYCx+v1ys6dO2/764kuQSdOnDB37dqlfTwAcEdp06aVcePG&#10;acdIkocffth4+eWXtWNYwuOPPy4VKlSgEcKRqlevblSrVk07BuAa27Ztu+2vJboELVu2TJL6TCEA&#10;CLShQ4dKwYIFbXcSPXToUNc/SDU4OFjeeOMN7RiAX3HBAwic7du33/bXEl2Cli9frn0cAHBHVapU&#10;keeee047RrIEBwcbM2bMkKxZs2pHUdOpUycpXry47QoskBQtWrSQIkWKaMcAXMEnk6AVK1ZoHwcA&#10;3FZYWJhMnjxZgoKCbHsSnSdPHmPKlCmuvD8offr0TIHgCkFBQUbPnj21YwCukOIStH//fvPIkSPa&#10;xwEAt9W/f38pWbKk7dtDkyZNXPl0+QEDBkhERITt//yAxHj22WclPDxcOwbgeEePHpXIyMhb3s+T&#10;qBK0Zs0a7WMAgNsqVaqU9O/fXzuGz7z//vtSqlQp7RgBU6hQIXnppZe0YwABkzZtWuPZZ5/VjgG4&#10;wu3uC6IEAbA1j8cj48ePl9DQUMdMEVKnTm3MmjVLUqdOrR0lIIYPHy5hYWGO+fMDEqN79+7i8STp&#10;SSUAkuF2u1tTggDY2gsvvCDVq1d33Al0qVKljHfeeUc7ht898MAD0qJFC8f9+QF3U7hwYaNRo0ba&#10;MQDH27179y3/+11L0NmzZ83b/WYA0JQvXz4ZMmSIdgy/6dWrlzRp0kQ7ht94PB754IMPtGMAanr0&#10;6KEdAXC8ZJegNWvW8HwgAJb08ccfS/r06R07RTAMw/jss88cu212586dpWLFio798wPupkGDBnLP&#10;PfdoxwAcLdklaO3atdrZAeA/WrZsKU2aNHH8CXRERIQxevRo7Rg+lz17dnnvvfe0YwCqDMNw5W6Q&#10;QCAdOHBA4uLi/jPRuWsJ2rBhg3Z2ALhJ+vTpZdSoUdoxAuaJJ54wWrZsqR3Dpz788EMJDw93fIkF&#10;7qZDhw6SIUMG7RiAY8XFxcmBAwf+89/vWIISEhLMzZs3a2cHgJsMHjxY8uTJ46oT6HHjxknmzJm1&#10;Y/hE7dq15amnntKOAVhC+vTpDb4fAP+61ZK4O5ag7du3S1RUlHZuALiuTJkyrryZOCIiwhg5cqR2&#10;jBQLDQ2VTz/9VAzDcFWJBe6kR48ewrcE4D9JLkG//fabdmYAuM7j8ciECRMkJCTElWcLbdu2NR5+&#10;+GHtGCnSr18/KV68uCv//IDbKVmypFGnTh3tGIBjJbkEbdy4UTszAFzXqVMnqVq1qqtPoMePHy+Z&#10;MmXSjpEsxYoVk/79+2vHACypa9eu2hEAx0ryPUG//vqrdmYAEBF2E/tHrly5jPfff187RpJ5PB6Z&#10;NGmSpEqVytUlFrid5s2bO3Y7fEBbkkpQTEyM+eeff2pnBgARERk+fLhkzpyZE2gR6dixo1SpUkU7&#10;RpK8+OKLUr16df78gNsICwsz2rVrpx0DcKSjR49KbGzsTdtkG7d7EOrmzZvNihUramcGAKlVq5b8&#10;9NNP3Ex/g82bN5uVK1eWhIQE7Sh3VbBgQdm6daukS5eOPz/gDnbt2mWWLFmSh9QDfrB3714pUqTI&#10;9b+HbjsJ+uOPP7SzAgC7id1GhQoVDDvcQ+DxeGTKlCkUICARihcvbtx///3aMQBH+veSOEoQAEvr&#10;27evlChRghPoW3jvvfckZ86c2jHuqEePHlKrVi3+/IBE6tSpk3YEwJESXYK2bt2qnRWAyxUsWFBe&#10;e+017RiWlSFDBsPKm0UUK1ZM3n33Xe0YgK20bt1aMmbMqB0DcBxKEADbGDFihKROnZopwh20a9dO&#10;rPh8kZCQEJk2bZqkTZuWPz8gCdKkSWM8+eST2jEAxzl48OBN/37LEnTkyBHz3Llz2lkBuFj9+vWl&#10;efPmnEDfhWEYxocffigejyflL+ZDQ4YMkcqVK/PnByRD586dtSMAjpOoEsQUCICmkJAQGTVqlHYM&#10;26hQoYLx+OOPa8e4rk6dOtK3b1/tGIBtlS9f3mCHXsC3jhw5ctO/37IE7dy5UzsnABd78cUXpXjx&#10;4kwRkuDtt9+W0NBQ7RgSHh4u06ZNE4/Hw58fkAJskAD41pkzZyQ6Ovr6/vO3LEE7duzQzgnApXLk&#10;yCGDBg3SjmE7hQoVMrp166aawTAM+eyzzyRv3rwUICCFHn/8cQkLC9OOATiGaZpy9OjR6//OJAiA&#10;pXzwwQeSMWNGTqKTYdCgQZIhQwa193/ppZekZcuW/NkBPhAeHm40adJEOwbgKIcPH77+z7csQbt3&#10;79bOCMCFqlWrJk8//bR2DNvKmjWr0adPH5X3rly5slh5u27Ajtq2basdAXCUG+8L+k8JOnHihHnh&#10;wgXtjABcxuPxyKhRo8QwDCYJKfDyyy8H/AGq4eHhMmvWLAkNDeXPDvChxo0bS9asWbVjAI5xxxLE&#10;UjgAGjp16iT33XcfJ9EplDZtWuOVV14J2Pt5PB754osvpECBAvzZAT4WGhpqtG7dWjsG4Bh3LEG7&#10;du3SzgfAZTJnzizvvPOOdgzH6NSpk2TJkiUg7zV48GBp0qQJBQjwE5bEAb5zxxK0d+9e7XwAXGbI&#10;kCGSNWtWTqR9JF26dMbzzz/v9/dp3ry5vPbaa9qHCzha1apVjWLFimnHABzh+PHj1//5PyXowIED&#10;2vkAuMi9994rXbt21Y7hOC+88IKkSZPGb69fqlQp+eKLL7iHCwiAp556SjsC4AinTp26/s//KUH7&#10;9+/XzgfARYYPHy5BQUGcSPtY1qxZDX89bDFz5szy7bffSrp06fhzAwLgqaeeEq43ACl35swZSUhI&#10;MEX+VYJM0zQPHjyonQ+ASzz88MNSr149/mb3kz59+khISIhPXzMkJERmz54tRYoU4c8NCJBChQoZ&#10;1atX144B2F5CQoKcOXNGRP5Vgk6cOCFXr17VzgfABYKDg+X999/XjuFoefPmNdq0aePT1/z000/l&#10;wQcfpAABAcYz1ADfOHnypIj8qwSxFA5AoHTt2lVKlCjBybSfvfzyyz57rVdffVU6dOjAnxmgoFWr&#10;VhIcHKwdA7C9W5YgNkUAEAiZMmWSN954QzuGK5QrV86oWrVqil+nTZs28u6772ofDuBaWbNmNR54&#10;4AHtGIDt/bM5wk0liPuBAATCgAEDJFu2bEwUAiSlu+81bNhQpk6dKh6Phz8zQNFjjz2mHQGwvVtO&#10;gm58gBAA+EOhQoXkxRdf1I7hKo8//riEh4cn6/fef//98s0330hoaCgFCFDWokULlsQBKXT69GkR&#10;oQQBCLBhw4ZJWFgYJ9QBlDp1aqN169ZJ/n2lS5eW+fPnS5o0afjzAiyAJXFAyp07d05EKEEAAqha&#10;tWrSqlUr7Riu1LZt2yR9faFChWTp0qWSOXNmChBgISyJA1LmliXo6NGj2rkAOJRhGDJy5EgxeOKf&#10;ivvvv18KFy6cqK/Nnj27LF68WHLmzMmfFWAxLIkDUuY/JSgyMtK8cuWKdi4ADvXEE09I5cqVOalW&#10;YhiG8cQTT9z16yIiImTFihVStGhR/qwAC2JJHJAy/ylBTIEA+EuqVKnYXtkCWrRoccdfz5Url6xc&#10;uVJKlSpFAQIsjCVxQPKdP39eRG4oQdwPBMBfunfvLvnz5+fEWln58uUlX758t/y1vHnzyqpVq6R4&#10;8eL8OQEWx5I4IPkuXLggXq/XvF6CTpw4oZ0JgANlzJhR+vfvrx0D8teSuEceeeQ//71AgQKyatUq&#10;KVKkCAUIsIGsWbMadevW1Y4B2FJCQoJERkb+/yTonz2zAcCX+vbtK1mzZuXk2iIaNWp007+XLFlS&#10;Vq9eLQULFuTPCLCR5s2ba0cAbOv8+fP/X4JOnTqlnQeAw+TMmVN69eqlHQM3qFWrloSGhorIX1uW&#10;r1q1SvLmzUsBAmymWbNmwmabQPJcunSJSRAA/xk0aJCkTZuWv6UtJG3atEblypWldevWsmLFCqZ0&#10;gE3lzp3bKF++vHYMwJYoQQD8pkiRItKpUyftGLiFcePGycyZMyVVqlQUIMDGmjZtqh0BsKXLly+z&#10;HA6Af7zzzjsSEhLCSbYF3XvvvQYPrQXsr1mzZtoRAFu6aRJECQLgKxUrVuQ5FgDgZ+XLl5e8efNq&#10;xwBs5/okyOv1mv88PRUAUuq9994TJg0A4F+GYRgPP/ywdgzAdq5PgiIjIyUhIUE7DwAHqFOnjtSr&#10;V48CBAABwH1BQNJdnwRdvHhROwsABzAMQz744APtGADgGnXr1pV06dJpxwBs5fok6Pz589pZADhA&#10;ixYtpFKlSkyBACBAwsLCjAYNGmjHAGzl2rVrf5WgCxcuaGcBYHOGYcjrr7+uHQMAXIclcUDSXC9B&#10;LIcDkFKPPvqolC1blikQAARY48aNxePxpPyFAJe4XoJYDgcgJTwejwwaNEg7BgC4UrZs2Yzy5ctr&#10;xwBsIzo6muVwAFKuTZs2UqZMGaZAAKCkfv362hEA27heglgOByC5goKCuBcIAJRRgoDEu74c7vLl&#10;y9pZANjUU089JcWKFWMKBACK7r//frbKBhLp+iTo6tWr2lkA2FBwcDD3AgGABYSGhhp16tTRjgHY&#10;wvVJECUIQHK0a9dOihQpwhQIACygXr162hEAW4iNjf2rBEVFRWlnAWAzISEh8tprr2nHAAD8jfuC&#10;gMRJSEhgEgQgeZ599lkpVKgQUyAAsIjixYsbBQoU0I4BWB4lCECyhISEyIABA7RjAAD+hSVxwN1R&#10;ggAkS9u2bSV//vxMgQDAYihBwN1dL0HcEwQgsYKCguTVV1/VjgEAuIWHHnpIgoKCtGMAlna9BMXG&#10;xmpnAWATjz32mBQtWpQpEABYUHh4uFG+fHntGIClXS9BcXFx2lkA2IBhGNwLBAAWV7t2be0IgKVd&#10;L0Hx8fHaWQDYQLNmzaRMmTJMgQDAwmrVqqUdAbA0wzCYBAFIPO4FAgDrq1mzpng8Hu0YgGV5PB4m&#10;QQASp379+lKtWjWmQABgceHh4Ubp0qW1YwCWRQkCkGivvfaadgQAQCJxXxBwe9dLEMvhANxJtWrV&#10;pFatWkyBAMAmuC8IuL3rJSghIUE7CwALe+ONN7QjAACSoHbt2mIYXLsCbiUoKEg8Xq/XNE1TOwsA&#10;i6pQoYI0aNCAv0kBwEayZctmFC9eXDsGYEmGYYjH4/FwcgPgtvr06aMdAQCQDCyJA24tKCjor+Vw&#10;jEsB3EqBAgXkscce044BAEgGShBwa6GhoX+VIPaSB3ArvXr1kuDgYK6SAIANsUMccGupUqX6qwQF&#10;BQVpZwFgMZkyZZIOHTpoxwAAJFPu3LmNggULascALCcsLIzlcABu7bnnnpP06dPzwwEAbKxKlSra&#10;EQDLSZ06NZMgAP8VFhYmPXr00I4BAEihypUra0cALOf6JIh7ggDc6KmnnpJcuXIxBQIAm2MSBPwX&#10;9wQB+A/DMOSll17SjgEA8IHy5ctLSEiIdgzAUq5PgkJDQ7WzALCIhg0bSunSpZkCAYADpE6d2ihT&#10;pox2DMBSrt8TFBYWpp0FgEX07dtXOwIAwIdYEgfcLF26dH+VoNSpU2tnAWAB5cuXlwceeIApEAA4&#10;CJsjADdLnz79XyUoVapU2lkAWMCLL76oHQEA4GNMgoCbUYIAXJc1a1Zp06aNdgwAgI8VL15cMmXK&#10;pB0DsAxKEIDrunTpIqlSpWIpHAA4jGEYRqVKlbRjAJZBCQIgIiLBwcHSrVs37RgAAD/hviDg/10v&#10;QWyMALhb8+bNJW/evEyBAMChKEHA/2N3OAAiIvLCCy9oRwAA+FG5cuW0IwCWkSlTpr9KUIYMGbSz&#10;AFBSrlw5qVWrFlMgAHCwfPnySXh4uHYMwBKyZs36VwnKmDGjdhYASpgCAYDzGYZhlClTRjsGYAlZ&#10;smShBAFuljlzZrbFBgCXKFu2rHYEQJ1hGP+/HI4SBLhTly5dJE2aNCyFAwAXoAQBf90PFBwcbFCC&#10;AJfyeDzStWtX7RgAgAChBAF/rYIRESZBgFs1aNBAChQowBQIAFyiVKlSEhwcrB0DUJUlSxYRoQQB&#10;rtW5c2ftCACAAEqdOrVxzz33aMcAVN1UgtgiG3CXiIgIefjhh7VjAAACjCVxcLucOXOKyN8l6J9G&#10;BMAdOnXqJCEhISyFAwCXoQTB7SIiIkTk7xKULVs27TwAAsTj8UjHjh21YwAAFFCC4HY5cuQQkb9L&#10;UJo0aYy0adNqZwIQAPXr12dDBABwKUoQ3O6mSZAI0yDALbp06aIdAQCgJFeuXEZ4eLh2DEDNTZMg&#10;EZHs2bNrZwLgZ2yIAAAoVqyYdgRAzU0bI4gwCQLcoEOHDmyIAAAuV7x4ce0IgJr/TIIoQYCzeTwe&#10;6dSpk3YMAIAyJkFwq/Tp00vGjBkNEZbDAa5Rp04dKViwIFMgAHC5okWLakcAVOTPn//6PzMJAlzi&#10;mWee0Y4AALAAlsPBrfLmzXv9n6+XoFy5cmnnAuAnadOmlZYtW2rHAABYQJEiRSQ4OFg7BhBwt5wE&#10;5cmTRzsXAD9p3bq1pEuXjqVwAAAJDQ01bjwZBNzilpOgG/8jAGdhKRwA4EZsjgA3ypcv3/V/vl6C&#10;cufOLYbBhWLAaQoUKCC1atXSjgEAsBDuC4Ib3bIEhYaGGuwQBzjPM888IwZXOAAAN2ASBDe65T1B&#10;ItwXBDiNYRjStm1b7RgAAIuhBMFtwsLCbuo6N5Ug7gsCnKVWrVpSuHBhpkAAgJtQguA2BQsWlKCg&#10;oOvnREyCAAdjQwQAwK1EREQY6dKl044BBEzhwoVv+ndKEOBQqVKlklatWmnHAABYFNtkw03uWIIK&#10;FSqknQ+Ajzz88MOSIUMGlsIBAG6JEgQ3uWMJ+vcvArCvxx9/XDsCAMDCKEFwkyJFitz075QgwIHS&#10;p08vTZo00Y4BALCwAgUKaEcAAuaOJShjxoxGlixZtDMCSKHmzZtL6tSpWQoHALgtJkFwi9DQ0P/c&#10;9uP59xcxDQLsj6VwAIC7oQTBLYoVKybBwcE3XRymBAEOEx4eLvXq1dOOAQCwOJbDwS1KlCjxn/9G&#10;CQIc5rHHHpPQ0FCWwgEA7ihHjhySOnVq7RiA31GCABdgKRwAIDEMwzDy5s2rHQPwu0SVoHvuuUc7&#10;J4BkioiIkNq1a2vHAADYBEvi4AaJKkG3+iIA9tCqVSsJCgpiKRwAIFEoQXC64OBgKVas2H/++39K&#10;UObMmY2IiAjtvACSoWXLltoRAAA2ki9fPu0IgF+VKFFCwsLC/nOB2HOrLy5VqpR2XgBJlDlzZqlV&#10;q5Z2DACAjXBPEJzu3nvvveV/v2UJKlmypHZeAEnUrFmz/+yBDwDAnbD6B05Xrly5W/53ShDgEC1a&#10;tNCOAACwmRw5cmhHAPyqbNmyt/zvLIcDHCBNmjTy0EMPaccAANgMkyA4XZKWw5UuXVo7L4AkaNy4&#10;saRJk4alcACAJMmaNasEBQVpxwD8IiIiQnLkyHHL86NblqDw8HB2iANshKVwAIDkCAoKMrJmzaod&#10;A/CLihUr3vbXPLf7BaZBgD2EhoZK48aNtWMAAGyKC99wqipVqtz2125bgsqXL6+dG0Ai1K1bVzJl&#10;ysRSOABAsrA5ApyqatWqt/2125agChUqaOcGkAhNmzbVjgAAsDEmQXAij8cj99133+1//Xa/wCQI&#10;sAeWwgEAUoJJEJyoePHid1wpc9sSVLRoUcmQIYN2fgB3UKpUKSlQoABL4QAAyUYJghPdaSmcyB1K&#10;kGEYxu0eLgTAGpgCAQBSiuVwcKI7bYogcocSJMJ9QYDVNWrUSDsCAMDmmATBiZI9CRLhviDAyjJk&#10;yCA1atTQjgEAsLns2bNrRwB8Kl26dFKqVKk7fg2TIMCm6tWrJyEhIdwPBABIkfDwcO0IgE/dd999&#10;EhQUdMdzpDuWoBIlSkiaNGm0jwPALbAUDgDgC5kyZdKOAPjU3e4HErlLCQoODjYqV66sfRwA/sUw&#10;DGnYsKF2DACAA6RLl06Cg4O1YwA+c7f7gUTuUoJERKpVq6Z9HAD+pVy5cpI7d26WwgEAUswwDIPH&#10;osBJUjwJEhG5//77tY8DwL/Uq1dPOwIAwEFYEgenKFiwoERERNz1QnGiJkGGwQVnwEoeeugh7QgA&#10;AAfJmDGjdgTAJx544IFEfd1dS1CWLFmMokWLah8PgL+FhoYyoQUA+BSTIDiFz0qQCEviACupXr26&#10;pE2blvEsAMBnKEFwijp16iTq6xJVgtgcAbCOBx98UDsCAMBhWA4HJ7jnnnskT548ibpQzCQIsBnu&#10;BwIA+BqTIDhB3bp1E/21iSpBJUqUkMyZM2sfF+B6GTNmlIoVK2rHAAA4DJMgOEFil8KJJLIEeTwe&#10;o3bt2trHBbhenTp1JDg4mPuBAAA+xSQIdufxeHw/CRJJ/E4LAPyH+4EAAP5ACYLdlS9fXrJnz57o&#10;C8WJLkFJaVYA/IOLEQAAf0iXLp12BCBFGjRokKSvT3QJKlmypERERGgfH+Ba4eHhUrJkSe0YAAAH&#10;CgsL044ApIjfSpBhGEZSbjYC4Fs1atQQj8fD/UAAAJ9LlSqVdgQg2dKnT5/kR/okugSJsBQH0FS9&#10;enXtCAAAh6IEwc7q1q0rISEhSbpQnKQSxH1BgJ4aNWpoRwAAOBQlCHbWsGHDJP+eJJWgIkWKGPnz&#10;59c+TsB1wsLCeD4QAMBvuCcIduXxeOSRRx5J+u9L6m9gGgQEXuXKlSVVqlTcDwQA8IvUqVNrRwCS&#10;5b777pOcOXMm+RwpySWoUaNG2scKuA5L4QAA/sQkCHbVokWLZP2+JJegBg0aSEhIiPbxAq5CCQIA&#10;+BP3BMGumjdvnqzfl+QSlCFDBuP+++/XPl7ANQzDSPK2jwAAJAUlCHZUvHhxKVasWLJuF0hyCRIR&#10;ady4sfYxA65RtGhRCQ8P534gAIDfUIJgR8ldCidCCQIsr3LlytoRAAAOFxoaang8yTotBNQkZ1e4&#10;fyTr//bSpUuzVTYQIPfdd592BACAC7A5AuwkV65cKbpQnOzKzzQICIxKlSppRwAAuADbZMNOmjZt&#10;KoZhJPt2gWSXILbKBvwvJCREypUrpx0DAOACQUFB2hGAREvJ/UAiKShBDz74oKRJk0b7+AFHK126&#10;tKROnZpNEQAAAP6WIUMGqVOnTopeI9klKE2aNEbDhg21PwPA0bgfCAAA4GaNGzeWsLCwFF0kTtE2&#10;IK1atdL+DABHY2c4AACAmz3xxBMpfo0UlaCHH36YnUQAP2JTBAAAgP+XJUsW8cVqtBSVoAwZMhgP&#10;PfSQ9mcBOFJoaKiUKFFCOwYAAIBltGnTRkJDQ1N8v3SKn4rFkjjAP0qUKOGTb3IAAACnePrpp33y&#10;OikuQS1atJDQ0FDtzwNwnHvvvVc7AgAAgGUULlxYqlSp4pPXSnEJypQpk1G7dm3tzwRwnDJlymhH&#10;AAAAsIy2bdum6AGpN0pxCRJhSRzgD0yCAAAA/p8vdoX7h09KUIsWLSQ4OFjtAwGciEkQACCQfHSB&#10;HfCLatWqSdGiRX32P6lPSlD27NmNevXq6X0qgMNkyZJFcuXKxd9GAICAMU1TOwJwW77aEOEfPilB&#10;/ggGuFnZsmW1IwAAAFhCSEiItG7d2qev6bMS1Lx5c0mfPn3APxTAiUqXLq0dAQDgMiyHg1U1atRI&#10;smbN6tP/QX1WgtKkSWO0bNky8J8K4EDFixfXjgAAcJn4+HjtCMAttW3b1uev6bMSJMKSOMBXihUr&#10;ph0BAOAy0dHR2hGA/4iIiJBmzZr5/HV9WoLq1q0refLkCdiHAjgVJQgAEGiUIFhRp06dJDQ01Odr&#10;NX1agjwej9GmTZvAfSqAA6VNm1Zy5cqlHQMA4CKxsbGm1+vVjgHcJCgoSDp16uSX1/ZpCRJhSRyQ&#10;UsWLF/fZ05ABAEgMpkCwoiZNmkj+/Pn9ck7k8xJUtmxZo1y5cn7/UACnKlq0qHYEAIDLUIJgRd26&#10;dfPba/u8BImIdO7c2W+BAadjZzgAQKBRgmA1hQoVkgYNGvjt9f1Sgp566ilJmzat30IDTsamCACA&#10;QKMEwWq6desmHo/Hb7cH+KUEZcyY0Xj88cf996kADla4cGHtCAAAl6EEwUrCwsKkffv2fn0Pv5Qg&#10;EZEuXbr4NTjgVAULFtSOAABwGUoQrOSxxx6TbNmy+XWTKL+VoCpVqhjly5f3Z3bAcdKlSydZsmRh&#10;ZzgAQEBRgmAlzz33nN/fw28lSESkY8eOfj8AwEkKFCigHQEA4EKUIFjFvffeK/fff7/fLwj7tQQ9&#10;/fTTbJAAJEH+/Pm1IwAAXCgmJkY7AiAiIj169AjI+/i1BLFBApA03A8EANBw7do17QiA5MiRQ9q2&#10;bRuQ9/JrCRIJzJo+wCmYBAEANFCCYAW9evWSVKlSBeTeaL+XoEqVKhk1atQIxLEAtsc9QQAADZGR&#10;kdoR4HLp06eXbt26Bez9/F6CRP5qdQDujkkQAEDDxYsXtSPA5bp27SqZMmUK2A65ASlBzZs3l0KF&#10;CgXqmADbyp07t3YEAIALMQmCppCQEHnxxRcD+p4BKUFBQUFGoHZ6AOzK4/FItmzZtGMAAFyIEgRN&#10;bdu2lbx58wb0OYkBKUEiIp06dZKMGTMG8tgAW8maNauEhITwoFQAQMBRgqDFMAzp3bt3wN83YCUo&#10;ffr0xrPPPhvwAwTsImfOnNoRAAAuxT1B0NKsWTMpWbJkwC8CB6wEiYj07NlTgoKCAn2MgC1QggAA&#10;WpgEQcsrr7yi8r4BLUEFChQwmjVrpnKggNVRggAAWij5jVwIAAAhOklEQVRB0FCjRg25//77VW4F&#10;CGgJEhHp27evxnEClpcjRw7tCAAAl2I5HDT069dP7b0DXoKqVatmPPjgg2oHDFgVkyAAgAbTNE1K&#10;EAKtatWq0qRJE7UNoQJegkREBgwYoHW8gGWxPTYAQMOVK1ckPj5eOwZcZsiQIarvr1KC6tata9So&#10;UUP1wAGrCQ8P144AAHAh7gdCoNWoUUMeeugh1ceCqJQgEZH+/ftrHjdgOZQgAIAGShAC7e2339aO&#10;oFeCGjdubFSqVEn7+AHLyJw5s3YEAIALUYIQSPXr15fatWurPxxerQSJ6O4IAVgNkyAAgIZz585p&#10;R4CLDB48WDuCiCiXoJYtW0rp0qW1PwNAnWEYkilTJu0YAAAXOnnypHYEuETTpk2latWq6lMgEeUS&#10;ZBiGwTQIEEmfPr0EBwdb4ocCAMBdTp8+rR0BLmAYhmWmQCLKJUhEpE2bNlKqVCntGIAqlsIBALQw&#10;CUIgtGrVSsqXL2+ZC77qJSgoKMiwwg4RgKb06dNrRwAAuNSJEye0I8DhPB6PDBo0SDvGzZm0A4iI&#10;NG/e3KhWrZp2DEBN2rRptSMAAFyKSRD8rX379nLvvfdaZgokYpESJCIydOhQ7QiAmjRp0mhHAAC4&#10;1KlTp7QjwMHSpUtniecC/ZtlSlCtWrWMevXqaccAVDAJAgBooQTBn/r37y85c+a01BRIxEIlSETk&#10;vffeE8Ow3GcE+B2TIACAhosXL5pXr17VjgGHyps3r/Tq1Us7xi1ZqgRVrFjRaNWqlXYMIOCYBAEA&#10;NHA/EPzpgw8+kDRp0lhywmGpEiQi8s4770hwcLB2DCCgmAQBADRQguAvVatWldatW2vHuC3LlaCi&#10;RYsa7du3144BBBQlCACggQelwh8Mw5CRI0eKYeH7XCxXgkT+mgZlzJhROwYQMCEhIdoRAAAudPz4&#10;ce0IcKCnnnpKqlSpYtkCJGLREpQ9e3ZjwIAB2jGAgAkKCtKOAABwIXaGg6+lTp1a3nnnHe0Yd2XJ&#10;EiQi0rNnTylSpIh2DCAgPB7LfisCAByMEgRf69u3r+TLl8/SUyARC5egsLAwY/jw4doxgIBgMxAA&#10;gIajR49qR4CD5MuXT1555RXtGIli2RIkIvLII48YDRo00I4B+B3L4QAAGg4dOqQdAQ4yZswYSZs2&#10;reWnQCIWL0EiIiNGjOCmcTgeJQgAEGimaZqHDx/WjgGHaNGihTRr1swWBUjEBiWoZMmSRpcuXbRj&#10;AH7FcjgAQKCdPHlSoqOjtWPAAdKmTSsjRozQjpEkli9BIiKDBw+WzJkza8cAAABwjP/973/aEeAQ&#10;b7/9thQoUMA2UyARm5SgLFmyGHbYag9IroSEBO0IAACX4X4g+EKFChXkhRde0I6RZLYoQSIiXbp0&#10;kerVq2vHAPwiPj5eOwIAwGUoQUgpj8cj48aNk6CgIFtNgURsVII8Ho/x6aefskkCHIkSBAAINJbD&#10;IaWef/55qVq1qu0KkIiNSpCISOnSpY0+ffpoxwB8juVwAIBAYxKElIiIiJC33npLO0ay2aoEiYgM&#10;GjRIChcurB0D8CkmQQCAQGMShJQYM2aMZMqUyZZTIBEblqDUqVMbn3zyiXYMwKfi4uK0IwAAXMQ0&#10;TZMShORq3ry5PProo7YtQCI2LEEiIvXq1TOeeuop7RiAzzAJAgAE0pkzZ+Tq1avaMWBD2bJlk08/&#10;/VQ7RorZsgSJiIwcOVKyZs2qHQPwiWvXrmlHAAC4CPcDIbnGjRsnOXLksPUUSMTGJShr1qzG+++/&#10;rx0D8IkrV65oRwAAuAhL4ZAcTzzxhDz22GO2L0AiNi5BIiLPPvus0aRJE+0YQIpFRUVpRwAAuAiT&#10;ICRVzpw5ZezYsdoxfMbWJUhEZOLEiZIlSxbtGECKUIIAAIG0f/9+7QiwmYkTJ0rmzJkdMQUScUAJ&#10;ypkzp+GkVgp3ogQBAAJp165d2hFgI507d5YmTZo4pgCJOKAEiYi0adPGePzxx7VjAMlGCQIABBIl&#10;CImVP39+GT58uHYMn3NECRL5a6eKnDlzascAkoWNEQAAgRIZGWmeOnVKOwZswDAMmTx5smTIkMFR&#10;UyARB5WgLFmyGBMmTNCOASRLZGSkdgQAgEvs3r1bOwJs4sUXX5S6des6rgCJOKgEiYg8/PDDRseO&#10;HbVjAEl24cIFMU3T1M4BAHC+nTt3akeADZQpU0bee+897Rh+46gSJCIyYsQIyZ8/v3YMIEni4+Pl&#10;0qVL2jEAAC7AJAh3ky5dOvn6668lderUjpwCiTiwBGXIkMGYNWuWhISEaEcBkuT8+fPaEQAALsCm&#10;CLibcePGSdGiRR1bgEQcWIJERKpUqWIMHjxYOwaQJJQgAEAgUIJwJ88884y0a9fO0QVIxKElSETk&#10;1VdflQYNGmjHABLt3Llz2hEAAA4XFxdn8qBU3E6RIkVkzJgx2jECwrElyOPxGNOmTWPbbNgGkyAA&#10;gL8dOHBA4uLitGPAgsLCwmTOnDmSPn16x0+BRBxcgkREsmfPbsyYMUOCgoK0owB3xTMbAAD+xlI4&#10;3M7w4cOlXLlyrihAIg4vQSIitWvXNgYOHKgdA7irEydOaEcAADgcJQi30qRJE3n++ee1YwSU40uQ&#10;iMigQYOkTp062jGAOzp+/Lh2BACAw7E9Nv4tf/78Mm3aNDEMwzVTIBGXlKCgoCBj5syZEhERoR0F&#10;uC1KEADA35gE4UapUqWSr7/+WjJnzuyqAiTikhIkIpIjRw7jiy++kODgYO0owC2xHA4A4G+UINxo&#10;woQJUqlSJdcVIBEXlSARkYceesgYOnSodgzglpgEAQD86dChQ+aFCxe0Y8AiXnzxRWnbtq0rC5CI&#10;y0qQiEjv3r2Np556SjsG8B+RkZFy9epVUzsHAMCZtm7dqh0BFlGrVi0ZPny4dgxVritBIiKfffaZ&#10;3HfffdoxgP84fPiwdgQAgENt3rxZOwIsIGfOnDJjxgwJCQlx7RRIxKUlKFWqVMbXX38t2bNn144C&#10;3OTgwYPaEQAADvXHH39oR4CykJAQmTNnjuTKlcvVBUjEpSVIRCRfvnzG3LlzJTQ0VDsKcB0lCADg&#10;L5QgjBs3TqpXr+76AiTi4hIkIlK9enXjww8/1I4BXEcJAgD4Q2RkpHno0CHtGFDUtWtX6dy5MwXo&#10;b64uQSIiPXr0MJ599lntGICIiBw4cEA7AgDAgbZu3Sqmyd47blWrVi0ZPXq0dgxLcX0JEhH55JNP&#10;pGbNmtoxAOEqHQDAH37//XftCFByzz33yN+3gDAFugElSETCwsKMb7/9VooVK6YdBS63f/9+7QgA&#10;AAfifiB3ypw5syxYsECyZMlCAfoXStDfMmfObCxevFhy5MihHQUudvHiRTlx4gTrFQAAPrVlyxbt&#10;CAiwf3aCK1q0KAXoFihBNyhYsKCxYMECSZs2rXYUuNiuXbu0IwAAHCQuLs7csWOHdgwE2Lhx46Ru&#10;3boUoNugBP1LpUqVjFmzZklwcLB2FLgUJQgA4Es7d+6UmJgY7RgIoIEDB7IT3F1Qgm6hSZMmxrhx&#10;47RjwKUoQQAAX2JTBHd57LHHZPDgwdoxLI8SdBtdunQxevfurR0DLkQJAgD4EpsiuEelSpVkypQp&#10;4vF4mALdBSXoDt5//3157LHHtGPAZVi3DQDwJUqQOxQpUkQWLlwoadKkoQAlgsGDs+4sOjrabNKk&#10;iaxYsUI7Clzk3LlzkjlzZn6IAQBSxDRNM0uWLHLhwgXtKPCjnDlzytq1a6VgwYKcOyQSk6C7SJUq&#10;lTF//nwepoqA2rp1q3YEAIAD7Nq1iwLkcBkzZpRFixZRgJKIEpQIadKkMebPny8VKlTQjgKX4CZW&#10;AIAvrF+/XjsC/Ch16tQyf/58KVeuHAUoiShBiZQxY0bjhx9+kJIlS2pHgQuwfhsA4AsbNmzQjgA/&#10;CQoKkunTp0vNmjUpQMlACUqCbNmyGUuXLpWCBQtqR4HDUYIAAL7AJMiZDMOQiRMnSosWLShAycTG&#10;CMmwf/9+s1atWnL8+HHtKHCosLAwuXz5soSEhPDDDQCQLFFRUWamTJkkPj5eOwp87MMPP5SXX36Z&#10;c4QUYBKUDIULFzZWrlwpOXLk0I4Ch4qJiZE///xTOwYAwMY2btxIAXKg/v37U4B8gBKUTEWLFjUW&#10;LlwoGTNm1I4Ch2IdNwAgJTZu3KgdAT723HPPyTvvvKMdwxEoQSlQsWJFY8X/tXfvQVWX+R/A3w8X&#10;BREQRDe5FLmwXlZTS1es1qlsK0nHG2o7jpbamrGzmGt1ZHe7zKxr5Lqj6W6KaQPogIEbN0GFA3I/&#10;Bp4j5EGIVcwtNC9brqUiyHl+f+zm1P5MBc45z/d7zvs14zRTwnlPU8+Ht8/zfb6lpRg4cKDqKOSC&#10;OLyIiKg3TCaT6ghkR4sXL8Zf//pXCCG4C2QHLEG9dP/99wuj0YhBgwapjkIuhjtBRETUG5wjrmPR&#10;okXYvn07PDw8WIDshBcj2Elzc7OcMmUKL0sguxFC4Msvv8SAAQO44BERUbd8+umnkrfZuoa4uDhk&#10;ZGTAy8uLPw/YEXeC7GT48OGitLQUYWFhqqOQi5BS4vDhw6pjEBGRDnEXyDWwADkOS5AdDRs2TFRV&#10;VWHo0KGqo5CLqKqqUh2BiIh0iO8H0r+ZM2ciPT2dBchBWILsLDIyUhw8eBBRUVGqo5ALqKysVB2B&#10;iIh0iCVI35588kns3r2b7wt0ID4T5CCff/65nDJlClpaWlRHIR3z9fXFxYsX0adPHy6CRER0Rzo6&#10;OmRgYCDa29tVR6EeeOqpp5CTk4O+ffty9jsQd4IcJDw8XJSVleG+++5THYV07OrVq6irq1Mdg4iI&#10;dKS+vp4FSKdmzJjBAuQkLEEONGTIEFFdXY0nn3xSdRTSsYqKCtURiIhIRzg39GnevHnIyspiAXIS&#10;liAH69+/v8jNzcX8+fNVRyGd4jAjIqLu4NzQn+eeew7p6el8BsiJ+EyQk0gp5erVq7Fu3TrVUUhn&#10;+vXrhy+//JJ/MkRERLfV1dUlQ0JCcPHiRdVR6A698MILePfdd/kiVCfjTpCTCCHE22+/LTZu3AgP&#10;D/5rpzt35coV1NTUqI5BREQ6UF9fzwKkIy+//DK2bNnCAqQAfxp3shUrVojMzEz4+PiojkI6Ulxc&#10;rDoCERHpQFlZmeoIdIcMBgP+/Oc/CyEEC5ACLEEKzJkzR+Tn58Pf3191FNKJoqIi1RGIiEgHysvL&#10;VUeg2xBCICkpCUlJSSw/CvGZIIWOHDkip02bhtOnT6uOQhrn4eGBs2fPIiQkhAsmERHdFJ8H0j4v&#10;Ly9s3boVS5cu5TxXjDtBCo0bN07U1tZi/PjxqqOQxtlsNuzfv191DCIi0rCGhgYWIA3z9fXFhx9+&#10;yAKkESxBioWFhYnKykosWrRIdRTSuJycHNURiIhIw/g8kHYFBQWhqKgI06dPZwHSCJYgDfDx8REp&#10;KSlISkrizXH0g/bt24crV67w/CoREd0UnwfSptDQUJSVleHhhx9mAdIQ/sStEUIIYTAYRH5+PgID&#10;A1XHIQ26cuUKSkpKVMcgIiINstlssrKyUnUM+h8jR46EyWTCfffdxwKkMSxBGhMbGysqKytx7733&#10;qo5CGsQjcUREdDP19fX46quvVMeg75g4cSLKy8tx9913swBpEEuQBo0ePVrU1tZi8uTJqqOQxuTn&#10;56Orq4tH4oiI6Ht4FE5bZs2ahYMHD/JWVw1jCdKokJAQYTQa8cILL6iOQhpy/vx5VFdXq45BREQa&#10;w0sRtOPVV1/Fnj174OvrywKkYSxBGubt7S22bt0q0tLS4OfnpzoOaQSPxBER0XfxeSBt8PLywrvv&#10;vou3335beHh4sABpHF+WqhPNzc1y7ty5sFqtqqOQYpGRkWhtbYUQggssERHBYrHIBx54QHUMtxYU&#10;FIQ9e/bgscce42zWCe4E6cTw4cOFyWTCggULVEchxT799FM0NDSojkFERBpRWlqqOoJbi4qKgslk&#10;YgHSGZYgHenfv7/YtWuXSE5Oho+Pj+o4pFB2drbqCEREpBH79+9XHcFtTZ48GYcOHcKwYcNYgHSG&#10;x+F06siRI3LevHk4fvy46iikQFRUFFpaWngkjojIzX3zzTcyJCQE165dUx3F7Tz77LPYtm0b+vTp&#10;w1msQ9wJ0qlx48YJi8WC+fPnq45CChw/fhw1NTWqYxARkWIHDx5kAXIyT09PJCUlISUlRbAA6RdL&#10;kI75+/uL3bt3i02bNvF4nBtKSUlRHYGIiBQ7cOCA6ghuJSQkBEVFRTAYDCw/OsfjcC7i2LFjcuHC&#10;hbBYLKqjkJMEBATgzJkz6NevHxdiIiI3FRUVJU+cOKE6hlsYM2YMsrOzce+993LuugDuBLmIkSNH&#10;ikOHDuGNN96Ap6en6jjkBJcuXUJubq7qGEREpEhLSwsLkJPMnz8f1dXVLEAuhCXIhXh7e4s333xT&#10;VFVVISoqSnUccoLU1FTVEYiISBHeCud43z7/k5GRAT8/PxYgF8IS5IJiYmKExWLBkiVLVEchBzMa&#10;jWhra+OZViIiN8TngRwrODgYhYWFMBgMgrexuh6WIBfl7+8vduzYIQoLCzFkyBDVcchBurq6sGvX&#10;LtUxiIjIya5duybLy8tVx3BZDzzwAOrq6vDEE0+w/LgoliAXN3XqVFFfX48ZM2aojkIO8v7776uO&#10;QERETlZeXo7Lly+rjuGSli1bhpqaGgwdOpQFyIWxBLmBwYMHi5ycHPH+++8jODhYdRyys5aWFphM&#10;Jh6JIyJyIzwKZ38BAQHIyspCcnIy3//jBliC3MjixYvFsWPHsHDhQtVRyM7+9re/qY5AREROxEsR&#10;7Gvs2LEwm82Ii4tj+XETfE+QmyosLJTx8fE4deqU6ihkB97e3jh58iTCwsK4eBMRubjPP/9cRkRE&#10;qI7hMhYuXIitW7fyvXtuhjtBbio2NlZYrVasWLGC7xVyAZ2dndi2bZvqGERE5ASFhYWqI7gEf39/&#10;7Ny5E2lpaYIFyP1wJ4hw5MgR+atf/Qpms1l1FOqFwYMH49SpU/Dx8eFCTkTkwmbPni2zs7NVx9C1&#10;8ePHIz09HdHR0ZyZboo7QYRx48YJk8mEtWvXwtfXV3Uc6qFz584hKytLdQwiInKgjo4OWVJSojqG&#10;bnl4eGD16tWoqalhAXJz3Ami7/nHP/4h4+PjYTQaVUehHpgwYQJqa2u5qBMRuagDBw7Ip556SnUM&#10;XQoLC0NaWhoee+wxzkniThB9X3R0tCguLhZ5eXkYOnSo6jjUTXV1dbwum4jIheXk5KiOoEszZsxA&#10;Q0MDCxDdwBJENzV9+nTR2NiINWvWwM/PT3Uc6obNmzerjkBERA4gpZR5eXmqY+iKr68vtmzZgpyc&#10;HDFw4EAWILqBx+Hottra2qTBYEB6ejr434v2eXt748SJE4iIiOBiT0TkQj766CMZExOjOoZuxMTE&#10;ICUlBcOGDeM8pP+HO0F0W2FhYWLXrl3io48+wqRJk1THodvo7OzEunXrVMcgIiI741G4O+Pt7Q2D&#10;wYCKigoWIPpB3AmibpFSyp07d8JgMOCLL75QHYd+gI+PD06cOIHQ0FAu/kRELmLEiBGyublZdQxN&#10;GzVqFFJTU3H//fdz/tEtcSeIukUIIRYtWiSam5uxatUq9OnTR3Ukuon29nb85S9/UR2DiIjspLm5&#10;mQXoFjw9PZGYmAiz2cwCRHeEJYh6JDAwUKxfv1588sknePbZZ+Hp6ak6Ev2P5ORknDt3jlu9REQu&#10;IDc3V3UEzRo2bBiqqqqwdu1a0adPHxYguiMsQdQrkZGRIiUlRRw9ehRz586FEFx7tOLy5cvYsGGD&#10;6hhERGQH2dnZqiNojpeXFxISEmA2mxETE8MfQKhb+EwQ2VVtba1MTExEaWmp6igEoH///jh58iRC&#10;QkI4HIiIdOr06dMyPDycN7R+x+jRo7Fjxw5MmDCB8416hDtBZFc/+9nPRElJiSguLsb48eNVx3F7&#10;33zzDd8bRESkc7m5uSxA//XtzW+HDx9mAaJe4U4QOYyUUu7ZswevvfYaPvnkE9Vx3NaAAQPQ2tqK&#10;oKAgDgsiIh2aOnWq3L9/v+oYyj300EPYvn07hg8fznlGvcadIHIYIYSYO3eusFqteO+99xAZGak6&#10;klu6ePEi3nrrLdUxiIioBy5duiTd/Yh5QEAANm3ahIqKChYgshuWIHI4Ly8v8fzzz4sTJ04gMzMT&#10;I0aMUB3J7WzevBmnTp3iti8Rkc4UFBSgo6NDdQxlpk2bBqvVit/85jfCw8ODBYjshiWInMbDw+PG&#10;zlBeXh4mTJigOpLbaG9vx+uvv646BhERdZO7Xo09dOhQFBYWIj8/X0RERLD8kN3xmSBSymg0ytdf&#10;fx0mk0l1FJfn4eGBuro6vkSOiEgnrl27JgcPHoxLly6pjuI03t7eePHFF7F27Vr4+flxXpHDcCeI&#10;lHr88cdFTU2NKC0txZQpU1THcWk2mw2JiYmqYxAR0R0qLi52qwL06KOP4uOPP8Y777wjWIDI0ViC&#10;SBMeffRRYTQahcVi4UtXHaioqAhFRUXc/iUi0oGMjAzVEZwiNDQUqampKCkp4cUH5DQ8DkeaZLVa&#10;5aZNm7Br1y5cvXpVdRyXMnbsWJjNZvABUyIi7bpy5Yq866678PXXX6uO4jA+Pj5YtWoVEhMTefSN&#10;nI47QaRJo0aNEtu2bRNnzpzBxo0bcffdd6uO5DLq6+uxfft21TGIiOgW9u7d69IF6Ntb39asWcOj&#10;b6QEd4JIF2w2mywoKMCmTZtgNBpVx9G94OBgNDc3Y9CgQRw8REQaNHv2bJmdna06ht1FR0djw4YN&#10;ePrppzl/SCmWINIdi8Uik5OTkZaWhvb2dtVxdGvp0qXYvn07hxARkcZcunRJ3nXXXS51HDwoKAgG&#10;gwEvvfQS+vbty9lDyrEEkW6dPXtWpqSkYPPmzWhra1MdR3eEEKiursakSZM4jIiINCQ1NVU+99xz&#10;qmPYhbe3NxYvXow1a9bw9AFpCksQ6V57e7vMzMzEe++9h6qqKtVxdGXs2LGoq6uDl5cXBxMRkUbE&#10;xsbKffv2qY7RK0IIzJkzB0lJSfjxj3/MGUOawxJELqW5uVnu2LEDaWlpOHfunOo4uvDOO+8gISGB&#10;A4qISAMuXLggQ0ND0dnZqTpKj8XExGD9+vV46KGHOFtIs1iCyCV1dnbKvLw87NixAwcOHIDNZlMd&#10;SbMCAwPR2NiIsLAwDisiIsWSk5Pl8uXLVcfokREjRuBPf/oTZs6cCcEX/pHGsQSRyzt9+rTcuXMn&#10;tm3bhtbWVtVxNOnpp5/G3r17ObCIiBR75JFHZHl5ueoY3RIeHo7XXnsNS5Ys4fFq0g2WIHIbNptN&#10;lpaWIi0tDXv27HGpW3fsITU1FYsWLeLwIiJS5MyZMzIiIgJdXV2qo9yR4OBgvPrqq0hISICvry/n&#10;B+kKSxC5pQsXLsjdu3dj9+7dqKmpAf8/+M/1pVarFaGhoRxkREQKbNy4Ua5cuVJ1jNsaMGAAVqxY&#10;gZUrVyIwMJAzg3SJJYjc3meffSY//PBDZGVlobq6WnUcpXgsjohInYkTJ8ra2lrVMX6Qv78/4uPj&#10;YTAYEBQUxFlBusYSRPQdTU1N8oMPPkBGRgZaWlpUx1EiLS0NCxcu5HAjInKi1tZWGRUVpcmTCSw/&#10;5IpYgoh+QG1trczIyEBmZiZOnz6tOo7TBAUFoaGhARERERx0RERO8tZbb8nf/e53qmN8T1BQEF56&#10;6SWsWLGCx97I5bAEEd2GzWaT5eXlyMjIQE5ODs6fP686ksNNnjwZpaWl8PT05NAjInKCMWPGyI8/&#10;/lh1DAD/KT8rV65EQkICyw+5LJYgom6w2WzyyJEjyM/PR2ZmJpqamlRHcpg//vGP+MMf/sDhR0Tk&#10;YFarVY4ePVp1DAQEBODFF1/E6tWrMWDAAK7/5NJYgoh6obGxUebl5SEnJwd1dXWaPMvdU15eXigv&#10;L8eDDz7IQUhE5EArV66UGzduVPb5Q4YMQUJCAuLj4xEQEMA1n9wCSxCRnZw/f17u27cPe/fuRWFh&#10;IS5fvqw6Uq9FRESgvr4ewcHBHIpERA5w/fp1GR4ejrNnzzr9s6Ojo/HrX/8ay5Yt43t+yO2wBBE5&#10;wNdffy0PHDiA3NxcFBQU4KuvvlIdqcfmzJmDrKwsCCE4IImI7CwnJ0fOmjXLqZ/5yCOP4OWXX0Zs&#10;bCzXdnJbLEFEDtbV1SXr6+thNBphNBpRUVGBjo4O1bG6Zd26dXjllVc4KImI7GzmzJkyNzfX4Z/j&#10;4eGB2NhY/P73v0dMTAzXc3J7LEFETnb58mVpMplulCKLxaL5Z4k8PT1RWFiIJ554goOTiMhOzp07&#10;J8PDw9HZ2emwz/Dz88OCBQuwatUq/OQnP+EaTvRfLEFEiv3zn/+UxcXFKC4uRklJCS5cuKA60k0N&#10;HjwYZrMZ4eHhHKJERHawYcMG+dvf/tYh3/uee+7B8uXLsWzZMj7XSXQTLEFEGmKz2aTFYkFxcTGM&#10;RiNMJhOuXr2qOtYNEydORFlZGXx8fDhQiYh6yd7vBhJC4Be/+AXi4+Mxbdo0vuuN6BZYgog07Pr1&#10;67KhoQFVVVWorq7GwYMHle8UzZ07Fx988AEfpiUi6gWz2SzHjx9vl+8VEBCAZ555BgkJCfjpT3/K&#10;tZnoDrAEEelMa2ur/LYUVVVV4dixY07P8Oabb+KNN97goCUi6qGEhAS5efPmXn2P4cOHY/ny5Vi6&#10;dCn69+/PNZmoG1iCiHSura1NVlZWorq6GpWVlbBarejq6nLoZwohkJ6ejmeeeYZDl4iomzo6OmRo&#10;aCj+9a9/dftr/fz8EBcXh+effx4PP/ww12CiHmIJInIx//73v+WhQ4dw+PBhmM1mHD58GJ999pnd&#10;P6dv374oKCjAlClTOISJiLrh73//u4yLi+vW10yaNAlLlizBvHnzEBAQwHWXqJdYgojcwMWLF6XV&#10;aoXZbL7xyx7H6Pr164fi4mI8+OCDHMhERHdo2rRpsqCg4La/Lzg4GHFxcYiPj8eYMWO4zhLZEUsQ&#10;kZs6e/as/Ha36NtfbW1t3f4+AwcOREVFBUaOHMkBTUR0G1988YWMiIjA9evXb/rPfX19MX36dCxY&#10;sABTp06Ft7c311YiB2AJIqIbzpw5Iy0WC44ePYrGxkY0NjaiqakJ7e3tt/y68PBwVFZWIjIyksOa&#10;iOgW1q9fL1955ZXv/T1PT088/vjj+OUvf4lZs2bxuBuRE7AEEdEtdXV1yZMnT+Lo0aNoamq68dem&#10;piZ0dHTc+H3R0dEoKytDaGgohzcR0Q8YNWqUbGxshKenJ37+859j9uzZmDdvHn70ox9x7SRyIpYg&#10;IuqR69evy+PHj9/YMWpsbER7ezu2bNnCIkREdBMNDQ0yMTERs2fPxowZMzBo0CCulUSK/B+cBM2Q&#10;oAwbaQAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNy0wNi0xMlQwMzozNTowMSswODowMCO4ZmwAAAAl&#10;dEVYdGRhdGU6bW9kaWZ5ADIwMTYtMDQtMTZUMTU6NTk6MjIrMDg6MDBZ5vngAAAAVHRFWHRzdmc6&#10;YmFzZS11cmkAZmlsZTovLy9ob21lL2RiL3N2Z19pbmZvL3N2Zy82Yi9kZi82YmRmNGZkNjZmY2Ux&#10;N2QxNzA4NjNlOGNkYTRlYzQ3MS5zdmc5CMnmAAAAAElFTkSuQmCC&#10;\" id=\"image1\" x=\"236.31886\" y=\"232.5965\" style=\"fill:#808080\"/></svg>",
        "clickableShapes": [],
        "javascriptHandlers": [],
        "smilAnimations": [],
        "bindings": [],
        "showCoordinates": false,
        "autoFormatAfterEdit": false,
        "showBrowserErrors": false,
        "showBrowserEvents": false,
        "enableJsDebugging": false,
        "sendMsgWhenLoaded": false,
        "noClickWhenDblClick": false,
        "outputField": "payload",
        "editorUrl": "//drawsvg.org/drawsvg.html",
        "directory": "",
        "panning": "disabled",
        "zooming": "disabled",
        "panOnlyWhenZoomed": false,
        "doubleClickZoomEnabled": false,
        "mouseWheelZoomEnabled": false,
        "dblClickZoomPercentage": 150,
        "cssString": "div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}",
        "name": "",
        "x": 860,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9cfc56c057f287be",
        "type": "debug",
        "z": "9a3ea223177b17c7",
        "name": "debug 53",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 1660,
        "wires": []
    },
    {
        "id": "a0d5204df3f0cc47",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "temp",
        "func": "var value = msg.payload;\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#temp\",\n    \"textContent\": value\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 680,
        "wires": [
            [
                "9c238eacdfb8bbfa",
                "64047c987599d221"
            ]
        ]
    },
    {
        "id": "db3110c950e61917",
        "type": "ui_slider",
        "z": "9a3ea223177b17c7",
        "name": "",
        "label": "Temperature",
        "tooltip": "",
        "group": "779c2417187d5e0e",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-10",
        "max": "100",
        "step": "01",
        "className": "",
        "x": 290,
        "y": 700,
        "wires": [
            [
                "a0d5204df3f0cc47"
            ]
        ]
    },
    {
        "id": "0b5129ee3a2b0a73",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Cooling",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#cool\",\n    \"textContent\": \"Cooling:  ON\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 180,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "4beacf046e1ea3e2",
        "type": "ui_button",
        "z": "9a3ea223177b17c7",
        "name": "",
        "group": "779c2417187d5e0e",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Start heating",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "heating",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 460,
        "wires": [
            [
                "f00e0b02962532fd",
                "04e3cc78998026ab",
                "4d53ba92e367592f",
                "b9a9dc712c45120d",
                "53f2255509e45a1d"
            ]
        ]
    },
    {
        "id": "4cf5374a048c9fd9",
        "type": "inject",
        "z": "9a3ea223177b17c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 800,
        "wires": [
            [
                "66eacb66e7f8744e",
                "be979289de5803b4"
            ]
        ]
    },
    {
        "id": "66eacb66e7f8744e",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "function temp",
        "func": "var obtain_global_temp = global.get(\"global_temp\");\nmsg.payload = obtain_global_temp;\nmsg.title = \"temp\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 780,
        "wires": [
            [
                "4c9a11836488b7ea"
            ]
        ]
    },
    {
        "id": "be979289de5803b4",
        "type": "change",
        "z": "9a3ea223177b17c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$now('[D01]-[M01]-[Y0001] [H01]:[m01]:[s01] [PN]', '+0800')",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "title",
                "pt": "msg",
                "to": "dt_stamp",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 740,
        "wires": [
            [
                "4c9a11836488b7ea"
            ]
        ]
    },
    {
        "id": "4c9a11836488b7ea",
        "type": "join",
        "z": "9a3ea223177b17c7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "title",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 890,
        "y": 780,
        "wires": [
            [
                "7ed009ba44da935a"
            ]
        ]
    },
    {
        "id": "7ed009ba44da935a",
        "type": "json",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 890,
        "y": 680,
        "wires": [
            [
                "b388a169184346b0"
            ]
        ]
    },
    {
        "id": "64047c987599d221",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "global temp",
        "func": "global.set(\"global_temp\", msg.payload.textContent);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b388a169184346b0",
        "type": "mqtt out",
        "z": "9a3ea223177b17c7",
        "name": "",
        "topic": "office",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b176930bc7a278d5",
        "x": 1030,
        "y": 680,
        "wires": []
    },
    {
        "id": "645f8bc5f59cbb9e",
        "type": "mqtt in",
        "z": "9a3ea223177b17c7",
        "name": "",
        "topic": "office",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "b176930bc7a278d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 460,
        "wires": [
            [
                "4cd7c197e3b87381",
                "7a21e0c9c51d9a03"
            ]
        ]
    },
    {
        "id": "4cd7c197e3b87381",
        "type": "json",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "3dc6d2ea0a179607",
                "c16b8441758dd944",
                "1ed0a04e50232674"
            ]
        ]
    },
    {
        "id": "3dc6d2ea0a179607",
        "type": "switch",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload.act",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cooling",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stopcooling",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "0b5129ee3a2b0a73",
                "83414141921a3087",
                "ac628dcd4de8e9c4",
                "99661e4ada24195c"
            ],
            [
                "b7edca2cdb0eee46",
                "3910a25aabd4523d"
            ]
        ]
    },
    {
        "id": "0bf6d8b617dd20fa",
        "type": "influxdb out",
        "z": "9a3ea223177b17c7",
        "influxdb": "103b79084ecb7eba",
        "name": "office",
        "measurement": "location=office",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "FICT",
        "bucket": "office",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "c16b8441758dd944",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "function 47",
        "func": "msg.payload = {temperature:msg.payload.temp};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 60,
        "wires": [
            [
                "0bf6d8b617dd20fa"
            ]
        ]
    },
    {
        "id": "28b792b7d105ccb2",
        "type": "ui_chart",
        "z": "9a3ea223177b17c7",
        "name": "",
        "group": "779c2417187d5e0e",
        "order": 9,
        "width": "11",
        "height": "7",
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "e419883502fdcad5",
        "type": "json",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 910,
        "y": 440,
        "wires": [
            [
                "b388a169184346b0"
            ]
        ]
    },
    {
        "id": "f00e0b02962532fd",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "function 49",
        "func": "msg.payload = \"{\\\"act\\\":\\\"\" + msg.payload + \"\\\"}\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 520,
        "wires": [
            [
                "e419883502fdcad5"
            ]
        ]
    },
    {
        "id": "44c676982eb99049",
        "type": "ui_button",
        "z": "9a3ea223177b17c7",
        "name": "",
        "group": "779c2417187d5e0e",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Start Cooling",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "cooling",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 200,
        "wires": [
            [
                "0b5129ee3a2b0a73",
                "f00e0b02962532fd",
                "83414141921a3087",
                "ac628dcd4de8e9c4",
                "99661e4ada24195c"
            ]
        ]
    },
    {
        "id": "83414141921a3087",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Heating off",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#heat\",\n    \"textContent\": \"Heating:  OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "04e3cc78998026ab",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Cooling off",
        "func": "msg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#cool\",\n    \"textContent\": \"Cooling: OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "ac628dcd4de8e9c4",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#cold\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"blue\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 260,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "4d53ba92e367592f",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#hot\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"red\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "b9a9dc712c45120d",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour for cooling",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#cold\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 540,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "99661e4ada24195c",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour for heating",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#hot\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 300,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "b7edca2cdb0eee46",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Cooling",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#cool\",\n    \"textContent\": \"Cooling:  OFF\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "0fc52b23ae5ab8f8",
        "type": "ui_button",
        "z": "9a3ea223177b17c7",
        "name": "",
        "group": "779c2417187d5e0e",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Off Cooling",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stopcooling",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 340,
        "wires": [
            [
                "b7edca2cdb0eee46",
                "3910a25aabd4523d",
                "f00e0b02962532fd"
            ]
        ]
    },
    {
        "id": "3910a25aabd4523d",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#cold\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 380,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "15fa5aad4504b9d8",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Heating",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#heat\",\n    \"textContent\": \"Heating:  OFF\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 580,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "43fef5f008208294",
        "type": "ui_button",
        "z": "9a3ea223177b17c7",
        "name": "",
        "group": "779c2417187d5e0e",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Off Heating",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stopheating",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 580,
        "wires": [
            [
                "15fa5aad4504b9d8",
                "e3fb153ee23d1ea4",
                "f00e0b02962532fd"
            ]
        ]
    },
    {
        "id": "e3fb153ee23d1ea4",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#hot\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 620,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "b188422c77bdf1e6",
        "type": "ui_numeric",
        "z": "9a3ea223177b17c7",
        "name": "",
        "label": "Set desired temperature ",
        "tooltip": "",
        "group": "779c2417187d5e0e",
        "order": 5,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "",
        "min": "15",
        "max": "30",
        "step": 1,
        "className": "",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "e03ca54d5bac5704"
            ]
        ]
    },
    {
        "id": "1ed0a04e50232674",
        "type": "switch",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload.act",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "heating",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stopheating",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "04e3cc78998026ab",
                "4d53ba92e367592f",
                "b9a9dc712c45120d",
                "53f2255509e45a1d"
            ],
            [
                "15fa5aad4504b9d8",
                "e3fb153ee23d1ea4"
            ]
        ]
    },
    {
        "id": "53f2255509e45a1d",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Heating",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#heat\",\n    \"textContent\": \"Heating:  ON\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "e03ca54d5bac5704",
        "type": "switch",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "global_temp",
                "vt": "global"
            },
            {
                "t": "gt",
                "v": "global_temp",
                "vt": "global"
            },
            {
                "t": "eq",
                "v": "global_temp",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 410,
        "y": 980,
        "wires": [
            [
                "3e70b27c39678b77",
                "359bfe74dd64a6e9",
                "824c95cd813ed1f7",
                "86d5407f369484ce"
            ],
            [
                "a3bd02e5c0eec496",
                "8291f7549df25759",
                "a97110c612638160",
                "e6e3850ee430080c"
            ],
            [
                "eab3b95b6ec5859d",
                "be67a3cc88a795d0",
                "5807fbd40b20a485",
                "d2df6ce5ef637a17"
            ]
        ]
    },
    {
        "id": "3e70b27c39678b77",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Cooling",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#cool\",\n    \"textContent\": \"Cooling:  ON\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 840,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "359bfe74dd64a6e9",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Heating off",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#heat\",\n    \"textContent\": \"Heating:  OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 880,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "8291f7549df25759",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Cooling off",
        "func": "msg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#cool\",\n    \"textContent\": \"Cooling: OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 1040,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "824c95cd813ed1f7",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#cold\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"blue\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 920,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "a97110c612638160",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#hot\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"red\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1080,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "e6e3850ee430080c",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour for cooling",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#cold\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1120,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "86d5407f369484ce",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour for heating",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#hot\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 960,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "eab3b95b6ec5859d",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Cooling",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#cool\",\n    \"textContent\": \"Cooling:  OFF\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1240,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "be67a3cc88a795d0",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#cold\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1280,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "5807fbd40b20a485",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Heating",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#heat\",\n    \"textContent\": \"Heating:  OFF\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1160,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "d2df6ce5ef637a17",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#hot\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1200,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "a3bd02e5c0eec496",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Heating",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#heat\",\n    \"textContent\": \"Heating:  ON\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "2cd5f00c7854e0d9"
            ]
        ]
    },
    {
        "id": "2cd5f00c7854e0d9",
        "type": "link out",
        "z": "9a3ea223177b17c7",
        "name": "link out 6",
        "mode": "link",
        "links": [
            "93b0ae60a0435673"
        ],
        "x": 905,
        "y": 1020,
        "wires": []
    },
    {
        "id": "93b0ae60a0435673",
        "type": "link in",
        "z": "9a3ea223177b17c7",
        "name": "link in 4",
        "links": [
            "2cd5f00c7854e0d9",
            "111df330cd2c1651"
        ],
        "x": 895,
        "y": 380,
        "wires": [
            [
                "9c238eacdfb8bbfa"
            ]
        ]
    },
    {
        "id": "7a21e0c9c51d9a03",
        "type": "json",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 90,
        "y": 640,
        "wires": [
            [
                "b188422c77bdf1e6"
            ]
        ]
    },
    {
        "id": "851129defe8edc27",
        "type": "influxdb in",
        "z": "9a3ea223177b17c7",
        "influxdb": "761e3179b1e0c54e",
        "name": "office",
        "query": "data = from(bucket: \"office\")\n  |> range(start: -1h)\n  |> filter(fn: (r) =>\n    r._measurement == \"location=office\" and\n    r._field == \"temperature\"\n  )\n  |> last(column: \"_time\")\n  |> yield()\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "FICT",
        "x": 230,
        "y": 1280,
        "wires": [
            [
                "b5d3597a08082e9a"
            ]
        ]
    },
    {
        "id": "b5d3597a08082e9a",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "function 50",
        "func": "msg.payload = msg.payload[0]._value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1320,
        "wires": [
            [
                "28b792b7d105ccb2",
                "5a6e538ff5280e6d"
            ]
        ]
    },
    {
        "id": "0eac1dd2c3d931d3",
        "type": "inject",
        "z": "9a3ea223177b17c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1140,
        "wires": [
            [
                "851129defe8edc27",
                "efeca2abaf1c4084"
            ]
        ]
    },
    {
        "id": "efeca2abaf1c4084",
        "type": "influxdb in",
        "z": "9a3ea223177b17c7",
        "influxdb": "761e3179b1e0c54e",
        "name": "office",
        "query": "data = from(bucket: \"office\")\n  |> range(start: -5m)\n  |> timeShift(duration: 8h)\n  |> filter(fn: (r) =>\n    r._measurement == \"location=office\" and\n    r._field == \"temperature\"\n  )\n  |> sort(columns: [\"_time\"], desc: false)\n  |> yield()\n",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "FICT",
        "x": 170,
        "y": 1360,
        "wires": [
            [
                "b1bf0628e82a51e2",
                "9cfc56c057f287be"
            ]
        ]
    },
    {
        "id": "b1bf0628e82a51e2",
        "type": "ui_table",
        "z": "9a3ea223177b17c7",
        "group": "779c2417187d5e0e",
        "name": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "columns": [
            {
                "field": "_time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "_value",
                "title": "Value",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 270,
        "y": 1460,
        "wires": []
    },
    {
        "id": "2a390f041913ed1a",
        "type": "debug",
        "z": "9a3ea223177b17c7",
        "name": "debug 54",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1500,
        "wires": []
    },
    {
        "id": "5a6e538ff5280e6d",
        "type": "switch",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "38",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1420,
        "wires": [
            [
                "af80ee95c6fd6d9f"
            ],
            [
                "42e9ccac90623a08"
            ]
        ]
    },
    {
        "id": "af80ee95c6fd6d9f",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "function 51",
        "func": "var opts = {\n    reply_markup: JSON.stringify({\n        \"inline_keyboard\": [[\n            {\n                \"text\": \"Start heating\",\n                \"callback_data\": \"heat\"\n            }\n            ]\n        ]\n    })\n};\n\nmsg.payload = {\n    chatId: \"5982914586\",\n    messageId: \"6\",\n    sentMessageId: \"6\",\n    type: \"message\",\n    content: \"Temp: \" + msg.payload + \" - too low\"\n};\nmsg.payload.options = opts;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1420,
        "wires": [
            [
                "a4aae6a1be44b35f"
            ]
        ]
    },
    {
        "id": "42e9ccac90623a08",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "function 53",
        "func": "var opts = {\n  reply_markup: JSON.stringify({\n    \"inline_keyboard\": [[\n      {\n        \"text\": \"Start cooling\",\n        \"callback_data\": \"cool\"\n      }\n      ]\n    ]\n  })\n};\n\nmsg.payload = {\n  chatId: \"5982914586\",\n  messageId: \"6\",\n  sentMessageId: \"6\",\n  type: \"message\",\n  content: \"Temp: \" + msg.payload + \" - too high\"};\nmsg.payload.options = opts;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 1500,
        "wires": [
            [
                "a4aae6a1be44b35f"
            ]
        ]
    },
    {
        "id": "a4aae6a1be44b35f",
        "type": "delay",
        "z": "9a3ea223177b17c7",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "20",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 1460,
        "wires": [
            [
                "3acf212e1a2f8f4c"
            ]
        ]
    },
    {
        "id": "3acf212e1a2f8f4c",
        "type": "telegram sender",
        "z": "9a3ea223177b17c7",
        "name": "",
        "bot": "73dd88ebb0224e53",
        "haserroroutput": false,
        "outputs": 1,
        "x": 830,
        "y": 1560,
        "wires": [
            [
                "9cfc56c057f287be"
            ]
        ]
    },
    {
        "id": "62c01c7ae9345c10",
        "type": "switch",
        "z": "9a3ea223177b17c7",
        "name": "",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "cool",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 1680,
        "wires": [
            [
                "e0b9f34086134e57",
                "b6931d4c4657ddc7",
                "b3b5bf5e40fcb315",
                "7ac63621d52a8daf",
                "2fc68b969976ee73"
            ],
            [
                "f3ef395ee9e5b7fb",
                "2af1dec3004945d0",
                "8988b3d00786ed64",
                "4d2d442eb68542df",
                "5d74010b62dd84df"
            ]
        ]
    },
    {
        "id": "e0b9f34086134e57",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Cooling",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#cool\",\n    \"textContent\": \"Cooling:  ON\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 1580,
        "wires": [
            [
                "111df330cd2c1651"
            ]
        ]
    },
    {
        "id": "b6931d4c4657ddc7",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Heating off",
        "func": "\nmsg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#heat\",\n    \"textContent\": \"Heating:  OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1620,
        "wires": [
            [
                "111df330cd2c1651"
            ]
        ]
    },
    {
        "id": "b3b5bf5e40fcb315",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#cold\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"blue\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 1660,
        "wires": [
            [
                "111df330cd2c1651"
            ]
        ]
    },
    {
        "id": "7ac63621d52a8daf",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour for heating",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#hot\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1700,
        "wires": [
            [
                "111df330cd2c1651"
            ]
        ]
    },
    {
        "id": "111df330cd2c1651",
        "type": "link out",
        "z": "9a3ea223177b17c7",
        "name": "link out 7",
        "mode": "link",
        "links": [
            "93b0ae60a0435673"
        ],
        "x": 725,
        "y": 1700,
        "wires": []
    },
    {
        "id": "2af1dec3004945d0",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Cooling off",
        "func": "msg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#cool\",\n    \"textContent\": \"Cooling: OFF\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1780,
        "wires": [
            [
                "111df330cd2c1651"
            ]
        ]
    },
    {
        "id": "8988b3d00786ed64",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#hot\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"red\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1820,
        "wires": [
            [
                "111df330cd2c1651"
            ]
        ]
    },
    {
        "id": "4d2d442eb68542df",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "change colour for cooling",
        "func": "msg.payload = {\n    \"command\": \"set_style\",\n    \"selector\": \"#cold\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"#808080\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1860,
        "wires": [
            [
                "111df330cd2c1651"
            ]
        ]
    },
    {
        "id": "f3ef395ee9e5b7fb",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "Heating",
        "func": "msg.payload = {\n    \"command\": \"update_text\",\n    \"selector\": \"#heat\",\n    \"textContent\": \"Heating:  ON\"\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1740,
        "wires": [
            [
                "111df330cd2c1651"
            ]
        ]
    },
    {
        "id": "2d55c8e1beeb74fd",
        "type": "telegram event",
        "z": "9a3ea223177b17c7",
        "name": "",
        "bot": "73dd88ebb0224e53",
        "event": "callback_query",
        "autoanswer": false,
        "x": 120,
        "y": 1620,
        "wires": [
            [
                "62c01c7ae9345c10",
                "2a390f041913ed1a"
            ]
        ]
    },
    {
        "id": "2fc68b969976ee73",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "callbackquery",
        "func": "var text = \"Cooling.\";\nvar options = {\n   \n    show_alert: true,\n    cache_time: 5\n};\n\nmsg.payload.content = text;\nmsg.payload.options = options;\nmsg.payload.type = \"answerCallbackQuery\";\n\nreturn [msg];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 1780,
        "wires": [
            [
                "3acf212e1a2f8f4c"
            ]
        ]
    },
    {
        "id": "5d74010b62dd84df",
        "type": "function",
        "z": "9a3ea223177b17c7",
        "name": "callbackquery",
        "func": "var text = \"Heating.\";\nvar options = {\n   \n    show_alert: true,\n    cache_time: 5\n};\n\nmsg.payload.content = text;\nmsg.payload.options = options;\nmsg.payload.type = \"answerCallbackQuery\";\n\nreturn [msg];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 1840,
        "wires": [
            [
                "3acf212e1a2f8f4c"
            ]
        ]
    },
    {
        "id": "779c2417187d5e0e",
        "type": "ui_group",
        "name": "Monitering system",
        "tab": "03c6ef04eb59a825",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b176930bc7a278d5",
        "type": "mqtt-broker",
        "name": "Office",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "103b79084ecb7eba",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "db01",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "761e3179b1e0c54e",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb value",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "timeout": "10",
        "rejectUnauthorized": true
    },
    {
        "id": "73dd88ebb0224e53",
        "type": "telegram bot",
        "botname": "office",
        "usernames": "",
        "chatids": "5982914586",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "03c6ef04eb59a825",
        "type": "ui_tab",
        "name": "Office",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]